<% @past.each do |event| %>
	
	<% if event.category == 'Arts' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap art_fil">
	<% elsif event.category == 'Entrepreneurial' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap biz_fil">
	<% elsif event.category == 'Sports & Rec' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap sports_fil">
	<% elsif event.category == 'Music' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap music_fil">
	<% elsif event.category == 'Other' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap other_fil">
	<% end %>
		
		<div id="p_list_top">
			<span class="l">
		    </span>

		    <span class="r">

		    	<% if member_signed_in? %>
		    		<% if event.member != current_member %>
			    		<span id="evt_fol_<%= event.id %>_<%= event.member.id %>">
						    <%= render :partial => "shared/follow_event2", :locals => {:event => event} %>
						</span>
					<% end %>
			    	<span id="evt_fav_<%= event.id %>_<%= event.member.id %>">
					    <%= render :partial => "events/fav_button_stream", :locals => {:event => event} %>
					</span>
				<% else %>
					<%= render :partial => "events/logged_out_buttons", :locals => {:event => event} %>
				<% end %>

				<% if member_signed_in? %>
			        <% if current_member == event.member %>
				        <%= render :partial => "events/dropdown_toggle", :locals => {:event => event} %>
			        <% end %>
		      	<% end %>

		    </span>
		    <div style="clear:both;"></div>
		</div>

		<div class="p-av">
			<% if event.start_date && event.end_date < Date.today %>
				<div class="ev_cmpl">
					<%= image_tag("Past Event.png", title: 'Finished', alt: 'Finished') %>
				</div>
			<% end %>
			<%= avatar_event_link event, class: "p_ev_av", title: event.name, alt: event.name %>
		</div>

		<div id="pl_middle">
			<div id="pl_info">
				<div class="el_t">
					<%= link_to event.name, event_path(event) %>
				</div>

				<div class="pl_ts">
					<%= event.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "events", :action => "index", :events => m}, title: m, alt: m }.join(' ').html_safe %>
				</div>
			</div>

			<div class="pl_bl">
				<%= event.blurb %>
			</div>
		</div>

		<% if event.location? %>
			<div class="e_loc">
				<%= link_to(:controller => "events", :action => "index", :events => event.location) do %>
	                <i class="fa fa-map-marker"></i><%= event.location.titleize %>
	            <% end %>
			</div>
		<% end %>

		<div class="el_tm">
			<%= event.start_date.strftime("%b %d %Y") %>
		</div>

		<div class="el_tm2">
		 	<% if event.start_time.strftime("%I:%M %p") == '12:00 AM' && event.end_time.strftime("%I:%M %p") == '12:00 AM' %>
            	All Day
          	<% else %>
            	<%= event.start_time.strftime("%I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %>
          	<% end %>
		</div>

	</div>

<% end %>