<% @events.each do |event| %>
	
	<% if event.category == 'Arts' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap art_fil">
	<% elsif event.category == 'Entrepreneurial' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap biz_fil">
	<% elsif event.category == 'Sports' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap sports_fil">
	<% elsif event.category == 'Music' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap music_fil">
	<% elsif event.category == 'Other' %>
		<div id="event_<%= event.id %>_<%= event.member.id %>" class="p_list_wrap other_fil">
	<% end %>
		
		<div id="p_list_top">
			<span class="l">
		      <% if event.category == 'Arts' %>
		        <%= image_tag("/assets/Arts Category 2.png", class: 'ims', title: 'Arts') %>
		      <% end %>
		      <% if event.category == 'Entrepreneurial' %>
		        <%= image_tag("/assets/Biz Category 2.png", class: 'ims', title: 'Entrepreneurial') %>
		      <% end %>
		      <% if event.category == 'Sports' %>
		        <%= image_tag("/assets/Sports Category 2.png", class: 'ims', title: 'Sports') %>
		      <% end %>
		      <% if event.category == 'Music' %>
		        <%= image_tag("/assets/Music Category 2.png", class: 'ims', title: 'Music') %>
		      <% end %>
		      <% if event.category == 'Other' %>
		        <%= image_tag("/assets/Other Category 2.png", class: 'ims', title: 'Other') %>
		      <% end %>
		    </span>

		    <span class="r">
		    	<% if member_signed_in? %>
		    		<% unless event.member == current_member %>
			    		<span id="evt_fol_<%= event.id %>_<%= event.member.id %>">
						    <%= render :partial => "shared/follow_event2", :locals => {:event => event} %>
						</span>
					<% end %>
			    	<span id="evt_fav_<%= event.id %>_<%= event.member.id %>">
					    <%= render :partial => "events/fav_button_stream", :locals => {:event => event} %>
					</span>
			        <% if current_member == event.member %>
				        <span class="btn-group">
				          <%= link_to image_tag("/assets/More 2.png", class: 'ims-act', title: 'Options'), "/page.html", :class => "dropdown-toggle", :data => {:toggle => "dropdown", :target=>"#"} %>
				            <ul class="dropdown-menu">            
				              <li>
				                <%= link_to "Edit", edit_event_path(event), class: '' %>
				              </li>
				              <li class="del">
				                <%= link_to "Delete", event_path(event.id), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
				              </li>
				            </ul>
				        </span>
			        <% end %>
		      	<% end %>
		    </span>
		    <div style="clear:both;"></div>
		</div>

		<div class="p-av">
			<%= avatar_event_link event, title: event.name, alt: event.name %>
		</div>

		<div id="pl_middle">
			<div id="pl_info">
				<div class="el_t">
					<%= link_to event.name, event_path(event) %>
				</div>

				<div class="pl_ts">
					<%= event.marker_list.map { |m| link_to truncate_tag('+ ' + m.titleize), {:controller => "events", :action => "index", :events => m}, title: m.titleize, alt: m.titleize }.join(' ').html_safe %>
				</div>
			</div>

			<div class="pl_bl">
				<%= raw Rinku.auto_link(event.blurb) %>
			</div>
		</div>

		<% if event.location? %>
			<div class="e_loc">
				<%= link_to(:controller => "events", :action => "index", :events => event.location) do %>
	                <i class="icon-map-marker icon-blue"></i> <%= event.location.titleize %>
	            <% end %>
			</div>
		<% end %>

		<div class="el_tm">
			<%= event.start_date.strftime("%b %d %Y") %>
		</div>

		<div class="el_tm2">
		 	<% if event.start_time.strftime("%I:%M %p") == '12:00 AM' && event.end_time.strftime("%I:%M %p") == '12:00 AM' %>
            	All Day
          	<% else %>
            	<%= event.start_time.strftime("%I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %>
          	<% end %>
		</div>

	</div>

<% end %>