

<div id="follow_item_wrap">

	<div class="avatar">
		<%= avatar_profile follow, title: follow.full_name, alt: follow.full_name %>
	</div> 

	<div class="bottom">
		<div class="name">
			<%= follow.full_name %>
		</div> 

		<div class="username">
			<%= follow.user_name %>
		</div>

		<% if member_signed_in? %>
            <span id="gl_follow_<%= follow.id %>" class="gl_follow">
                <%= render :partial => "shared/follow_member2", :locals => {:member => follow} %>
            </span>
        <% end %> 

		<div class="pursuits">
			<%= follow.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :discover => p }.join(', ').html_safe %>
		</div>

		<div class="location">
			<% if follow.city? %>
                <%= link_to follow.city.titleize, :controller => "search", :action => "search", :discover => follow.city %>
            <% end %>
		</div> 
	</div>

</div>

