<% @following.each do |follow| %>

	<% if follow.category == 'Arts' %>
		<div id="event_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap art_fil">
	<% elsif follow.category == 'Entrepreneurial' %>
		<div id="event_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap biz_fil">
	<% elsif follow.category == 'Sports' %>
		<div id="event_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap sports_fil">
	<% elsif follow.category == 'Music' %>
		<div id="event_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap music_fil">
	<% elsif follow.category == 'Other' %>
		<div id="event_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap other_fil">
	<% end %>		

		<div id="p_list_top">
			<span class="l">
		      <%= avatar_profile_link follow.member, :class => "pr_av", title: follow.member.full_name, alt: follow.member.full_name %>
		      <% if follow.category == 'Arts' %>
		        <%= image_tag("/assets/Arts Category 2.png", class: 'ims', title: 'Arts') %>
		      <% end %>
		      <% if follow.category == 'Entrepreneurial' %>
		        <%= image_tag("/assets/Biz Category 2.png", class: 'ims', title: 'Entrepreneurial') %>
		      <% end %>
		      <% if follow.category == 'Sports' %>
		        <%= image_tag("/assets/Sports Category 2.png", class: 'ims', title: 'Sports') %>
		      <% end %>
		      <% if follow.category == 'Music' %>
		        <%= image_tag("/assets/Music Category 2.png", class: 'ims', title: 'Music') %>
		      <% end %>
		      <% if follow.category == 'Other' %>
		        <%= image_tag("/assets/Other Category 2.png", class: 'ims', title: 'Other') %>
		      <% end %>
		    </span>

		    <span class="r">
		    	<% if member_signed_in? %>
		    		<% unless follow.member == current_member %>
			    		<span id="evt_fol_<%= follow.id %>_<%= follow.member.id %>">
						    <%= render :partial => "shared/follow_event2", :locals => {:event => follow} %>
						</span>
					<% end %>
			    	<span id="evt_fav_<%= follow.id %>_<%= follow.member.id %>">
					    <%= render :partial => "events/fav_button_stream", :locals => {:event => follow} %>
					</span>
		      	<% end %>
		    </span>
		    <div style="clear:both;"></div>
		</div>

		<div class="p-av">
			<%= avatar_event_link follow, title: follow.name, alt: follow.name %>
		</div>

		<div id="pl_middle">
			<div id="pl_info">
				<div class="pl_t">
					<%= link_to follow.name, event_path(follow) %>
				</div>

				<div class="pl_ts">
					<%= follow.marker_list.map { |m| link_to truncate_tag('+ ' + m.titleize), {:controller => "events", :action => "index", :events => m}, title: m.titleize, alt: m.titleize }.join(' ').html_safe %>
				</div>
			</div>

			<div class="pl_bl">
				<%= raw Rinku.auto_link(follow.blurb) %>
			</div>
		</div>

		<% if follow.location? %>
			<div class="e_loc">
				<%= link_to(:controller => "events", :action => "index", :events => follow.location) do %>
	                <i class="icon-map-marker icon-blue"></i> <%= follow.location.titleize %>
	            <% end %>
			</div>
		<% end %>

		<div class="pl_tm">
			<%= follow.start_date.strftime("%b %d %Y") %>
		</div>

		<div class="el_tm2">
		 	<% if follow.start_time.strftime("%I:%M %p") == '12:00 AM' && follow.end_time.strftime("%I:%M %p") == '12:00 AM' %>
            	All Day
          	<% else %>
            	<%= follow.start_time.strftime("%I:%M %p") %> - <%= follow.end_time.strftime("%I:%M %p") %>
          	<% end %>
		</div>

	</div>

<% end %>