<% @following.each do |follow| %>

	<% if follow.category == 'Arts' %>
		<div id="project_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap art_fil">
	<% elsif follow.category == 'Entrepreneurial' %>
		<div id="project_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap biz_fil">
	<% elsif follow.category == 'Sports' %>
		<div id="project_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap sports_fil">
	<% elsif follow.category == 'Music' %>
		<div id="project_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap music_fil">
	<% elsif follow.category == 'Other' %>
		<div id="project_<%= follow.id %>_<%= follow.member.id %>" class="p_list_wrap other_fil">
	<% end %>	

		<div id="p_list_top">
			<span class="l">
		      <%= avatar_profile_link follow.member, :class => "pr_av", title: follow.member.full_name, alt: follow.member.full_name %>
		      <% if follow.category == 'Arts' %>
		        <%= image_tag("/assets/Arts Category 2.png", class: 'ims', title: 'Arts') %>
		      <% end %>
		      <% if follow.category == 'Entrepreneurial' %>
		        <%= image_tag("/assets/Biz Category 2.png", class: 'ims', title: 'Entrepreneurial') %>
		      <% end %>
		      <% if follow.category == 'Sports' %>
		        <%= image_tag("/assets/Sports Category 2.png", class: 'ims', title: 'Sports') %>
		      <% end %>
		      <% if follow.category == 'Music' %>
		        <%= image_tag("/assets/Music Category 2.png", class: 'ims', title: 'Music') %>
		      <% end %> 
		      <% if follow.category == 'Other' %>
		        <%= image_tag("/assets/Other Category 2.png", class: 'ims', title: 'Other') %>
		      <% end %>
		    </span>

		    <span class="r">
		    	<% if member_signed_in? %>
		    		<% unless follow.member == current_member %>
			    		<span id="prj_fol_<%= follow.id %>_<%= follow.member.id %>">
						    <%= render :partial => "shared/follow_project2", :locals => {:project => follow} %>
						</span>
					<% end %>
			    	<span id="prj_fav_<%= follow.id %>_<%= follow.member.id %>">
					    <%= render :partial => "projects/fav_button_stream", :locals => {:project => follow} %>
					</span>
		        <% end %>
		    </span>
		    <div style="clear:both;"></div>
		</div>

		<div class="p-av">
			<%= avatar_project_link follow, title: follow.title, alt: follow.title %>
		</div>

		<div id="pl_middle">
			<div id="pl_info">
				<div class="pl_t">
					<%= link_to follow.name, project_path(follow) %>
				</div>

				<div class="pl_ts">
					<%= follow.marker_list.map { |m| link_to truncate_tag('+ ' + m.titleize), {:controller => "projects", :action => "index", :projects => m}, title: m.titleize, alt: m.titleize }.join(' ').html_safe %>
				</div>
			</div>

			<div class="pl_bl">
				<%= raw Rinku.auto_link(follow.blurb) %>
			</div>
		</div>

		<% if follow.city? %>
			<div class="e_loc">
				<%= link_to(:controller => "projects", :action => "index", :projects => follow.city) do %>
	                <i class="icon-map-marker icon-blue"></i> <%= follow.city.titleize %>
	            <% end %>
			</div>
		<% end %>

		<div class="pl_tm">
			<%= follow.created_at.strftime("%b %d %Y") %>
		</div>

	</div>

<% end %>