<% @following.each do |follow| %>

<div id="follow_item_wrap">

	<div class="avatar">
		<%= follow_profile_link follow %>
	</div> 

	<div class="bottom">
		<div class="name">
			<%= follow.full_name %>
		</div> 

		<div class="username">
			<%= "@" + follow.user_name %>
		</div> 

		<div class="pursuits">
			<%= follow.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :search => p }.join(', ').html_safe %>
		</div>

		<div class="location">
			<% if follow.city? %>
                <%= link_to follow.city, :controller => "search", :action => "search", :search => follow.city %>
            <% end %>
            <% if follow.state? %>
                <%= link_to follow.state, :controller => "search", :action => "search", :search => follow.state %>
            <% end %>
            <% if follow.country? %>
                <%= link_to follow.country, :controller => "search", :action => "search", :search => follow.country %>
            <% end %>
		</div> 
	</div>

</div>

<% end %>