<% @followers.each do |follower| %>

	<div id="follow_item_wrap">

		<div class="avatar">
			<%= follow_profile_link follower, title: follower.full_name, alt: follower.full_name %>
		</div> 

		<div class="bottom">
			<div class="name">
				<%= follower.full_name %>
			</div> 

			<div class="username">
				<%= "@" + follower.user_name %>
			</div> 

			<div class="pursuits">
				<%= follower.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :discover => p }.join(', ').html_safe %>
			</div>

			<div class="location">
				<% if follower.city? %>
	                <%= link_to follower.city, :controller => "search", :action => "search", :discover => follower.city %>
	            <% end %>
	            <% if follower.state? %>
	                <%= link_to follower.state, :controller => "search", :action => "search", :discover => follower.state %>
	            <% end %>
	            <% if follower.country? %>
	                <%= link_to follower.country, :controller => "search", :action => "search", :discover => follower.country %>
	            <% end %>
			</div>
		</div>

	</div>

<% end %>