<% @following.each do |project| %>

	<% if project.category == 'Arts' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap art_fil">
	<% elsif project.category == 'Entrepreneurial' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap biz_fil">
	<% elsif project.category == 'Sports & Rec' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap sports_fil">
	<% elsif project.category == 'Music' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap music_fil">
	<% elsif project.category == 'Other' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap other_fil">
	<% end %>

		<div id="p_list_top">
			<span class="l">
			  <%= avatar_profile_link project.member, :class => "pr_av", title: project.member.full_name, alt: project.member.full_name %>
		    </span>

		    <span class="r">

		    	<% if member_signed_in? %>
		    		<% if project.member != current_member %>
			    		<span id="prj_fol_<%= project.id %>_<%= project.member.id %>">
						    <%= render :partial => "shared/follow_project2", :locals => {:project => project} %>
						</span>
					<% else %>
						<span id="prj_fol_<%= project.id %>_<%= project.member.id %>">
						    <%= image_tag("Follow E-P 3.png", class: "ims-act", title: "Can't Follow", alt: "Can't Follow") %>
						</span>
					<% end %>
			    	<span id="prj_fav_<%= project.id %>_<%= project.member.id %>">
					    <%= render :partial => "projects/fav_button_stream", :locals => {:project => project} %>
					</span>
				<% else %>
					<span id="prj_fol_<%= project.id %>_<%= project.member.id %>" class="l_out">
					    <%= image_tag("Follow E-P 3.png", class: "ims-act", title: "Follow", alt: "Follow") %>
					</span>
					<span id="prj_fav_<%= project.id %>_<%= project.member.id %>" class="l_out">
					    <%= image_tag("Favorite 7.png", class: "ims-act", title: "Favorite", alt: "Favorite") %>
					</span>
				<% end %>

				<% if member_signed_in? %>
			        <% if current_member == project.member %>
				        <span class="btn-group">
				          <%= link_to image_tag("/assets/More 5.png", class: 'ims-act', title: 'Options'), "/page.html", :class => "dropdown-toggle", :data => {:toggle => "dropdown", :target=>"#"} %>
				            <ul class="dropdown-menu">            
				              <li>
				                <%= link_to "Edit", edit_project_path(project), class: '' %>
				              </li>
				              <li class="del">
				                <%= link_to "Delete", project_path(project.id), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
				              </li>
				            </ul>
				        </span>
			        <% end %>
		      	<% end %>
			    
		    </span>
		    <div style="clear:both;"></div>
		</div>

		<div class="p-av">
			<%= avatar_project_link project, title: project.title, alt: project.title %>
		</div>

		<div id="pl_middle">
			<div id="pl_info">
				<div class="pl_t">
					<%= link_to project.name, project_path(project) %>
				</div>

				<div class="pl_ts">
					<%= project.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "projects", :action => "index", :projects => m}, title: m, alt: m }.join(' ').html_safe %>
				</div>
			</div>

			<div class="pl_bl">
				<%= Rinku.auto_link(project.blurb) %>
			</div>
		</div>

		<% if project.city? %>
			<div class="e_loc">
				<%= link_to(:controller => "projects", :action => "index", :projects => project.city) do %>
	                <i class="fa fa-map-marker"></i><%= project.city.titleize %>
	            <% end %>
			</div>
		<% end %>

		<div class="pl_tm">
			<%= project.created_at.strftime("%b %d %Y") %>
		</div>

	</div>

<% end %>