<%= simple_form_for(@status, html: { multipart: true }) do |f| %>

  <div class="act_icons_wrap">

    <span class='act_icons' id='att_med'>
    </span>

  </div>

  <div class="act_icons_wrap" id="update_att">
  </div>

  <div class="">
      
        <%= f.input :content, label: false, input_html: { class: 'forms', id: 'update_box', tabindex: '1', rows: '1', maxlength: '280' } %>

        <div class="action_wrap" id="action_wrap">
          <span class="social_post">

          </span> 
          <span class="actions">
            <%= f.submit "Post to Stream", :class => 'btn btn-info' %>
          </span>
          <span id="stat_count"></span>
          <span class='upd_att'>
            <%= f.fields_for :document do |document_fields| %>
              <%= document_fields.input :attachment, as: :file, label: false %>
            <% end %>
          </span>
        </div>
      
  </div>

  <div class="act_buttons">
  </div>

<% end %>