<%= simple_form_for(@status) do |f| %>

  <div class="act_icons_wrap">

    <%= link_to image_tag("Media 2.png", :class => "act_icons"), "#" %>
    <%= link_to image_tag("Link 3.png", :class => "act_icons"), "#" %>
    <%= link_to image_tag("Check In 2.png", :class => "act_icons"), "#" %>

  </div>

  <div class="">
      
        <%= f.input :content, label: false, input_html: { class: 'forms', id: 'update_box', tabindex: '1', rows: '3', maxlength: '280' } %>

        <div class="action_wrap">
          <span class="social_post">
          </span> 
          <span class="actions">
          <%= f.submit "Post to Stream", :class => 'btn btn-info' %>
          </span>
        </div>
      
  </div>

  <div class="act_buttons">
  </div>

<% end %>