<div id="profile_nav_wrap">
    <ul class="profile_nav">
        <span class="s1">
            <li>
            	<%= link_to 'Stream', profile_stream_path(@member), class: 'stream_wrap' %>           
            </li> 
        </span>
        <span class="m1">
            <li>
                <%= link_to 'Media', profile_media_path(@member), class: 'media_wrap' %>
            </li>
        </span>
        <span class="mk2">
            <li>
                <%= link_to 'Market', profile_market_path(@member), class: 'market_wrap' %>
            </li>
        </span>
        <span class="e1">
            <li>
                <%= link_to 'Events', profile_events_path(@member), class: 'events_wrap' %>
            </li>
        </span>
        <span class="p1">
            <li>
                <%= link_to 'Projects', profile_projects_path(@member), class: 'projects_wrap' %>
            </li>
        </span>
    </ul>
</div>

<div id="subnav_wrap">
    <ul class="sub sub_market">
        <li>
            <%= link_to '<i class="icon-th-list icon-grey"></i> Listings'.html_safe, profile_projects_path(@member), class: '' %>
        </li> 
        <li>
            <%= link_to '<i class="icon-star icon-grey"></i> Favorite Brands'.html_safe, profile_market_brands_path(@member), class: '' %>
        </li>        
        <li>
            <%= link_to '<i class="icon-heart icon-grey"></i> Favorite Listings'.html_safe, profile_market_listings_path(@member), class: '' %>
        </li> 
        <% if @member == current_member %>
            <li>
                <%= link_to '<i class="icon-edit icon-grey"></i> Create Brand'.html_safe, new_brand_path, class: '' %>
            </li>
        <% end %> 
    </ul>
</div>