<div id="profile_nav_wrap">
    <ul class="profile_nav">
        <span class="s1">
            <li>
            	<%= link_to 'Stream', profile_stream_path(@member), class: 'stream_wrap' %>           
            </li> 
        </span>
        <span class="m2">
            <li>
                <%= link_to 'Media', profile_media_path(@member), class: 'media_wrap' %>
            </li>
        </span>
        <span class="mk1">
            <li>
                <%= link_to 'Market', profile_market_path(@member), class: 'market_wrap' %>
            </li>
        </span>
        <span class="e1">
            <li>
                <%= link_to 'Events', profile_events_path(@member), class: 'events_wrap' %>
            </li>
        </span>
        <span class="p1">
            <li>
                <%= link_to 'Projects', profile_projects_path(@member), class: 'projects_wrap' %>
            </li>
        </span>
    </ul>
</div>

<div id="subnav_wrap">
    <ul class="sub sub_media">
        <li>
            <%= link_to '<i class="fa fa-th"></i>All Media'.html_safe, profile_media_path(@member), class: '' %>
        </li>          
        <li>
            <%= link_to '<i class="fa fa-heart"></i>Favorites'.html_safe, profile_media_fav_path(@member), class: '' %>
        </li>
        <% if @member == current_member %>
            <li>
                <%= link_to '<i class="fa fa-arrow-up"></i>Add Media'.html_safe, "#media", :data => {:toggle => "modal"}, class: '' %>
            </li>
        <% end %>  
    </ul>
</div>