<% @media.each do |medium| %>

<% if medium.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
  <div class="list_act_wrap audio_fil">
  <% end %>

<% if medium.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
  <div class="list_act_wrap photo_fil">
<% end %>
     <% if medium.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
      <div class="act_media_content">
        <div id='med_art' style="background-image: url('/assets/Default Audio 1.png')">
          <div class="ui360 ui360-vis">
            <%= link_to '', medium.asset.url %>
          </div>
        </div>
      </div>
    <% end %>

    <% if medium.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
      <div class="act_media_content">
        <%= link_to image_tag(medium.asset.url(:list), class: ''), medium.asset.url(:large), class: "fancybox", rel: 'prof_gall' %>
      </div>

      <div id="fancyboxTitles" style="display: none;">
          <div><%= Rinku.auto_link(medium.caption).html_safe %></div>
      </div>
    <% end %>

    

    <% if medium.caption? %>
      <div class="media_act_cap">
        <%= Rinku.auto_link(medium.caption).html_safe %>
      </div> 
    <% end %>

    <% if member_signed_in? %>

      <div class="">

        <span id="comment_act_btn">

          <% if medium.comments.count > 0 && medium.comments.count <= 99 %>
            <%= link_to medium_path(medium), :class => "btn comment" do %>
              <%= image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") %><%= medium.comments.count %>
            <% end %>
          <% elsif medium.comments.count > 99 %>   
            <%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") + '99+', medium_path(medium), :class => "btn comment" %>
          <% else %>
            <%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment"), medium_path(medium), :class => "btn comment" %>
          <% end %>

          <% if medium.votes.size > 0 && medium.votes.size <= 99 && current_member.voted_up_on?(medium) %>
            <%= link_to favorite_medium_path(medium), method: :put, :class => "btn favorite" do %>
                <%= image_tag("Favorite 3.png", class: "act_actions", title: "Unfavorite", alt: "Unfavorite") %><%= medium.votes.size %>
            <% end %>
          <% elsif medium.votes.size > 99 && current_member.voted_up_on?(medium) %>
            <%= link_to image_tag("Favorite 3.png", class: "act_actions", title: "Unfavorite", alt: "Unfavorite") +'99+', favorite_medium_path(medium), method: :put, :class => "btn favorite" %>
          <% elsif medium.votes.size > 0 && medium.votes.size <= 99 %>
            <%= link_to favorite_medium_path(medium), method: :put, :class => "btn favorite" do %>
                <%= image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite") %><%= medium.votes.size %>
            <% end %>
          <% elsif medium.votes.size > 99 %>
            <%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite") +'99+', favorite_medium_path(medium), method: :put, :class => "btn favorite" %>
          <% else %>
            <%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite"), favorite_medium_path(medium), method: :put, :class => "btn favorite" %>
          <% end %>

          <%= link_to image_tag("Share 3.png", class: "act_actions", title: "Share", alt: "Share"), "#", :class => "btn share" %>

          <% if can_edit_medium?(medium) %>
            <span class="ad">
              <%= link_to image_tag("Trash.png",  class: "act_actions", title: "Delete", alt: "Delete"), medium, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn more" %>
            </span>
          <% end %>
          
        </span>

      </div>

    <% end %>
  </div>
    
<% end %>