<div class="member_menu">
	<div class="member_menu_top">
		<div class="menu_links"><span class="menu_arrow"><i class="icon-edit icon-grey menu_icons"></i></span><span><%= link_to "Edit Profile", edit_member_path %></span></div>
		<div class="menu_links"><span class="menu_arrow"><i class="icon-wrench icon-grey menu_icons"></i></span><span><%= link_to "Account Settings", "#" %></span></div>
		<div class="menu_links"><span class="menu_arrow"><i class="icon-off icon-grey menu_icons"></i></span><span><%= link_to "Sign Out", sign_out_path %></span></div>
	</div>
	<div class="member_menu_bottom">
		<div class="menu_links"><span class="menu_arrow"><i class="icon-circle-arrow-right icon-purple menu_icons"></i></span><span><%= link_to "Following", "#" %></span></div>
		<div class="menu_links"><span class="menu_arrow"><i class="icon-circle-arrow-left icon-purple menu_icons"></i></span><span><%= link_to "Followers", profile_followers_path(current_member) %></span></div>
		<div class="menu_links stream"><span class="menu_arrow bottom"><i class="icon-th icon-purple menu_icons"></i></span><span><%= link_to "Stream", profile_stream_path(current_member) %></span></div>
		<div class="menu_links medium"><span class="menu_arrow bottom"><i class="icon-music icon-purple menu_icons"></i></span><span><%= link_to "Media", profile_media_path(current_member) %></span></div>
		<div class="menu_links events"><span class="menu_arrow bottom"><i class="icon-calendar icon-purple menu_icons"></i></span><span><%= link_to "Events", "#" %></span></div>
		<div class="menu_links projects"><span class="menu_arrow bottom"><i class="icon-folder-open icon-purple menu_icons"></i></span><span><%= link_to "Projects", "#" %></span></div>
	</div>
</div>