<% if @member %>

<% if @member.banner? %>
    <div id="banner" style="background-image: url(<%= @member.banner.url(:large) %>)"></div>
<% else %>
    <div id="banner" style="background-color: #e7e7e7"></div>
<% end %>

    <div id="pw">
        <div id="profile_wrap">
        	<div id="left_profile">
                <div class="mem_av">
                	<%= image_tag @member.avatar.url(:av) %>
                </div>
            </div>
            
            <div id="center_profile">
                <span class="p_name_wrap">
                    <div class="profile_name"><%= link_to truncate(@member.full_name, :length => 25), @member, title: @member.full_name, alt: @member.full_name  %></div>
                </span>
                <span class="p_username_wrap">
                    <div class="profile_username" title="<%= @member.name %>", alt="<%= @member.name %>"><%= truncate("@" + @member.user_name, :length => 25) %></div>
                </span>
                <div class="follow_count_text">
                    <%= link_to(profile_following_path(@member)) do %>
                        <span class="fcount"><%= @member.following_by_type_count('Member') %></span>
                        <p><span class="ftext">Following</span></p>
                    <% end %>
                    <%= link_to(profile_followers_path(@member)) do %>
                        <span id="follows_count" class="fcount"><%= @member.followers_count %></span>
                        <p><span class="ftext">Followers</span></p>
                    <% end %>
                </div>
                <div class="profile_bio">
                    <% if @member.bio? %>
                        <%= @member.bio %>
                    <% end %>
                </div>
                <div class="profile_location">
                    <% if @member.city? %>
                        <%= link_to @member.city, :controller => "search", :action => "search", :search => @member.city %>
                    <% end %>
                    <% if @member.state? %>
                        <%= link_to @member.state, :controller => "search", :action => "search", :search => @member.state %>
                    <% end %>
                    <% if @member.country? %>
                        <%= link_to @member.country, :controller => "search", :action => "search", :search => @member.country %>
                    <% end %>
                </div>
            </div>
            
            <div id="right_profile">
                <% if signed_in? %>
                    <div id="member_actions" class="profile_buttons">
                        <% unless current_member == @member %>
                            <span class="member_follow">
                                <%= render :partial => "shared/follow_member", :locals => {:member => @member} %>
                            </span>
                            <span>
                                <%= link_to image_tag("Messages 2.png", class: "mem_actions"), "#message", :data => {:toggle => "modal"}, title: "Message", alt: "Message", :class => "btn" %>
                                <span class="mt-btn"><%= link_to image_tag("Share 5.png", class: "mem_actions1"), "#share-profile", :data => {:toggle => "modal"}, title: "Share Profile", alt: "Share Profile", :class => "btn" %></span>
                            </span>
                        <% end %>
                        <% if current_member == @member %>
                            <%= link_to image_tag("Messages 2.png", class: "mem_actions"), "#message", :data => {:toggle => "modal"}, title: "Start Conversation", alt: "Start Conversation", :class => "btn" %>
                            <span class="mt-btn"><%= link_to image_tag("Share 5.png", class: "mem_actions1"), "#share-profile", :data => {:toggle => "modal"}, title: "Share Profile", alt: "Share Profile", :class => "btn" %></span>
                            <%= link_to image_tag("Settings.png", class: "mem_actions"), edit_member_path, title: "Account Settings", alt: "Account Settings", :class => "btn" %>
                        <% end %>
                    </div>
                <% end %>
            	<div class="profile_accounts">
                    <% if @member.facebook? %>
                        <%= link_to image_tag("FB 2.png", class: "acct_imgs", title: "Facebook", alt: "Facebook"), @member.facebook, :class => "" %>
                    <% end %>
                    <% if @member.twitter? %>
                        <%= link_to image_tag("Twitter 3.png", class: "acct_imgs", title: "Twitter", alt: "Twitter"), @member.twitter, :class => "" %>
                    <% end %>
                    <% if @member.linkedin? %>
                        <%= link_to image_tag("Linkedin 3.png", class: "acct_imgs", title: "Linkedin", alt: "Linkedin"), @member.linkedin, :class => "" %>
                    <% end %>
                    <% if @member.google? %>
                        <%= link_to image_tag("Google Plus 2.png", class: "acct_imgs", title: "Google+", alt: "Google+"), @member.google, :class => "" %>
                    <% end %>
                    <% if @member.soundcloud? %>
                        <%= link_to image_tag("Soundcloud 3.png", class: "acct_imgs", title: "Soundcloud", alt: "Soundcloud"), @member.soundcloud, :class => "" %>
                    <% end %>
                    <% if @member.youtube? %>
                        <%= link_to image_tag("Youtube 3.png", class: "acct_imgs", title: "Youtube", alt: "Youtube"), @member.youtube, :class => "" %>
                    <% end %>
                    <% if @member.vimeo? %>
                        <%= link_to image_tag("Vimeo 2.png", class: "acct_imgs", title: "Vimeo", alt: "Vimeo"), @member.vimeo, :class => "" %>
                    <% end %>
                    <% if @member.instagram? %>
                        <%= link_to image_tag("Instagram 3.png", class: "acct_imgs", title: "Instagram", alt: "Instagram"), @member.instagram, :class => "" %>
                    <% end %>
                    <% if @member.flickr? %>
                        <%= link_to image_tag("Flickr 3.png", class: "acct_imgs", title: "Flickr", alt: "Flickr"), @member.flickr, :class => "" %>
                    <% end %>
                    <% if @member.pinterest? %>
                        <%= link_to image_tag("Pinterest 3.png", class: "acct_imgs", title: "Pinterest", alt: "Pinterest"), @member.pinterest, :class => "" %>
                    <% end %>
                    <% if @member.blog? %>
                        <%= link_to image_tag("Blog 3.png", class: "acct_imgs", title: "Blog", alt: "Blog"), @member.blog, :class => "" %>
                    <% end %>
                    <% if @member.website? %>
                        <%= link_to image_tag("Personal Website 2.png", class: "acct_imgs", title: "Personal Website", alt: "Personal Website"), @member.website, :class => "" %>
                    <% end %>
                </div>
            	<div class="profile_pursuits">
                    <% if @member.pursuit_list %>
                        <%= @member.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :search => p }.join(' ').html_safe %>
                    <% end %>
                </div>        
            </div>
           <div style="clear:both;"></div>      
        </div>
    </div>

    <div id="message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="sharemodallabel">Start A New Conversation</h3>
      </div>
      <div class="modal-body pi">
        <%= render :partial => "conversations/form" %>
      </div>
    </div>

    <% unless @member == current_member %>
        <div id="message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="sharemodallabel">Start A New Conversation</h3>
          </div>
          <div class="modal-body pi">
            <%= render :partial => "conversations/profile_form" %>
          </div>
        </div>
    <% end %>

    <div class="s_modal">
        <div id="share-profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="sharemodallabel">Copy Profile URL</h3>
          </div>
          <div class="modal-body pi">
            <input id="url_share" class="pr_in forms" value="<%= request.original_url %>" autofocus />
          </div>
        </div>
    </div>
         
      
    <!--/content_wrap-->
    <div id="main_wrap">

        <%= yield %>

    </div>
<% else %>
 <%= render :partial => "no_user" %>
<% end %>