<% if @member %>

<% if @member.banner? %>
    <div id="banner" style="background-image: url(<%= @member.banner.url(:large) %>)"></div>
<% end %>

<div id="main_wrap">

    <div id="profile_wrap">
    	<div id="left_profile">
        	<%= avatar_profile @member %>
            <% if @member == current_member %>
                <div class="change_av">
                    <div>
                        <%= link_to "Change Avatar", avatar_path %>
                    </div> 
                </div> 
            <% end %>
        </div>
        
        <div id="center_profile">
        	<div class="profile_name"><%= @member.full_name %></div>
            <div class="profile_username"><%= "@" + @member.user_name %></div>
            <div class="follow_count">
                <span class="following_count">
                    <%= link_to @member.following_by_type_count('Member'), profile_following_path(@member) %>
                </span> 
                <span class="follower_count" id="follows_count">
                    <%= link_to @member.followers_by_type_count('Member'), profile_followers_path(@member) %>
                </span>
            </div>
            <div class="follow_count_text">
                <span class="following_text"><%= link_to "Following", profile_following_path(@member) %></span> 
                <span class="follower_text"><%= link_to "Followers", profile_followers_path(@member) %></span>
            </div>
            <% if signed_in? %>
                <div id="member_actions" class="profile_buttons">
                    <%= render :partial => "follows/follow_member", :locals => {:member => @member} %>
                </div>
            <% end %>
            <div class="profile_bio">
                <% if @member.bio? %>
                    <%= @member.bio %>
                <% end %>
            </div>
        </div>
        
        <div id="right_profile">
        	<div class="profile_accounts">
                <% if @member.facebook? %>
                    <%= link_to image_tag("FB 2.png", class: "acct_imgs", title: "Facebook", alt: "Facebook"), @member.facebook, :class => "" %>
                <% end %>
                <% if @member.twitter? %>
                    <%= link_to image_tag("Twitter 3.png", class: "acct_imgs", title: "Twitter", alt: "Twitter"), @member.twitter, :class => "" %>
                <% end %>
                <% if @member.linkedin? %>
                    <%= link_to image_tag("Linkedin 3.png", class: "acct_imgs", title: "Linkedin", alt: "Linkedin"), @member.linkedin, :class => "" %>
                <% end %>
                <% if @member.google? %>
                    <%= link_to image_tag("Google Plus 2.png", class: "acct_imgs", title: "Google+", alt: "Google+"), @member.google, :class => "" %>
                <% end %>
                <% if @member.soundcloud? %>
                    <%= link_to image_tag("Soundcloud 3.png", class: "acct_imgs", title: "Soundcloud", alt: "Soundcloud"), @member.soundcloud, :class => "" %>
                <% end %>
                <% if @member.youtube? %>
                    <%= link_to image_tag("Youtube 3.png", class: "acct_imgs", title: "Youtube", alt: "Youtube"), @member.youtube, :class => "" %>
                <% end %>
                <% if @member.vimeo? %>
                    <%= link_to image_tag("Vimeo 2.png", class: "acct_imgs", title: "Vimeo", alt: "Vimeo"), @member.vimeo, :class => "" %>
                <% end %>
                <% if @member.instagram? %>
                    <%= link_to image_tag("Instagram 3.png", class: "acct_imgs", title: "Instagram", alt: "Instagram"), @member.instagram, :class => "" %>
                <% end %>
                <% if @member.flickr? %>
                    <%= link_to image_tag("Flickr 3.png", class: "acct_imgs", title: "Flickr", alt: "Flickr"), @member.flickr, :class => "" %>
                <% end %>
                <% if @member.pinterest? %>
                    <%= link_to image_tag("Pinterest 3.png", class: "acct_imgs", title: "Pinterest", alt: "Pinterest"), @member.pinterest, :class => "" %>
                <% end %>
                <% if @member.blog? %>
                    <%= link_to image_tag("Blog 3.png", class: "acct_imgs", title: "Blog", alt: "Blog"), @member.blog, :class => "" %>
                <% end %>
                <% if @member.website? %>
                    <%= link_to image_tag("Personal Website 2.png", class: "acct_imgs", title: "Personal Website", alt: "Personal Website"), @member.website, :class => "" %>
                <% end %>
            </div>
        	<div class="profile_pursuits">
                <% if @member.pursuits? %>
                    <%= @member.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :search => p }.join(', ').html_safe %>
                <% end %>
            </div>        
            <div class="profile_location">
                <% if @member.city? %>
                    <%= link_to @member.city, :controller => "search", :action => "search", :search => @member.city %>
                <% end %>
                <% if @member.state? %>
                    <%= link_to @member.state, :controller => "search", :action => "search", :search => @member.state %>
                <% end %>
                <% if @member.country? %>
                    <%= link_to @member.country, :controller => "search", :action => "search", :search => @member.country %>
                <% end %>
            </div>
        </div>
       <div style="clear:both;"></div>      
    </div>
     
      
    <!--/content_wrap-->

    <div id="profile_nav_wrap">
            <ul class="profile_nav">
                <li>
                	<%= link_to 'Stream', profile_stream_path(@member), class: 'stream_wrap' %>           
                </li> 

                <li>
                    <%= link_to 'Media', profile_media_path(@member), class: 'media_wrap' %>
                </li>
                
                <li>
                    <%= link_to 'Events', '#', class: 'events_wrap' %>
                </li>
                
                <li>
                    <%= link_to 'Projects', '#', class: 'projects_wrap' %>
                </li>
            </ul>
        
    <div style="clear:both;"></div> 
    </div>

    <!--/profile_nav-->

    <%= yield %>

</div>
<% else %>
 <%= render :partial => "no_user" %>
<% end %>