<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="status">
            <div class="row">
                <div class="span1">
                    Avatar
                </div> 
                <div class="span7">

    				<div class="status_name"><%= link_to status.member.user_name, profile_path(status.member) %></div>

    				<div class="content"><%= status.content %></div>

                    <div>
                        <%= status_document_link(status) %>
                    </div> 

    				<div class="meta">
    			    	<%= time_ago_in_words(status.created_at) + " ago" %>
    			    </div>

                    <% if status.member == current_member %>
        			    <span class="ad_item">
        				    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
        				</span>
                    <% end %>
                    
                </div>
            </div> 
		</div>
	<% end %> 
<% end %>