<% title @member.full_name %>

    <%= render :partial => "events_nav" %>

    <!--/nav_wrap-->

    <%= render :partial => "shared/evpj_filters" %>

    <div id="prs_wrap">
        <% if @events.count > 0 %>
            <div id="media_query_prev">
                <div id="prof_prs">
                    <div id="prs">
                        <%= render :partial => "events" %>
                    </div>
                </div>         
            </div>
            <% else %>
                <div class="none_message">
                    No Past Events
                </div>
        <% end %>

        <%= will_paginate @events, class: 'display_none' %>

        <% if @events.total_pages != @events.current_page %>
            <div id="loading"></div>
            <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                <div class="com_show">
                    Show More
                </div>
            <% end %>
        <% end %>
    </div>