<% title @member.full_name %>

    <div id="media_subnav_wrap">

        <ul class="sub_stream">
            <li>
                <%= link_to '<i class="icon-th-large icon-white"></i> All Media'.html_safe, profile_media_path(@member), class: 'all_media' %>
            </li>  
            
            <li>
                <%= link_to '<i class="icon-heart icon-white"></i> Favorites'.html_safe, profile_media_fav_path(@member), class: 'media_fav_subnav' %>
            </li>

            <% if @member == current_member %>
                <li>
                    <%= link_to '<i class="icon-circle-arrow-up icon-white"></i> Upload Media'.html_safe, profile_media_new_path, class: 'media_new_subnav' %>
                </li>
            <% end %>
      
        </ul>
                   

    <div style="clear:both;"></div>
    </div>

    <!--/media_subnav_wrap-->

    <div id="stream_filters" class="form-inline">
        <span class="filters all">
            <label for="filter__">
            <%= radio_button_tag(:filter, "*", :checked => 'checked') %> All
            </label>
        </span>
        <span class="filters photos">
            <label for="filter_.photo_fil">
            <%= radio_button_tag(:filter, ".photo_fil") %> Photos
            </label>
        </span>
        <span class="filters audio">
            <label for="filter_.audio_fil">
            <%= radio_button_tag(:filter, ".audio_fil") %> Audio
            </label>
        </span>
    </div>

    <% if @media.count > 0 %>
        <div id="media_list_wrap">
        	<%= render :partial => "media" %>       
        </div>      
    <% else %>
        <div class="none_message">
            No Media Yet
        </div>
    <% end %>

    <%= will_paginate @media, class: 'display_none' %>

    <% if @media.total_pages != @media.current_page %>
        <div id="loading"></div>
        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
            <div class="com_show">
                Show More
            </div>
        <% end %>
    <% end %>
    
<!--/activity_wrap-->