<% title @member.full_name %>

    <div id="media_subnav_wrap">

        <ul class="sub_stream">
            <li>
                <%= link_to '<i class="icon-th-large icon-white"></i> All Media'.html_safe, profile_media_path(@member), class: 'all_media' %>
            </li>  
            
            <li>
                <%= link_to '<i class="icon-camera icon-white"></i> Photos'.html_safe, "#", class: 'photos_subnav' %>
            </li>
              
            <li>
                <%= link_to '<i class="icon-music icon-white"></i> Audio'.html_safe, "#", class: 'music_subnav' %>
            </li>

            <li>
                <%= link_to '<i class="icon-globe icon-white"></i> Social Media'.html_safe, "#", class: 'social_albums_subnav' %>
            </li> 
      
        </ul>
                   

    <div style="clear:both;"></div>
    </div>

    <!--/media_subnav_wrap-->

    <% if @member == current_member %>
        <div id="add_new">
          <%= link_to 'Add New Media', profile_media_new_path, :class => "btn btn-warning add_media" %>
        </div>
    <% end %>

    <% if @media.count > 0 %>
        <div id="media_list_wrap">
        	<%= render :partial => "media" %>       
        </div>      
    <% else %>
        <div class="none_message">
            No Media Yet
        </div>
    <% end %>

    <%= will_paginate @media, class: 'display_none' %>

    <% if @media.total_pages != @media.current_page %>
        <div id="loading"></div>
        <div class="load_more">
            <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow") %>
        </div>
    <% end %>
    
<!--/activity_wrap-->