<% title @member.full_name %>

    <%= render :partial => "media_nav" %>

    <!--/stream_wrap-->

    <div id="stream_filters" class="form-inline">
        <span class="filters all">
            <label for="filter__">
            <%= radio_button_tag(:filter, "*", :checked => 'checked') %> All
            </label>
        </span>
        <span class="filters photos">
            <label for="filter_.photo_fil">
            <%= radio_button_tag(:filter, ".photo_fil") %> Photos
            </label>
        </span>
        <span class="filters audio">
            <label for="filter_.audio_fil">
            <%= radio_button_tag(:filter, ".audio_fil") %> Audio
            </label>
        </span>
    </div>

    <% if @media.count > 0 %>
        <div id="media_list_wrap">
        	<%= render :partial => "media_fav" %>       
        </div>      
    <% else %>
        <div class="none_message">
            No Favorites Yet
        </div>
    <% end %>

    <%= will_paginate @media, class: 'display_none' %>

    <% if @media.total_pages != @media.current_page %>
        <div id="loading"></div>
        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
            <div class="com_show">
                Show More
            </div>
        <% end %>
    <% end %>

    <% if current_member == @member %>
        <div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="sharemodallabel">Upload New Media</h3>
            </div>
            <div class="modal-body pi">
              <div class="med_instructions">
                <ul>
                  <li>
                    &raquo; Maximum file size of 15MB
                  </li>
                  <li>
                    &raquo; Accepted file formats: (jpeg, png, gif, mp3)
                  </li>
                </ul>
              </div>

            <%= render :partial => "media/form" %>
            </div>
        </div>
    <% end %>
    
<!--/activity_wrap-->