<% title @member.full_name + " | Upload Media" %>

    <div id="media_subnav_wrap">

        <ul class="sub_stream">
            <li>
                <%= link_to '<i class="icon-th-large icon-white"></i> All Media'.html_safe, profile_media_path(@member), class: 'all_media' %>
            </li>  
            
            <li>
                <%= link_to '<i class="icon-camera icon-white"></i> Photos'.html_safe, "#", class: 'photos_subnav' %>
            </li>
              
            <li>
                <%= link_to '<i class="icon-music icon-white"></i> Audio'.html_safe, "#", class: 'music_subnav' %>
            </li>

            <li>
                <%= link_to '<i class="icon-globe icon-white"></i> Social Media'.html_safe, "#", class: 'social_albums_subnav' %>
            </li> 
      
        </ul>
                   

    <div style="clear:both;"></div>
    </div>

    <!--/media_subnav_wrap-->

    <div id="media_content_wrap">

    	<%= render :partial => "media/form" %>

        <div style="clear: both;"></div>
    </div>
    
<!--/activity_wrap-->