<% title @member.full_name %>

    <%= render :partial => "projects_nav" %>

    <!--/nav_wrap-->

    <%= render :partial => "shared/evpj_filters" %>

    <div id="prs_wrap">
        <% if @projects.count > 0 %>
            <div id="media_query_prev">
                <div id="prof_prs">
                    <div id="prs">
                        <%= render :partial => "projects" %>
                    </div>
                </div>       
            </div>
        <% else %>
            <div class="none_message">
                No Projects Yet
            </div>
        <% end %>

        <%= will_paginate @projects, class: 'display_none' %>

        <% if @projects.total_pages != @projects.current_page %>
            <div id="loading"></div>
            <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                <div class="com_show">
                    Show More
                </div>
            <% end %>
        <% end %>
    </div>