<div id="profile_wrap">
	<div id="left_profile">
    	
    </div>
    
    <div id="center_profile">
    	<div class="profile_name"><%= @member.full_name %></div>
        <div class="profile_username"><%= "@" + @member.user_name %></div>
        <div class="follow_count"><span class="following_count">#</span> <span class="follower_count">#</span></div>
        <div class="follow_count_text"><span class="following_text"><a href="#">Following</a></span> <span class="follower_text"><a href="#">Followers</a></span></div>
        <div class="profile_buttons">
        	<input name="" type="button" class="follow_user btn" id="follow_user" value="Follow" />
            <input name="" type="button" class="message_user btn" id="message_user" value="Message" />
            <input name="" type="button" class="mention_user btn" id="mention_user" value="Mention" />
            <input name="" type="button" class="user_options btn" id="user_options" value="More +" />
        </div>
        <div class="profile_bio"></div>
    </div>
    
    <div id="right_profile">
    	<div class="profile_accounts">
        	<div class="top_profile_accounts">
            	<a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="bottom_profile_accounts">
            	<a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
    	<div class="profile_pursuits">
        	<a href="#"><%= @member.pursuits %></a>
        </div>        
        <div class="profile_location">
        	<a href="#"></a>
        </div>
    </div>
   <div style="clear:both;"></div>      
</div>
 
  
<!--/content_wrap-->

<div id="profile_nav_wrap">
        <ul class="profile_nav">
            <li>
            	<a href="/members/stream.html" class="stream_wrap">Stream</a>           
            </li>
            
            <li>
            	<a href="/members/following.html" class="following_wrap">Following</a>
            </li>
            
            <li>
            	<a href="/members/followers.html" class="followers_wrap">Followers</a>
            </li> 
               
            <li>
            	<a href="/members/media.html" class="media_wrap">Media</a>
            </li>
            
            <li>
            	<a href="/members/events.html" class="events_wrap">Events</a>
            </li>
            
            <li>
            	<a href="/members/projects.html" class="projects_wrap">Projects</a>
            </li>
        </ul>
    
<div style="clear:both;"></div> 
</div>

<!--/profile_nav-->

<div id="stream_subnav_wrap">

 	<ul class="sub_stream">
        <% if @member == current_member %>

    	<li>
        	<a href="#" class="my_stream">My Stream</a>
        </li>  

        <% end %>
        
        <li>
            <a href="#" class="personal">Personal</a>
        </li>

        <% if @member == current_member %>
          
        <li>
            <a href="#" class="mentions_subnav">Mentions</a>
        </li>
            
        <li>
            <a href="#" class="groups_stream_subnav">Groups</a>
        </li> 

        <% end %> 
        
        <li>
            <a href="#" class="favorties_subnav">Favorites</a>
        </li>  
    </ul>
    	       

<div style="clear:both;"></div>
</div>

<!--/stream_subnav_wrap-->

<% if @member == current_member %>

<div id="act_update">

	<div class="update_text_wrap">
    	<div class="update_text_top">What's</div>
        <div class="update_text_bottom">New?</div>
    </div>
    
    <div class="update_box_wrap">
    	<div class="act_icons_wrap">
    		<%= link_to image_tag("Media 2.png", :class => "act_icons"), "#" %>
        	<%= link_to image_tag("Link 3.png", :class => "act_icons"), "#" %>
        	<%= link_to image_tag("Check In 2.png", :class => "act_icons"), "#" %>
        </div>
    	<div class="">
            <%= simple_form_for(@status) do |f| %>
              <%= f.input :content, label: false, input_html: { class: 'forms', id: 'update_box', tabindex: '1', rows: '3', maxlength: '280' } %>
              <div class="action_wrap">
                <span class="social_post">
                </span> 
                <span class="actions">
                <%= f.submit "Post to Stream", :class => 'btn btn-info' %>
                </span>
              </div>
            <% end %>
    	</div>
    	<div class="act_buttons">
    	</div>
    </div>

<div style="clear: both;"></div>
</div>

<% end %>

<!--/act_update-->

<div id="activity_wrap">

	<% if @statuses %>
		<% @statuses.each do |status| %>
			<div class="status">
                <div class="row">
                    <div class="span1">
                        Avatar
                    </div> 
                    <div class="span7">
        				<div class="status_name"><%= status.member.user_name %></div>
        				<div class="content"><%= status.content %></div>
        				<div class="meta">
        			    	<p><%= link_to time_ago_in_words(status.created_at) + " ago", status %></p>
        			    </div>
        			    <span class="ad_item">
        				    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
        				</span>
                    </div>
                </div> 
			</div>
		<% end %> 
	<% end %>

<div style="clear: both;"></div>
</div>

	<div class="load_more">
        <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
    </div>

<!--/activity_wrap-->