<% title @member.full_name %>

    <div id="stream_subnav_wrap">

     	<ul class="sub_stream">
            <% if @member == current_member %>

        	<li>
                <%= link_to '<i class="icon-th icon-white"></i> My Stream'.html_safe, profile_my_stream_path(current_member), class: 'my_stream' %>
            </li>  

            <% end %>
            
            <li>
                <%= link_to '<i class="icon-user icon-white"></i> Personal'.html_safe, profile_personal_path(@member), class: 'personal' %>
            </li>

            <% if @member == current_member %>
              
            <li>
                <%= link_to '<i class="icon-asterisk icon-white"></i> Mentions'.html_safe, "#", class: 'mentions_subnav' %>
            </li>
                
            <li>
                <%= link_to '<i class="icon-text-height icon-grey"></i> Groups'.html_safe, "#", class: 'groups_stream_subnav' %>
            </li> 

            <% end %> 
            
            <li>
                <%= link_to '<i class="icon-heart icon-white"></i> Favorites'.html_safe, "#", class: 'favorties_subnav' %>
            </li>  
        </ul>
        	       

    <div style="clear:both;"></div>
    </div>

    <!--/stream_subnav_wrap-->

    <% if @member == current_member %>

    <div id="act_update">

    	<div class="update_text_wrap">
        	<div class="update_text_top">What's</div>
            <div class="update_text_bottom">New?</div>
        </div>
        
        <div class="update_box_wrap" id="update_box_wrap">
        	<%= render :partial => "profiles/form" %>
        </div>

    <div style="clear: both;"></div>

    </div>

    <% end %>

    <!--/act_update-->

    <div id="activity_stream_wrap">
        <% if @activities.count > 0 %>
    	   <%= render :partial => "activities/activities" %>         
        <% else %>
            <div class="none_message">
                No Posts Yet
            </div>
        <% end %>    
    </div>

    <div class="load_more">
        <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
   </div>

<!--/activity_wrap-->
