<% title @member.full_name + " | Stream" %>

<div id="main_wrap">

    <div id="profile_wrap">
    	<div id="left_profile">
        	<%= avatar_profile @member %>
        </div>
        
        <div id="center_profile">
        	<div class="profile_name"><%= @member.full_name %></div>
            <div class="profile_username"><%= "@" + @member.user_name %></div>
            <div class="follow_count">
                <span class="following_count">
                    <%= @member.following_by_type_count('Member') %>
                </span> 
                <span class="follower_count" id="follows_count">
                    <%= @member.followers_by_type_count('Member') %>
                </span>
            </div>
            <div class="follow_count_text"><span class="following_text"><a href="#">Following</a></span> <span class="follower_text"><a href="#">Followers</a></span></div>
            <% if signed_in? %>
                <div id="member_actions" class="profile_buttons">
                    <%= render :partial => "follows/follow_member", :locals => {:member => @member} %>
                </div>
            <% end %>
            <div class="profile_bio">
                <% if @member.bio %>
                    <%= @member.bio %>
                <% end %>
            </div>
        </div>
        
        <div id="right_profile">
        	<div class="profile_accounts">
            	<div class="top_profile_accounts">
                	<a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <div class="bottom_profile_accounts">
                	<a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        	<div class="profile_pursuits">
                <% if @member.pursuits %>
                    <%= link_to @member.pursuits, "#" %>
                <% end %>
            </div>        
            <div class="profile_location">
                <% if @member.city %>
                    <%= link_to @member.city, "#" %>
                <% end %>
                <% if @member.state %>
                    <%= link_to @member.state, "#" %>
                <% end %>
                <% if @member.country %>
                    <%= link_to @member.country, "#" %>
                <% end %>
            </div>
        </div>
       <div style="clear:both;"></div>      
    </div>
     
      
    <!--/content_wrap-->

    <div id="profile_nav_wrap">
            <ul class="profile_nav">
                <li>
                	<%= link_to 'Stream', profile_stream_path(@member), class: 'stream_wrap' %>           
                </li> 

                <li>
                    <%= link_to 'Media', profile_media_path(@member), class: 'media_wrap' %>
                </li>
                
                <li>
                	<a href="/members/events.html" class="events_wrap">Events</a>
                </li>
                
                <li>
                	<a href="/members/projects.html" class="projects_wrap">Projects</a>
                </li>
            </ul>
        
    <div style="clear:both;"></div> 
    </div>

    <!--/profile_nav-->

    <div id="stream_subnav_wrap">

     	<ul class="sub_stream">
            <% if @member == current_member %>

        	<li>
                <%= link_to '<i class="icon-th icon-white"></i> My Stream'.html_safe, profile_my_stream_path(current_member), class: 'my_stream' %>
            </li>  

            <% end %>
            
            <li>
                <%= link_to '<i class="icon-user icon-white"></i> Personal'.html_safe, profile_personal_path(@member), class: 'personal' %>
            </li>

            <% if @member == current_member %>
              
            <li>
                <%= link_to '<i class="icon-asterisk icon-white"></i> Mentions'.html_safe, "#", class: 'mentions_subnav' %>
            </li>
                
            <li>
                <%= link_to '<i class="icon-text-height icon-grey"></i> Groups'.html_safe, "#", class: 'groups_stream_subnav' %>
            </li> 

            <% end %> 
            
            <li>
                <%= link_to '<i class="icon-heart icon-white"></i> Favorites'.html_safe, "#", class: 'favorties_subnav' %>
            </li>  
        </ul>
        	       

    <div style="clear:both;"></div>
    </div>

    <!--/stream_subnav_wrap-->

    <% if @member == current_member %>

    <div id="act_update">

    	<div class="update_text_wrap">
        	<div class="update_text_top">What's</div>
            <div class="update_text_bottom">New?</div>
        </div>
        
        <div class="update_box_wrap" id="update_box_wrap">
        	<%= render :partial => "profiles/form" %>
        </div>

    <div style="clear: both;"></div>

    </div>

    <% end %>

    <!--/act_update-->

    <div id="activity_wrap">

    	<%= render :partial => "profiles/statuses" %>

        <div class="load_more">
            <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
        </div>

        <div style="clear: both;"></div>
    </div>

<!--/activity_wrap-->

</div>

<!--/main_wrap-->
