<fieldset>
  <legend class="descriptors">Change Your Avatar</legend>
  <div class="edit_instructions">
    <ul>
      <li>
        &raquo; Recommended dimensions of 200x200
      </li>
      <li>
        &raquo; Maximum file size of 10MB
      </li>
  </div>
  
  <div class="custom-file-upload fu1_wrap">
      <label for="file-upload" class="cfu_label"><i class="fa fa-arrow-up"></i>Browse
        <%= f.input :avatar, as: :file, label: false, error: false, input_html: { id: 'file-upload', class: 'account upload cfu'} %>
      </label>
  </div>

  <div class="edit_av">
    <% if f.object.avatar? %>
      <%= image_tag f.object.avatar.url(:av) %>
      <%= f.input :remove_avatar, as: :boolean, label: "Remove avatar?", :label_html => {:class => "act_img_lb"} %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend class="descriptors">Change Your Banner</legend>
   <div class="edit_instructions">
    <ul>
      <li>
        &raquo; Recommended dimensions of 1400x600
      </li>
      <li>
        &raquo; Maximum file size of 10MB
      </li>
  </div>

  <div class="custom-file-upload fu2_wrap">
      <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Browse
        <%= f.input :banner, as: :file, label: false, error: false, input_html: { id: 'file-upload2', class: 'account upload cfu'} %>
      </label>
  </div>

  <div class="edit_av">
    <% if f.object.banner? %>
      <%= image_tag f.object.banner.url(:preview) %>
      <%= f.input :remove_banner, as: :boolean, label: "Remove banner?", :label_html => {:class => "act_img_lb"} %>
    <% end %>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit "Update Account", class: 'btn btn-info' %>
  <span id="spinner" class="spinner">
    <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
  </span>
</div>