<fieldset>
  <legend class="leg">Change Your Username</legend>
  <%= f.input :user_name, label: 'Username',  error: false, input_html: { class: 'forms account settings', tabindex: '1', id: 'edit_username', maxlength: '16', autocomplete: 'off'} %>
</fieldset>

<fieldset>
  <legend class="descriptors">Update Your Pursuits</legend>
  <div class="edit_instructions">
    <ul>
      <li>
        &raquo; Enter your top 5 Pursuits, comma separated
      </li>
      <li>
        &raquo; 30 characters per Pursuit, only letters
      </li>
      <li>
        &raquo; i.e. Branding, Graphic Design, Music Production, etc.
      </li>
    </ul>
  </div>
  <%= f.input :pursuit_list, label: 'Pursuits', error: false, input_html: { class: 'forms account settings', tabindex: '2', id: 'edit_pursuits', autocomplete: 'off'} %>
</fieldset>

<fieldset>
  <legend class="descriptors">Social Networks</legend>
  <div class="edit_instructions">
    <ul>
      <li>
        &raquo; Paste or type the full url's to each network (i.e. https://www.facebook.com/livinglifefearless)
      </li>
      <li>
        &raquo; Include the http://
      </li>
    </ul>
  </div>
  <%= f.input :facebook, as: :url, label: 'Facebook', error: false, input_html: { class: 'forms account settings', tabindex: '3' }, placeholder: 'http://' %>
  <%= f.input :twitter, as: :url, label: 'Twitter', error: false, input_html: { class: 'forms account settings', tabindex: '4' }, placeholder: 'http://' %>
  <%= f.input :linkedin, as: :url, label: 'Linkedin', error: false, input_html: { class: 'forms account settings', tabindex: '5' }, placeholder: 'http://' %>
  <%= f.input :soundcloud, as: :url, label: 'Soundcloud', error: false, input_html: { class: 'forms account settings', tabindex: '6' }, placeholder: 'http://' %>
  <%= f.input :youtube, as: :url, label: 'YouTube', error: false, input_html: { class: 'forms account settings', tabindex: '7' }, placeholder: 'http://' %>
  <%= f.input :vimeo, as: :url, label: 'Vimeo', error: false, input_html: { class: 'forms account settings', tabindex: '8' }, placeholder: 'http://' %>
  <%= f.input :instagram, as: :url, label: 'Instagram', error: false, input_html: { class: 'forms account settings', tabindex: '9' }, placeholder: 'http://' %>
  <%= f.input :flickr, as: :url, label: 'Flickr', error: false, input_html: { class: 'forms account settings', tabindex: '10' }, placeholder: 'http://' %>
  <%= f.input :pinterest, as: :url, label: 'Pinterest', error: false, input_html: { class: 'forms account settings', tabindex: '12' }, placeholder: 'http://' %>
  <%= f.input :blog, as: :url, label: 'Blog', error: false, input_html: { class: 'forms account settings', tabindex: '13' }, placeholder: 'http://' %>
  <%= f.input :website, as: :url, label: 'Website', error: false, input_html: { class: 'forms account settings', tabindex: '14' }, placeholder: 'http://' %>
</fieldset>

<fieldset>
  <legend class="leg">About Me</legend>
  <%= f.input :bio, as: :text, label: 'Bio', error: false, input_html: { class: 'forms account settings', rows: '3', cols: '52', tabindex: '15', maxlength: '140', autocomplete: 'off'} %>
  <%= f.input :city, label: 'City', error: false, input_html: { class: 'forms account settings', tabindex: '16', maxlength: '25', autocomplete: 'off'} %>
  <%= f.input :state, label: 'State', error: false, input_html: { class: 'forms account settings', tabindex: '17', maxlength: '25', autocomplete: 'off'} %>
  <%= f.input :country, as: :string, label: 'Country', error: false, input_html: { class: 'forms account settings', tabindex: '18', maxlength: '25', autocomplete: 'off'} %>
</fieldset>

<div class="form-actions">
  <%= f.submit "Update", class: 'btn btn-info' %>
  <span id="spinner" class="spinner">
    <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
  </span>
</div>