<fieldset>
	<legend class="descriptors leg">Update Your Name</legend>
	<div class="c_f_labels">
	    <span class="custom-labels">* Full Name</span>
	    <div id="custom-input">
	        <div class="input-group col-md-12">
	            <%= f.input :full_name, label: false, error: false, input_html: { class: '', id: 'edit_first', maxlength: '50', autocomplete: 'off'}, autocomplete: 'off' %>
	        </div>
	    </div>
	</div>
</fieldset>

<fieldset>
	<legend class="leg">Change Your Email</legend>
	<div class="c_f_labels">
	    <span class="custom-labels">Email</span>
	    <div id="custom-input">
	        <div class="input-group col-md-12">
	            <%= f.input :email, label: false, error: false, input_html: { class: ''} %>
	        </div>
	    </div>
	</div>
</fieldset>

<fieldset>
	<legend class="leg">Change Your Password <span class="edit_pass">(Leave blank if you don't want to change your password.)</span> </legend>
	<div class="c_f_labels">
	    <span class="custom-labels">Password</span>
	    <div id="custom-input">
	        <div class="input-group col-md-12">
	            <%= f.input :password, :autocomplete => "off", label: false, error: false, input_html: { class: ''} %>
	        </div>
	    </div>
	</div>
	
	<div class="c_f_labels">
	    <span class="custom-labels">Password Confirmation</span>
	    <div id="custom-input">
	        <div class="input-group col-md-12">
	            <%= f.input :password_confirmation, error: false, label: false, input_html: { class: ''} %>
	        </div>
	    </div>
	</div>
	
</fieldset>


<div class="form-actions">
	<%= f.submit "Update Account", class: 'btn btn-info' %>
	<span id="spinner" class="spinner">
	  <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
	</span>
    <%= link_to "Leave the Community", registration_path(resource_name), :data => { :confirm => "Are you sure? This can't be undone." }, :method => :delete, :class => 'btn btn-danger pull-right' %>
</div>