<% title current_member.full_name + " | Change Avatar/Banner" %>

<div id="main_wrap">

  <div id="edit_nav_wrap">
      <span class="edit_nav">
          <%= link_to "Change Avatar/Banner", avatar_path %>
          <%= link_to "Edit Profile", edit_member_path %>
          <span class="set_link">
            <%= link_to "Account Settings", settings_path %>
          </span>
      </span>
  </div>

  <div id="edit_wrap">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,  class: 'form-horizontal ' }) do |f| %>
        <%= devise_error_messages! %>

        <fieldset>
          <legend class="descriptors">Change Your Avatar</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Recommended dimensions of 200x200
              </li>
              <li>
                &raquo; Maximum file size of 5MB
              </li>
          </div>
          <%= f.input :avatar, as: :file, label: false, error: false, input_html: { class: 'account upload'} %>
        
          <div class="edit_av">
            <% if f.object.avatar? %>
              <%= image_tag f.object.avatar.url(:av) %>
            <% end %>
          </div>
        </fieldset>

        <fieldset>
          <legend class="descriptors">Change Your Banner</legend>
           <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Recommended dimensions of 1400x200
              </li>
              <li>
                &raquo; Maximum file size of 5MB
              </li>
          </div>
          <%= f.input :banner, as: :file, label: false, error: false, input_html: { class: 'account upload'} %>
        
          <div class="edit_av">
            <% if f.object.banner? %>
              <%= image_tag f.object.banner.url(:preview) %>
            <% end %>
          </div>
        </fieldset>

        <div class="form-actions">
          <%= f.submit "Update", class: 'btn btn-info pull-left' %>
        </div>
    <% end %>

  </div>

<!--activity_wrap-->

</div>

<!--/main_wrap-->