<% title current_member.full_name + " | Edit Profile" %>

<div id="main_wrap">

  <div id="edit_wrap">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,  class: 'form-horizontal ' }) do |f| %>
        <%= devise_error_messages! %>

        <fieldset>
          <legend>Change Your Avatar</legend>
          <%= f.input :avatar, as: :file, label: false, error: false, input_html: { class: 'account upload'} %>
        
          <div class="edit_av">
            <% if f.object.avatar? %>
              <%= image_tag f.object.avatar.url(:av) %>
            <% end %>
          </div>
        </fieldset>

        <fieldset>
          <legend>Change Your Username</legend>
          <%= f.input :user_name, label: 'Username',  error: false, input_html: { class: 'forms account settings', tabindex: '1', id: 'edit_username', maxlength: '16'} %>
        </fieldset>

        <fieldset>
          <legend>Update Your Pursuits</legend>
          <%= f.input :pursuits, label: 'Pursuits', error: false, input_html: { class: 'forms account settings', tabindex: '2', id: 'edit_pursuits'} %>
        </fieldset>

        <fieldset>
          <legend>About Me</legend>
          <%= f.input :bio, as: :text, label: 'Bio', error: false, input_html: { class: 'forms account settings', rows: '3', cols: '52', tabindex: '3', maxlength: '140'} %>
          <%= f.input :city, label: 'City', error: false, input_html: { class: 'forms account settings', tabindex: '4', maxlength: '20'} %>
          <%= f.input :state, label: 'State', error: false, input_html: { class: 'forms account settings', tabindex: '5', maxlength: '12'} %>
          <%= f.input :country, as: :string, label: 'Country', error: false, input_html: { class: 'forms account settings', tabindex: '6', maxlength: '20'} %>
        </fieldset>

        <div class="form-actions">
          <%= f.submit "Update", class: 'btn btn-info pull-left' %>
        </div>
    <% end %>

  </div>

<!--activity_wrap-->

</div>

<!--/main_wrap-->