<% title current_member.full_name + " | Edit Profile" %>

<div id="main_wrap">

  <div id="ue_nav">
        <ul class="nav nav-tabs" id="">
          <li>
            <%= link_to "Avatar/Banner", "#avatar", :data => {:toggle=>"tab"}, class: '' %>
          </li>
          <li class="active">
            <%= link_to "Edit Profile", "#edit", :data => {:toggle=>"tab"}, class: '' %>
          </li>
          <li>
            <%= link_to "Account Settings", "#settings", :data => {:toggle=>"tab"}, class: '' %>
          </li>
        </ul>
    </div>

  <div id="edit_wrap">

    <div class="rq">
      * = required field
    </div>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,  class: 'form-horizontal ' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="tab-content">
          <div id="avatar" class="tab-pane">
            <%= render :partial => 'avatar', :locals => {:f => f} %>
          </div>

          <div id="edit" class="tab-pane active">
            <%= render :partial => 'edit', :locals => {:f => f} %>
          </div>

          <div id="settings" class="tab-pane">
            <%= render :partial => 'settings', :locals => {:f => f} %>
          </div>
        </div>

    <% end %>

  </div>

<!--activity_wrap-->

</div>

<!--/main_wrap-->