<% title "JOIN THE COLLECTIVV!" %>

<div id="banner" style="background-image: url('/assets/Community Banner Image.jpeg');">
  <div class="b_wrap">
    <div class="b_title">JOIN COLLECTIVV</div>
    <div class="b_byline">We're a community of people and brands doing and creating inspiring things.</div>
    <div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
  </div>
</div>

<div id="home_wrapper" class="scroll2">

      <div class="home_form">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), remote: true, :wrapper_html => { :style => 'display: inline' }) do |f| %>
          
          <div class="">
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <%= f.input :full_name, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Full Name', input_html:{ class: 'forms reg_forms', tabindex: '1', maxlength: '25', autocomplete: 'off' } %>
                </div>
            </div>
          </div>
          <div class="s_reg">
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <%= f.input :user_name, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Username', input_html:{ class: 'forms reg_forms', tabindex: '2', maxlength: '30', autocomplete: 'off' } %>
                </div>
            </div>
          </div>
          <div class="s_reg">
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <%= f.input :email, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Email', input_html:{ class: 'forms reg_forms ', tabindex: '3', autocomplete: 'off'} %>
                </div>
            </div>
          </div>
          <div class="s_reg">
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <%= f.input :password, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Password', input_html:{ class: 'forms reg_forms', tabindex: '5', autocomplete: 'off'} %>
                </div>
            </div>
          </div>
          <div class="r_text">
              By joining LLF, you agree to our <%= link_to "Terms", terms_path %> and to the details of our <%= link_to 'Privacy Policy', privacy_path %>.
          </div>
          <div class="r_submit">
            <%= f.submit "Join the Community!", :class => 'btn btn-info btn-large' %>
          </div>
        <% end %>
      </div>

  <!--/home_form-->
       
</div>    
<!--/home_wrapper-->