<% title "LLF | Haven for the Bold" %>

<div id="main_wrap">

  <div id="home_wrap">

      <%= image_tag("LLF 2 Home.png", :class => "home_image") %>
      
  </div>

  <!--/content_wrap-->

<!--/content_wrap-->

<div id="registration_wrap">
        
        <span class="join reg_title">Join the Community!</span> <span class="free reg_title">(It's free for <strong>&middot;</strong> ev <strong>&middot;</strong> er)</span><br/>
        
  <div class="registration">
	  
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
       	
        <div class="reg_left">
        	
          <%= f.input :first_name, label: false, hint: false, error: false, placeholder: 'First Name', input_html:{ class: 'forms reg_forms', tabindex: '4', maxlength: '15', id: 'reg_first'} %>
             <%= f.input :last_name, label: false, hint: false, error: false, placeholder: 'Last Name', input_html:{ class: 'forms reg_forms reg_spacer', tabindex: '5', maxlength: '20', id: 'reg_last'} %>
             <%= f.input :user_name, label: false, hint: false, error: false, placeholder: 'Username', input_html:{ class: 'forms reg_forms', tabindex: '6', maxlength: '16', id: 'reg_username', :rel => "popover" } %>
        
        </div>
        
        <div class="reg_center">
        	
          <%= f.input :email, label: false, hint: false, error: false, placeholder: 'Email', input_html:{ class: 'forms reg_forms', tabindex: '7'} %>
            <%= f.input :email_confirmation, label: false, hint: false, error: false, placeholder: 'Confirm Email', input_html:{ class: 'forms reg_forms reg_spacer', tabindex: '7'} %>
            <%= f.input :password, label: false, hint: false, error: false, placeholder: 'Password', input_html:{ class: 'forms reg_forms', id: 'reg_password', tabindex: '9'} %>
            
        </div>
        
        <div class="reg_right">
        	
          <%= f.text_field :pursuit_list, :placeholder => 'Favorite Pursuits', :class => 'forms reg_forms', :tabindex => '10', id: 'reg_pursuits' %>
          <div class="pursuit_reg_label">
            (i.e. Sports, Music, Skydiving, Branding, Pop Art)
          </div>
            <div class="reg_terms">
              <p>By joining LLF, you agree to our <%= link_to "Terms", terms_path %> and <br /> to the details of our <%= link_to 'Privacy Policy', privacy_path %>.</p>
            </div>
              <%= f.submit "Join the Community!", :class => 'reg_button btn btn-info btn-large' %>
          
          </div>
  	 
     <% end %>


    </div>

    <div id="pop_username_reg" style="display: none">
      <ul>
        <li class="pop_content">&raquo; No special characters (!%*$#)</li><li class="pop_content">&raquo; No spaces allowed</li><li class="pop_content">&raquo; Maximum length of 16</li>
      </ul>
    </div>

    <div id="pop_password_reg" style="display: none">
      <ul>
        <li class="pop_content">&raquo; Choose a strong password</li><li class="pop_content">&raquo; Max length of 20</li><li class="pop_content">&raquo; Minimum length of 6</li>
      </ul>
    </div>

    <div id="pop_pursuits_reg" style="display: none">
      The best way to connect with other members. Be as general or specific as you want.
      <ul class="pursuits">
        <li>
          &raquo; Enter your top 5 Pursuits
        </li>
        <li>
          &raquo; 25 characters per Pursuit
        </li>
        <li>
          &raquo; Separate Pursuits by commas
        </li>
        <li>
          &raquo; Only letters, spaces ok
        </li>
      </ul> 
    </div>

    <div id="pop_first_reg" style="display: none">
      <ul class="names">
        <li>&raquo; 1 First Name Max</li>
      </ul>
    </div>

    <div id="pop_last_reg" style="display: none">
      <ul class="names">
        <li>&raquo; 2 Last Names Max</li>
      </ul>
    </div>
   
   <div style="clear:both;"></div> 
         
  </div>        
    
<!--/registration-->

</div>

<!--/main_wrap-->

