<% title "LLF | Haven for the Bold" %>

<div id="home_wrapper">
  <div id="home_wrap">
      <div class="home_form">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :wrapper_html => { :style => 'display: inline' }) do |f| %>

          <%= devise_error_messages! %>
          
          <span>
            <%= f.input :full_name, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Full Name', input_html:{ class: 'forms reg_forms l_reg', tabindex: '1', maxlength: '25' } %>
          </span>
          <span>
            <%= f.input :user_name, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Username', input_html:{ class: 'forms reg_forms r_reg', tabindex: '2', maxlength: '16' } %>
          </span>
          <span>
            <%= f.input :email, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Email', input_html:{ class: 'forms reg_forms l_reg', tabindex: '3'} %>
          </span>
          <span>
            <%= f.input :email_confirmation, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Confirm Email', input_html:{ class: 'forms reg_forms r_reg', tabindex: '4', autocomplete: 'off' } %>
          </span>
          <span>
            <%= f.input :password, :wrapper_html => { :style => 'display: inline' }, label: false, hint: false, error: false, placeholder: 'Password', input_html:{ class: 'forms reg_forms l_reg', tabindex: '5'} %>
          </span>
          <span class="r_reg">
            <%= f.submit "Join the Community!", :class => 'btn btn-info btn-large' %>
          </span>
          <span class="l_reg r_text">
              By joining LLF, you agree to our <%= link_to "Terms", terms_path %> and to the details of our <%= link_to 'Privacy Policy', privacy_path %>.
            </span>
        <% end %>
      </div>
  </div>

  <!--/content_wrap-->

<!--/content_wrap-->

  <div id="home_bottom_wrap">
    CONNECT x SHARE x DISCOVER         
  </div>        
</div>    
<!--/registration-->