<%= simple_form_for(@listing, :html => { class: 'form-horizontal ', :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <%= f.error_notification %>

    <div id="error_list">
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rq">
    * = required field
  </div>

  <div class="tab-content">

    <div id="name" class="tab-pane active">

        <fieldset>
              <legend class="leg">Listing Name</legend>
              <%= f.input :title, label: 'Name', error: false, input_html: { class: 'forms settings auto', id: '', cols: '55', rows: '1', tabindex: '1', maxlength: '100', autocomplete: 'off'} %>
        </fieldset>

    </div>

    <div id="price" class="tab-pane">

        <fieldset>
              <legend class="descriptors">Price</legend>
              <div class="edit_instructions">
                <ul>
                    <li>
                      &raquo; Max $1,500 price tag
                    </li>
                </ul>
              </div>
              <%= f.input :price, as: :text, label: '$', error: false, input_html: { class: 'forms settings', id: '', cols: '20', rows: '1', tabindex: '1', maxlength: '8', value: number_with_precision(f.object.price, precision: 2)} %>
        </fieldset>

        <fieldset>
              <legend class="descriptors">Link to Listing</legend>
              <div class="edit_instructions">
                <ul>
                    <li>
                      &raquo; Paste or type the full external url to the listing (i.e. https://llfstyle.co)
                    </li>
                </ul>
              </div>
              <%= f.input :link, as: :url, label: 'Link', error: false, input_html: { class: 'forms settings auto', id: '', cols: '55', rows: '1', tabindex: '1', autocomplete: 'off' } %>
        </fieldset>

    </div>

    <div id="images" class="tab-pane">

      <fieldset>

        <legend class="descriptors">Feature Image/Audio</legend>
          <div class="edit_instructions">
            <ul>
                <li>
                  &raquo; Recommended dimensions of 380x380
                </li>
                <li>
                  &raquo; Maximum file size of 15MB (jpeg, png, gif, mp3)
                </li>
            </ul>
          </div>

          <div class="custom-file-upload fu1_wrap">
            <label for="file-upload" class="cfu_label"><i class="fa fa-arrow-up"></i>Feature Media *
              <%= f.input :feature, as: :file, label: false, error: false, input_html: { id: 'file-upload', class: 'account settings pr_upload'} %>
            </label>
          </div>

          <div class="custom-file-upload fu2_wrap">
            <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Audio Cover
              <%= f.input :cover, as: :file, label: false, error: false, input_html: { id: 'file-upload2', class: 'account settings pr_upload'} %>
            </label>
          </div>

          <div class="">

            <% if f.object.feature? && f.object.feature.content_type =~ /^image\/(png|gif|jpeg)/ %>
              <div class="e_fi">
                <%= image_tag f.object.feature.url(:form) %>
              </div>
            <% end %>

            <% if f.object.feature? && f.object.feature.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
              <div class="act_media_content">
                <% if f.object.cover? %>
                  <div id='med_art' style="background-image: url(<%= f.object.cover.url(:form) %>)">
                <% else %>
                  <div id='med_art' style="background-image: url('/assets/Default Audio 1.png')">
                <% end %>
                  <div class="ui360 ui360-vis lstgs">
                    <%= link_to '', f.object.feature.url %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

      </fieldset>

      <fieldset>
        <legend class="descriptors">Additional Images</legend>
          <div class="edit_instructions">
            <ul>
                <li>
                  &raquo; Maximum file size of 10MB (jpeg, png, gif)
                </li>
                <li>
                  &raquo; Select up to 8 images
                </li>
            </ul>
          </div>

          <div class="">

            <div class="custom-file-upload fu3_wrap">
              <label for="file-upload3" class="cfu_label ed_l"><i class="fa fa-arrow-up"></i>Browse
                <%= file_field_tag "assets[]", type: :file, multiple: true, id: 'file-upload3' %>
              </label>
            </div>

            <div>
              <%= f.simple_fields_for :assets do |asset_fields| %>
                <% unless asset_fields.object.new_record? %>
                  <div class="previews">
                    <%= image_tag asset_fields.object.asset.url(:thumb) %>
                    <div>
                      <%= asset_fields.check_box :_destroy %> <span class="rm_img">Remove?</span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>

      </fieldset>

    </div>

    <div id="basics" class="tab-pane">

      <fieldset>
        <legend class="descriptors">Choose Your Category & Tags</legend>
        <div class="edit_instructions">
          <ul>
            <li>
              &raquo; Select the appropriate category for your listing
            </li>
            <li>
              &raquo; Provide up to 5 of the most relevant tags
            </li>
            <li>
              &raquo; Comma separated, 30 characters per
            </li>
            <li>
                &raquo; Alphanumeric, no special characters
              </li>
          </ul>
        </div>
        <%= f.input :category, collection: ['Men\'s', 'Women\'s', 'Art', 'Music', 'Design', 'Services'], label: 'Category', error: false, input_html: { class: 'forms settings', tabindex: '2' } %>
        <%= f.input :marker_list, label: 'Tags', error: false, input_html: { cols: '55', rows: '1', class: 'forms settings auto', tabindex: '3', autocomplete: 'off'} %>
      </fieldset>

      <fieldset>
          <legend class="leg">Description</legend>
          <%= f.input :description, label: false, error: false, placeholder: 'Tell us about your listing...', input_html: { cols: '53', rows: '5', class: 'forms auto no_label', tabindex: '7', id: '', autocomplete: 'off' } %>
      </fieldset>

    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-market' %>
      <%= link_to 'Back', @listing, class: 'btn btn-info pull-right' %>
    </div>

  </div>

<% end %>
