<%= simple_form_for(@listing, :html => { class: 'form-horizontal ', :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <%= f.error_notification %>

    <div id="error_list">
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rq">
    * = required field
  </div>

  <div class="tab-content">

    <div id="name" class="tab-pane active">

        <fieldset>
              <legend class="leg">Listing Name</legend>
              <%= f.input :title, label: 'Name', error: false, input_html: { class: 'forms settings auto', id: '', cols: '55', rows: '1', tabindex: '1', maxlength: '100', autocomplete: 'off'} %>
        </fieldset>

    </div>

    <div id="price" class="tab-pane">

        <fieldset>
              <legend class="descriptors">Price</legend>
              <div class="edit_instructions">
                <ul>
                    <li>
                      &raquo; Max $1,499 price tag
                    </li>
                </ul>
              </div>
              <%= f.input :price, as: :text, label: '$', error: false, input_html: { class: 'forms settings', id: '', cols: '20', rows: '1', tabindex: '1', maxlength: '8', value: number_with_precision(f.object.price, precision: 2)} %>
        </fieldset>

        <fieldset>
              <legend class="descriptors">Link to Listing</legend>
              <div class="edit_instructions">
                <ul>
                    <li>
                      &raquo; Paste or type the full external url to the listing (i.e. https://llfstyle.co)
                    </li>
                </ul>
              </div>
              <%= f.input :link, as: :url, label: 'Link', error: false, input_html: { class: 'forms settings auto', id: '', cols: '55', rows: '1', tabindex: '1' } %>
        </fieldset>

    </div>

    <div id="images" class="tab-pane">

      <fieldset>
        <legend class="descriptors">Feature Image/Audio</legend>
          <div class="edit_instructions">
            <ul>
                <li>
                  &raquo; Recommended dimensions of 380x380
                </li>
                <li>
                  &raquo; Maximum file size of 15MB (jpeg, png, gif, mp3)
                </li>
            </ul>
          </div>
          <%= f.input :feature, as: :file, label: 'Feature Image/Audio', error: false, input_html: { class: 'account settings pr_upload'} %>
          <%= f.input :cover, as: :file, label: 'Audio Cover Art', error: false, input_html: { class: 'account settings pr_upload'} %>
          <div class="edit_av_pd">
            <% if f.object.feature? && f.object.feature.content_type =~ /^image\/(png|gif|jpeg)/ %>
              <%= image_tag f.object.feature.url(:av) %>
            <% end %>
          </div>
      </fieldset>

      <fieldset>
        <legend class="descriptors">Additional Images</legend>
          <div class="edit_instructions">
            <ul>
                <li>
                  &raquo; Maximum file size of 10MB (jpeg, png, gif)
                </li>
            </ul>
          </div>

          <div class="no_label">
            <div>
              <%= f.simple_fields_for :assets do |asset_fields| %>
                <% if asset_fields.object.new_record? %>
                  <%= asset_fields.file_field :asset %>
                <% end %>
              <% end %>
            </div>

            <div>
              <%= f.simple_fields_for :assets do |asset_fields| %>
                <% unless asset_fields.object.new_record? %>
                  <div class="previews">
                    <%= image_tag asset_fields.object.asset.url(:thumb) %>
                    <div>
                      <%= asset_fields.check_box :_destroy %> <span class="rm_img">Remove?</span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </fieldset>

    </div>

    <div id="basics" class="tab-pane">

      <fieldset>
        <legend class="descriptors">Choose Your Category & Tags</legend>
        <div class="edit_instructions">
          <ul>
            <li>
              &raquo; Select the appropriate category for your listing
            </li>
            <li>
              &raquo; Provide up to five of the most relevant tags
            </li>
            <li>
              &raquo; Comma separated, 15 characters per
            </li>
          </ul>
        </div>
        <%= f.input :category, collection: ['Men\'s', 'Women\'s', 'Art', 'Music', 'Design', 'Services'], label: 'Category', error: false, input_html: { class: 'forms settings', tabindex: '2' } %>
        <%= f.input :marker_list, label: 'Tags', error: false, input_html: { cols: '55', rows: '1', class: 'forms settings auto', tabindex: '3', autocomplete: 'off'} %>
      </fieldset>

      <fieldset>
          <legend class="leg">Description</legend>
          <%= f.input :description, label: false, error: false, placeholder: 'Tell us about your listing...', input_html: { cols: '53', rows: '5', class: 'forms auto no_label', tabindex: '7', id: '', autocomplete: 'off' } %>
      </fieldset>

    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-market' %>
      <%= link_to 'Back', @listing, class: 'btn btn-info pull-right' %>
    </div>

  </div>

<% end %>
