<%= simple_form_for(@listing, remote: true, :html => { class: 'form-horizontal', :multipart => true } ) do |f| %>
  <%= render 'errors' %>

  <div class="rq">
    * = required field
  </div>

  <div class="tab-content">

    <div id="name" class="tab-pane active">

        <fieldset>
              <legend class="leg">Listing Name</legend>
              <div class="c_f_labels">
                <span class="custom-labels">* Name</span>
                <div id="custom-input">
                    <div class="input-group col-md-12 single_row">
                        <%= f.input :title, label: false, error: false, input_html: { class: '', id: '', cols: '55', rows: '1', tabindex: '1', maxlength: '100', autocomplete: 'off'} %>
                    </div>
                </div>
              </div>
        </fieldset>

    </div>

    <div id="price" class="tab-pane">

        <fieldset>
              <legend class="descriptors">Price</legend>
              <div class="edit_instructions">
                <ul>
                    <li>
                      &raquo; Max $1,500 price tag
                    </li>
                     <li>
                      &raquo; Leave blank for a free listing price 
                    </li>
                </ul>
              </div>
              <div class="c_f_labels">
                <span class="custom-labels">* $</span>
                <div id="custom-input">
                    <div class="input-group col-md-12 single_row">
                        <%= f.input :price, as: :text, label: false, error: false, input_html: { class: '', id: 'listing-price', cols: '20', rows: '1', tabindex: '2', maxlength: '8', placeholder: '0.00', value: number_with_precision(f.object.price, precision: 2)} %>
                    </div>
                </div>
              </div>
        </fieldset>

        <fieldset>
              <legend class="descriptors">Link to Listing</legend>
              <div class="edit_instructions">
                <ul>
                    <li>
                      &raquo; Paste or type the full external url to the listing (i.e. https://llfstyle.co)
                    </li>
                </ul>
              </div>
              <div class="c_f_labels">
                <span class="custom-labels">* Link</span>
                <div id="custom-input">
                    <div class="input-group col-md-12">
                        <%= f.input :link, as: :url, label: false, error: false, input_html: { class: '', id: '', cols: '55', rows: '1', tabindex: '3', autocomplete: 'off'} %>
                    </div>
                </div>
              </div>
        </fieldset>

    </div>

    <div id="images" class="tab-pane">

      <fieldset>
        <legend class="descriptors">Feature Image/Audio</legend>
          <div class="edit_instructions">
            <ul>
                <li>
                  &raquo; Recommended dimensions of 380x380
                </li>
                <li>
                  &raquo; Maximum file size of 15MB (jpeg, png, mp3)
                </li>
            </ul>
          </div>

          <div class="custom-file-upload fu1_wrap">
            <label for="file-upload" class="cfu_label"><i class="fa fa-arrow-up"></i>Feature Media *
              <%= f.input :feature, as: :file, label: false, error: false, input_html: { id: 'file-upload', class: 'account settings pr_upload'} %>
            </label>
          </div>

          <div class="custom-file-upload fu2_wrap">
            <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Audio Cover
              <%= f.input :cover, as: :file, label: false, error: false, input_html: { id: 'file-upload2', class: 'account settings pr_upload'} %>
            </label>
          </div>  

      </fieldset>

      <fieldset>

        <legend class="descriptors">Additional Images</legend>
          <div class="edit_instructions">
            <ul>
                <li>
                  &raquo; Maximum file size of 10MB (jpeg, png)
                </li>
                <li>
                  &raquo; Select up to 8 images
                </li>
            </ul>
          </div>

          <div class="custom-file-upload fu3_wrap">
            <label for="file-upload3" class="cfu_label"><i class="fa fa-arrow-up"></i>Browse
              <%= file_field_tag "assets[]", type: :file, multiple: true, id: 'file-upload3' %>
            </label>
          </div>

      </fieldset>

      <fieldset>
        
        <legend class="descriptors">Listing Banner</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Recommended banner dimensions of 1400x200
              </li>
              <li>
                &raquo; Maximum file size of 10MB
              </li>
              <li>
                &raquo; Accepted file formats: (jpeg, png)
              </li>
            </ul>
          </div>

          <div class="custom-file-upload fu4_wrap">
            <label for="file-upload4" class="cfu_label"><i class="fa fa-arrow-up"></i>Upload Banner
              <%= f.input :banner, as: :file, label: false, error: false, input_html: { id: 'file-upload4', class: 'account pr_upload'} %>
            </label>
          </div>

      </fieldset>

    </div>

    <div id="basics" class="tab-pane">

      <fieldset>
        <legend class="descriptors">Choose Your Category & Tags</legend>
        <div class="edit_instructions">
          <ul>
            <li>
              &raquo; Select the appropriate category for your listing
            </li>
            <li>
              &raquo; Provide up to 5 of the most relevant tags
            </li>
            <li>
              &raquo; Comma separated, 30 characters per
            </li>
            <li>
                &raquo; Alphanumeric, no special characters
              </li>
          </ul>
        </div>
        <div id="custom-select" class="c_f_labels dr-down">
          <span class="custom-labels">* Category</span>
          <%= f.input :category, collection: ['Men\'s', 'Women\'s', 'Art', 'Music', 'Design', 'Services'], label: false, error: false, input_html: { class: 'cat_select', tabindex: '4' } %>
        </div>
        
        <div id="custom-select" class="c_f_labels">
          <span class="custom-labels">* Tags</span>
          <%= f.input :marker_list, label: false, error: false, input_html: { cols: '55', rows: '1', class: 'custom-tags', tabindex: '5', autocomplete: 'off'} %>
        </div>
      </fieldset>

      <fieldset>
        <%= f.input :description, label: 'Description', error: false, placeholder: 'Tell us about your listing...', input_html: { cols: '53', rows: '1', class: 'forms account settings', tabindex: '6', id: 'l_dscr', autocomplete: 'off' } %>
      </fieldset>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-market' %>
        <span id="spinner" class="spinner">
          <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
        </span>
      </div>
    </div>

  </div>

<% end %>
