<% @pop_lstgs.each do |listing| %>

	<% if listing.category == "Women's" %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap women_fil">
	<% elsif listing.category == "Men's" %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap men_fil">
	<% elsif listing.category == 'Art' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap art_fil">
	<% elsif listing.category == 'Music' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap music_fil">
	<% elsif listing.category == 'Design' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap design_fil">
	<% elsif listing.category == 'Services' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap services_fil">
	<% end %>
	
		<div id="">
			<div class="pdl_img">
				<% if current_member == listing.member %>
					<div class="lst_del">
						<%= link_to image_tag("/assets/Delete 2.png", class: 'ims-act'), listing_path(listing.id), method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete" %>
					</div>
				<% end %>
				<div>
					<% if listing.feature.content_type =~ /^image\/(png|gif|jpeg)/ %>
						<%= link_to image_tag(listing.feature.url(:index)), listing_path(listing), title: listing.title, alt: listing.title %>
					<% end %>

					<% if listing.feature.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
			          <div class="feature act_media_content">
			            <% if listing.cover? %>
			              <div id='lstgs_art' style="background-image: url(<%= listing.cover.url(:cover) %>)">
			            <% else %>
			            	<div id='lstgs_art' style="background-image: url('/assets/Listing Audio Activity.png')">
			            <% end %>
			              <div class="ui360 ui360-vis lstgs">
			                <%= link_to '', listing.feature.url %>
			              </div>
			            </div>
			          </div>
			        <% end %>
			    </div>
			</div>
		</div>

		<div id="pdl_info">
			<div id="pdl_t">
				<div class="pdl_title">
					<%= link_to listing.title, listing_path(listing) %>
				</div>
			</div>

			<div id="pdl_m">
				<div class="pdl_action">
					<%= list_profile_link listing.member, :class => "pr_av", title: listing.member.full_name, alt: listing.member.full_name %>
					<% if member_signed_in? %>
				    	<span id="lstgs_fav_<%= listing.id %>_<%= listing.member.id %>">
						    <%= render :partial => "listings/fav_button_stream", :locals => {:listing => listing} %>
						</span>
				        <% if current_member == listing.member %>
					        <span class="">
					        	<%= link_to image_tag("/assets/Edit.png", class: 'ims-act'), edit_listing_path(listing), title: 'Options', alt: 'Options', class: '' %>					            
					        </span>
				        <% end %>
			      	<% end %>
				</div>

				<div class="pdl_price">
					<% if listing.price == 0 %>
			            Free
			         <% else %>
			            <%= number_to_currency(listing.price) %>
			         <% end %>
				</div>
				<div style="clear:both;"></div>
			</div>

			<div id="pdl_b">
				<div class="pdl_mks">
					<%= listing.marker_list.map { |m| link_to m.titleize, :controller => "listings", :action => "index", :listings => m }.join(' ').html_safe %>
				</div>
			</div>
		</div>

	</div>

<% end %>