<% @results.each do |listing| %>

	<% if listing.category == "Women's" %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap lst_wrap women_fil">
	<% elsif listing.category == "Men's" %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap lst_wrap men_fil">
	<% elsif listing.category == 'Art' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap lst_wrap art_fil">
	<% elsif listing.category == 'Music' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap lst_wrap music_fil">
	<% elsif listing.category == 'Design' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap lst_wrap design_fil">
	<% elsif listing.category == 'Services' %>
		<div id="lstgs_<%= listing.id %>_<%= listing.member.id %>" class="pdl_wrap lst_wrap services_fil">
	<% end %>

		<div id="<%= listing.id %>" class="share-body none">
          <input class="pr_in forms" value="<%= listing_url(listing) %>" onclick="this.select()" />
        </div>

		<% if member_signed_in? %>
	      <% if current_member == listing.member %>
	        <div class="lst_drpdw">
	          <%= render :partial => "listings/dropdown_toggle", :locals => {:listing => listing} %>
	        </div>
	      <% end %>
	    <% end %>

		<div id="">
			<div class="pdl_img">
				<div>
					<% if listing.embed? %>
						<div class="lst_emb">
				            <%= render :partial => "listings/list_embed", :locals => {:listing => listing} %>
				        </div>
			        <% elsif listing.feature? %>
			            <%= render :partial => "listings/list_attachment", :locals => {:listing => listing} %>
			        <% else %>
			            <div class="feature">
			              <%= image_tag('Default-Listing.jpg') %>
			            </div>
			        <% end %> 
			    </div>
			</div>
		</div>

		<div id="pdl_info">
			<div id="pdl_t">
				<div class="pdl_title">
					<%= link_to listing.title, listing_path(listing) %>
				</div>
			</div>

			<div id="pdl_m">
				<div class="pdl_action">
					
					<%= avatar_profile listing.member, :class => "pr_av", title: listing.member.full_name, alt: listing.member.full_name %>

					<% if member_signed_in? %>
				    	<span id="lstgs_fav_<%= listing.id %>_<%= listing.member.id %>">
						    <%= render :partial => "listings/fav_button_stream", :locals => {:listing => listing} %>
						</span>
					<% else %>
						<%= render :partial => "listings/logged_out_buttons", :locals => {:listing => listing} %>
					<% end %>

					<i class="fa fa-paper-plane ims-act share" title="Share" alt="Share" data-ovly="<%= listing.id %>"></i>

				</div>

				<div class="pdl_price">
					<% if listing.price == 0 %>
			            Free
			         <% else %>
			            <%= number_to_currency(listing.price) %>
			         <% end %>
				</div>
				<div style="clear:both;"></div>
			</div>

			<div id="pdl_b">
				<div class="pdl_mks">
					<%= listing.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "listings", :action => "index", :listings => m}, title: m, alt: m }.join(' ').html_safe %>
				</div>
			</div>
		</div>

	</div>
<% end %>