<% title "LLF x Market Listings" %>

<%= render :partial => "market/banner" %>

<div id="lstgs_wrap">

    <div id="sb_wrap">

    	<% if @facet == nil && @query == nil && @price_range == nil %>
            <div id="bc_wrap" class="q_bc mk4">
    			<div class="breadcrumbs">
    				<span class="lstgs"><%= link_to "Market", market_path %></span> &raquo; <span>Listings</span>
    			</div>

                <div class="popular">
                    <%= link_to popular_listings_path, title: 'Popular Listings', alt: 'Popular Listings' do %>
                      <i class="fa fa-heart"></i>Popular
                    <% end %>
                </div>

                <% if member_signed_in? %>
                    <div class="add_lst" style="padding-top:6px;">
                      <%= link_to new_listing_path, title: 'Create Listing', alt: 'Create Listing', style: 'vertical-align:sub;' do %>
                        <i class="fa fa-plus"></i>Create Listing
                      <% end %>
                    </div>
                <% end %>

                <% if member_signed_in? %>
                  <%= render :partial => "search" %>
                <% else %>
                  <span class="l_o"><%= render :partial => "search" %></span>
                <% end %>
            </div>
        <% else %>
            <div id="bc_wrap" class="q_bc mk5">
                <div class="breadcrumbs">
                    <span class="lstgs"><%= link_to "Market", market_path %></span> &raquo; <span class="lstgs"><%= link_to "Listings", listings_path %></span> &raquo; <span>Discover</span>
                </div>

                <div class="popular">
                    <%= link_to popular_listings_path, title: 'Popular Listings', alt: 'Popular Listings' do %>
                      <i class="fa fa-heart"></i>Popular
                    <% end %>
                </div>

                <% if member_signed_in? %>
                    <div class="add_lst" style="padding-top:6px;">
                      <%= link_to new_listing_path, title: 'Create Listing', alt: 'Create Listing', style: 'vertical-align:sub;' do %>
                        <i class="fa fa-plus"></i>Create Listing
                      <% end %>
                    </div>
                <% end %>

                <% if member_signed_in? %>
                  <%= render :partial => "search" %>
                <% else %>
                  <span class="l_o"><%= render :partial => "search" %></span>
                <% end %>
            </div>
    	<% end %>

        <div class="btags top">
            <% for row in @search.facet(:price).rows %>
                <span class="bprice">
                    <%= link_to (row.value).to_s.prepend("$").gsub(/\.0\.\./," - $").gsub(/\.0/,""), :price_range => row.value, :search => params[:listings] %>
                </span>
            <% end %>
        </div>

        <div class="btags">
            <% for row in @search.facet(:marker_list).rows %>
               <span class="btag"><%= link_to('+ ' + row.value, params.merge({:tag => row.value})) %></span>
            <% end %>
        </div>

    </div>

    <%= render :partial => "shared/listings_filters" %>

    <div id="li_wrap">
        <div id="li_index">

            <div id="lstgs">
        		<% if @facet == nil && @query == nil && @price_range == nil %>
        	      <%= render partial: 'listings' %>
        	    <% else %>
        	        <%= render partial: 'search_listings' %>
        	    <% end %>
        	</div>

        </div>

        <% if @facet == nil && @query == nil && @price_range == nil %>
            <%= will_paginate @listings, class: 'display_none' %>

            <% if @listings.total_pages != @listings.current_page %>
            <div id="loading"></div>
            <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                  <div class="com_show">
                    Show More
                  </div>
                <% end %>
            <% end %>
        <% else %>
            <%= will_paginate @results, class: 'display_none' %>

            <% if @results.total_pages != @results.current_page %>
            <div id="loading"></div>
            <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                  <div class="com_show">
                    Show More
                  </div>
                <% end %>
            <% end %>
        <% end %>
    </div>

</div>