<% title @listing.title %>

  <% if @listing.banner? %>
    <div id="banner" style="background-image: url(<%= @listing.banner.url(:large) %>)">
  <% elsif @listing.member.banner? %>
    <div id="banner" style="background-image: url(<%= @listing.member.banner.url(:large) %>)">
  <% else %>
    <div id="banner" style="background-image: url('/assets/Market Banner Img.jpg'); background-attachment: fixed;">
  <% end %>

      <div id="lb">
        <div class="lst_title"><%= @listing.title.upcase %></div>

        <div class="sub">
          <span class='lst_cat'>
            <%= @listing.category %>
          </span>
        </div>

        <div class="sub">
          <span class="pd_mk">
            <%= @listing.marker_list.map { |m| link_to truncate_tag('+ ' + m.titleize), {:controller => "listings", :action => "index", :listings => m}, title: m.titleize, alt: m.titleize }.join(' ').html_safe %>
          </span>
        </div>

        <div class="sub byline">
          <span><%= link_to truncate(@listing.member.full_name, :length => 50), @listing.member, title: @listing.member.full_name, alt: @listing.member.full_name %></span> &#215;
          <span>
            <%= link_to profile_market_path(@listing.member), title: "View All Listings", alt: "View All Listings" do %>
              Listings: <%= @listing.member.listings.count %>
            <% end %>
          </span>&#215;
          <span id="lst_sh_fav_<%= @listing.id %>_<%= @listing.member.id %>">
            <%= render :partial => "listings/fav_count", :locals => {:listing => @listing} %>
          </span>
        </div>

        <div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
      </div>

    </div>

  <div id="lstgs_wrap" class="scroll2">

    <div id="pd_top">

      <div class="breadcrumbs">
        <span class="lstgs"><%= link_to "Market &raquo;".html_safe, market_path %></span> <span class="lstgs"><%= link_to "Listings &raquo;".html_safe, listings_path %></span> <span><%= truncate(@listing.title, length: 30) %></span>
      </div>

      <span class="action_btns">
          <% if member_signed_in? %>
            <span id="lstgs_sh_fav_<%= @listing.id %>_<%= @listing.member.id %>">
              <%= render :partial => "listings/fav_button", :locals => {:listing => @listing} %>
            </span>
          <% else %>
            <span class="l_out">
              <%= link_to '<i class="fa fa-heart"></i>'.html_safe, sign_in_path, title: "Login to add to favorites", alt: "Login to add to favorites" %>
            </span>
          <% end %>
          
          <span><%= link_to '<i class="fa fa-paper-plane"></i>'.html_safe, "#share", :data => {:toggle => "modal"}, title: "Share", alt: "Share" %></span>

          <% if member_signed_in? %>
            <% if current_member == @listing.member %>
              <span><%= link_to '<i class="fa fa-sliders"></i>'.html_safe, edit_listing_path(@listing), title: "Edit", alt: "Edit" %></span>

              <span><%= link_to '<i class="fa fa-times-circle-o show_del"></i>'.html_safe, @listing, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete" %></span>
            <% end %>
          <% end %>
        </span>

      <div class="add_more">
        <%= link_to new_listing_path, title: 'Create Listing', alt: 'Create Listing', style: 'vertical-align:sub;' do %>
          <i class="fa fa-plus"></i>Create Listing
        <% end %>
      </div>

    </div>

    <div id="li_sh_wrap">

      <div id="pd_wrap">

        <div class="pd_left">

          <% if @listing.embed? %>
            <%= render :partial => "listings/show_embed", :locals => {:listing => @listing} %>
          <% elsif @listing.feature? %>
            <%= render :partial => "listings/show_attachment", :locals => {:listing => @listing} %>
          <% else %>
            <div class="feature">
              <%= image_tag('Listings-List-Default-2.png') %>
            </div>
          <% end %>       

          <div class="img_wrap">
            <% @listing.assets.first(8).each do | asset | %>
              <span class="imgs">
                  <%= link_to image_tag(asset.asset(:thumb)), asset.asset.url(:large), class: "fancybox", rel: 'product_gall' %>
              </span>
            <% end %>
          </div>

        </div>

        <div class="pd_right">
          <div class="title">
            <%= @listing.title %>
          </div>

          <div class="price">
            <% if @listing.price == 0 %>
              Free
            <% else %>
              <%= number_to_currency(@listing.price) %>
            <% end %>
          </div>

          <div class="cta">
            <% if @listing.button? %>
              <%= link_to "http://#{@listing.link.sub(/^https?\:\/\//, '')}", title: @listing.button, alt: @listing.button, class: 'btn btn-large btn-buy' do %>
                <% @listing.button %>
              <% end %>
            <% else %>
              <%= link_to "http://#{@listing.link.sub(/^https?\:\/\//, '')}", title: 'Buy Now', alt: 'Buy Now', class: 'btn btn-large btn-buy' do %>
                Buy Now
              <% end %>
            <% end %>
          </div>

          <% if @listing.description %>
            <div class="desc">
              <%= raw Rinku.auto_link(listings_with_mentions(@listing)) %>
            </div>
          <% end %>

          <% if @additional.count > 0 %>
            <div class="additional">
              More from <span class="u_name"><%= link_to @listing.member.user_name, profile_market_path(@listing.member), title: 'View All Listings', alt: 'View All Listings' %></span>
            </div>

            <div id="adt_lstgs">
                <%= render partial: 'additional' %>
            </div>
          <% end %>
          
        </div>

        <div style="clear:both;"></div>

      </div>

      <div id="pd_c_wrap">

        <div id="">
          <% if member_signed_in? %>
            <div id="c_form_wrap">
              <%= render "shared/comment_form" %>
            </div>
          <% else %>
              <div class="c_message">Must be <%= link_to "logged in", sign_in_path, :class => "" %> to leave a comment.</div>
          <% end %>

          <div id="comments_<%= @commentable.id %>" class="">
            <%= render partial: "shared/comments", :collection => @comments, :as => :comment %>
          </div>

          <%= will_paginate @comments, class: 'display_none' %>

            <% if @comments.total_pages != @comments.current_page %>
              <div id="loading"></div>  
                  <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                    <div class="com_show">
                      Show More
                    </div>
                  <% end %>
            <% end %>
        </div>

      </div>

    </div>

    <div class="s_modal">
      <div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
        <div class="mod_close">
            <%= link_to '<i class="fa fa-times"></i>'.html_safe, "javascript:void(0);", :data => {:dismiss => "modal"} %>
        </div>
        <div class="modal-body pi">
          <div id="custom-input">
              <div class="input-group col-md-12">
                  <input class="pr_in forms" value="<%= listing_url %>" onclick="this.select()" />
              </div>
          </div> 
        </div>
      </div>
    </div>

  </div>