<div id="main_wrap">
	<h1>Comments#index</h1>
	<p>Find me in app/views/comments/index.html.erb</p>

	<% @comments.each do |comment| %>
		<div class="">
			
			<%= comment.content %>
		</div>
		<div>
			<%= link_to image_tag("delete-6-icon.png"), [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	<% end %>

	<%= simple_form_for [@commentable, @comment] do |f| %>
		<%= f.input :content, label: false, input_html: { class: 'forms act_comment', id: '', rows: '1', maxlength: '280' } %>
		
		<div>
			<span>
				<%= link_to image_tag("Comment.png", class: "act_actions", title: "Comments", alt: "Comments"), "#" %>
			</span>
			<span>
				<%= link_to image_tag("Favorite 3.png", class: "act_actions", title: "Favorite", alt: "Favorite"), "#" %>
			</span>
			<span>
				<%= link_to image_tag("Re-Stream.png", class: "act_actions", title: "Re-Stream", alt: "Re-Stream"), "#" %>
			</span>
			<span id="comment_btn">
				<%= f.submit "Comment", :class => 'btn' %>
			</span>
		</div>
	<% end %>
</div>