<% @comments.each do |comment| %>
	<div id="<%= comment.id %>" class="comments">
		<span class="comment_av">
			<%= comment_avatar_link comment.member, :class => "com_av", title: comment.member.full_name, alt: comment.member.full_name %>
		</span>
		<span>
			<div class="comment_name">
				<%= link_to comment.member.user_name, profile_path(comment.member) %>
				
				<% if comment.member == current_member || @commentable.member == current_member %>
					<span class="comment_del">
						<%= link_to image_tag("Delete.png", title: 'Delete'), [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
					</span>
				<% end %>
				<span class="meta">
					<%= time_ago_in_words(comment.created_at) %>
				</span>
			</div>
			<div class="com_con">
				<%= Rinku.auto_link(comment.content).html_safe %>
			</div>
		</span>
	</div>
<% end %>