<%= simple_form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :member_id, collection: Member.all, label_method: :user_name, input_html: { class: 'forms'} %>
  <%= f.input :content, input_html: { class: 'forms'} %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
