<%= simple_form_for(@status, multipart: true) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="act_icons_wrap">

    <%= image_tag("Media 2.png", :class => "act_icons", :cursor => "pointer") %>
    <%= image_tag("Link 3.png", :class => "act_icons") %>
    <%= image_tag("Check In 2.png", :class => "act_icons") %>

  </div>

  <div>

    <%= f.fields_for :document do |document_fields| %>
      <%= document_fields.input :attachment, as: :file, label: false %>
    <% end %>

  </div> 

  <%= f.input :content, label: false %>
  <div class="">
    <%= f.submit "Post to Stream", :class => 'reg_button btn btn-info' %>
  </div>
<% end %>
