<% @statuses.each do |status| %>

	<div class="list_act_wrap">

		<div class="act_status_top">
			<span class="">
				<%= avatar_profile_link status.member, :class => "act_av" %>
			</span>

			<span class="act_name">
				<%= link_to status.member.user_name, profile_path(status.member) %>
			</span>

			<% if status.member == current_member %>
				<div class="act_delete">
				    <%= link_to image_tag("delete-6-icon.png"), status, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			<% end %>

			<span class="meta"> 
				<%= time_ago_in_words(status.created_at) %>
			</span>
		</div>

		<div class="act_content">
			<%= status.content %>
		</div>

		<div class="act_attachment">
		    <%= status_document_link(status) %>
		</div>

		<% if member_signed_in? %>

			<div class="actions_act">

				<span id="comment_act_btn">

				<% if status.comments.count > 0 && status.comments.count <= 99 %>
					<%= link_to status_path(status), :class => "btn comment" do %>
						<%= image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") %><%= status.comments.count %>
					<% end %>
				<% elsif status.comments.count > 99 %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") + '99+', status_path(status), :class => "btn comment" %>
				<% else %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment"), status_path(status), :class => "btn comment" %>
				<% end %>

				</span>

			</div>

		<% end %>

	</div>

<% end %>