<% title (@status.member.full_name + " &#215; Edit Status").html_safe %>

	<div id="main_wrap">

		<div id="edit_show">

			<div class="t"> 
				Last updated: <%= @status.updated_at.localtime.strftime("%A, %m/%d %I:%M%P") %> &#8226; 
				<%= link_to "View", status_path(@status), title: 'View Status', alt: 'View Status' %> 
				&#8226; <%= link_to "Cancel Edit", profile_personal_path(@status.member), title: 'Cancel Edit', alt: 'Cancel Edit' %>
				<% if current_member == @status.member %>
					<span class="dl"><%= link_to image_tag("/assets/Delete.png", title: 'Delete', alt: 'Delete'), @status, method: :delete, data: { confirm: 'Are you sure?' } %></span>
				<% end %>
			</div>

			<%= render 'form' %>

		</div>

<!--/edit_show-->

	</div>

<!--/main_wrap-->