<div id="activity_wrap" style="padding-top:60px;">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> 

<h1>All Statuses</h1>

		<%= link_to 'Post a New Status', new_status_path %>

		<% @statuses.each do |status| %>
			<div class="status">
				    <h3><%= status.member.user_name %></h3>
				    <p><%= status.content %></p>
				<div class="meta">
			    	<p><%= link_to time_ago_in_words(status.created_at) + " ago", status %></p>
			    </div>
			    <span class="ad_item">
				    <%= link_to 'Edit', edit_status_path(status) %> |
				    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
				</span>
			</div>
		<% end %>


	<br />

<div style="clear: both;"></div>
</div>

<!--/activity_wrap-->