<% title (@status.member.full_name + " &#215; Status").html_safe %>

<div id="main_wrap">

	<div id="status_show">

		<div id="ss_l">
			<div class="mem_av">
				<%= avatar_profile @status.member, :class => "", title: @status.member.full_name, alt: @status.member.full_name %>
			</div>

			<div class="bi">
				<div class="fn">
					<%= @status.member.full_name %>
				</div>

				<div class="un">
					<%= @status.member.user_name %>
				</div>

				<% if current_member != @status.member && member_signed_in? %>
	                <div id="gl_follow_<%= @status.member.id %>" class="gl_follow">
	                    <%= render :partial => "shared/follow_member2", :locals => {:member => @status.member} %>
	                </div>
	            <% end %>

				<% if @status.member.city? %>
					<div class="cy">
                        <%= link_to @status.member.city.titleize, :controller => "search", :action => "search", :discover => @status.member.city %>
                    </div>
                <% end %>

                <% if @status.member.pursuit_list %>
					<div class="ps">
                        <%= @status.member.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :discover => p }.join(' ').html_safe %>
                    </div>
                <% end %>
			</div>
		</div>

		<div id="ss_r">
			<div class="">
				<div class="t">
					<%= @status.created_at.strftime("%A, %m/%d %I:%M%P") %> 
					&#8226; <%= link_to "Share", "#share", :data => {:toggle => "modal"}, title: 'Share Status', alt: 'Share Status' %> 
					<% if current_member == @status.member %> 
						&#8226; <%= link_to "Edit", edit_status_path(@status), title: 'Edit Status', alt: 'Edit Status' %>
						<span class="dl"><%= link_to @status, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', alt: 'Delete' do %>
                			<i class="fa fa-times"></i>
              			<% end %></span>
					<% end %>
				</div>

				<div class="act_content">
					<%= sanitize(Rinku.auto_link(statuses_with_mentions(@status)), :tags => %w(a)) %>
				</div>

				<% if member_signed_in? %>
					<div id="c_form_wrap">
						<%= render "shared/comment_form" %>
					</div>
				<% else %>
			        <div class="c_message">Must be logged in to leave a comment.</div>
			    <% end %>

				<div id="comments_<%= @commentable.id %>" class="act_cmts comments_wrap">
					<%= render partial: "shared/comments", :collection => @comments, :as => :comment %>
				</div>

				<%= will_paginate @comments, class: 'display_none' %>

				<% if @comments.total_pages != @comments.current_page %>
					<div id="loading"></div>	
			        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
			        	<div class="com_show">
			        		Show More
			        	</div>
			        <% end %>				    
				<% end %>

			</div>
			<div style="clear:both;"></div>
		</div>

		<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      <h3 id="sharemodallabel">Copy Media URL</h3>
		    </div>
		    <div class="modal-body pi">
		      <input class="pr_in forms" value="<%= status_url %>" onclick="this.select()" />
		    </div>
		</div>

		<div style="clear:both;"></div>
	</div>

</div>

<!--/main_wrap-->