<% title @status.member.full_name + " | Status"%>

<div id="main_wrap">

	<div id="status_show">

		<div class="list_act_wrap">

			<div class="act_status_top">
				<span class="">
					<%= avatar_profile_link @status.member, :class => "act_av", title: @status.member.full_name, alt: @status.member.full_name %>
				</span>

				<span class="act_name">
					<%= link_to @status.member.user_name, profile_path(@status.member) %>
				</span>

				<% if current_member == @status.member %>
					<span class="act_delete">
						<%= link_to image_tag("/assets/Delete 2.png", title: 'Delete'), @status, method: :delete, data: { confirm: 'Are you sure?' } %>
					</span>
				<% end %>

				<span class="meta"> 
					<%= time_ago_in_words(@status.created_at) %>
				</span>

				<% if member_signed_in? %>
				    <div class="status_btns">
				        <%= link_to image_tag("/assets/Share 4.png", class: 'ims sh', title: 'Share'), "#share", :data => {:toggle => "modal"} %>
				    </div>
				<% end %>
			</div>

			<div class="act_content">
				<%= Rinku.auto_link(@status.content_html).html_safe %>
			</div>

			<div class="act_attachment">
			    <%= status_document_link(@status) %>
			</div>

			<% if member_signed_in? %>
				<div id="">
					<%= render "shared/comment_form" %>
				</div>

				<div id="comments_wrap comments_<%=@comment.commentable.id %>" class="act_cmts">
					<%= render partial: "shared/comments", :collection => @comments, :as => :comment %>
				</div>

				<%= will_paginate @comments, class: 'display_none' %>

				<% if @comments.total_pages != @comments.current_page %>
					<div id="loading"></div>	
			        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
			        	<div class="com_show">
			        		Show More
			        	</div>
			        <% end %>				    
				<% end %>
				
			<% end %>

		</div>

		<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      <h3 id="sharemodallabel">Copy Media URL</h3>
		    </div>
		    <div class="modal-body pi">
		      <input class="pr_in forms" value="<%= status_url %>" />
		    </div>
		</div>

	</div>

</div>

<!--/main_wrap-->