
	<div id="member_item_wrap">

		<div class="avatar">
			<%= avatar_profile member, :class => "fol_av", title: member.full_name, alt: member.full_name %>
		</div> 

		<div class="bottom">
			<div class="name">
				<%= member.full_name %>
			</div> 

			<div class="username">
				<%= member.user_name %>
			</div> 

			<% if current_member != member && member_signed_in? %>
                <span id="gl_follow_<%= member.id %>" class="gl_follow">
                    <%= render :partial => "shared/follow_member2", :locals => {:member => member} %>
                </span>
            <% end %>

			<div class="pursuits">
				<%= member.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :discover => p }.join(', ').html_safe %>
			</div> 
			<div class="location">
				<% if member.city? %>
                    <%= link_to member.city.titleize, :controller => "search", :action => "search", :discover => member.city %>
                <% end %>
			</div>
		</div>

	</div>
