<% @results.each do |member| %>
	<div id="member_item_wrap">

		<div class="avatar">
			<%= follow_profile_link member, title: member.full_name, alt: member.full_name %>
		</div> 

		<div class="bottom">
			<div class="name">
				<%= member.full_name %>
			</div> 

			<div class="username">
				<%= "@" + member.user_name %>
			</div> 

			<div class="pursuits">
				<%= member.pursuit_list.map { |p| link_to p.titleize, :controller => "search", :action => "search", :discover => p }.join(', ').html_safe %>
			</div> 
			<div class="location">
				<% if member.city? %>
                    <%= link_to member.city, :controller => "search", :action => "search", :discover => member.city %>
                <% end %>
                <% if member.state? %>
                    <%= link_to member.state, :controller => "search", :action => "search", :discover => member.state %>
                <% end %>
                <% if member.country? %>
                    <%= link_to member.country, :controller => "search", :action => "search", :discover => member.country %>
                <% end %>
			</div>
		</div>

	</div>
<% end %>