<% title "LLF | Discover" %>

<%= render :partial => "banner" %>

<div id ="main_wrap">
	<div id="results_wrap">
		<% if @query == nil && @facet == nil && @tag_facet == nil %>
			<div id="sb_wrap" class="se_wrap">
				<div class="sb_text">
		            Start looking by the most popular cities & pursuits.</br>
		            Or enter something in the bar.
		        </div>
		        <div class="elocs">             
		            <% for row in @search.facet(:city).rows %>
		                <span class="eloc"><%= link_to(row.value, params.merge({:city => row.value})) %></span>
		            <% end %>           
		        </div>

		        <div class="btags">
		          <% for row in @search.facet(:pursuit_list).rows %>
		              <span class="btag"><%= link_to(row.value.titleize, params.merge({:tag => row.value})) %></span>
		          <% end %>
		        </div>
		    </div>
		    <div id="member_list_wrap">
				<%= render partial: 'members' %>
			</div>
		<% else %>	
			<div id="sb_wrap" class="se_wrap">
				<div class="sb_text">
		            Start looking by the most popular cities & pursuits.</br>
		            Or enter something in the bar.
		        </div>
		        <div class="elocs">             
		            <% for row in @search.facet(:city).rows %>
		                <span class="eloc"><%= link_to(row.value, params.merge({:city => row.value})) %></span>
		            <% end %>           
		        </div>

		        <div class="btags">
		          <% for row in @search.facet(:pursuit_list).rows %>
		              <span class="btag"><%= link_to(row.value.titleize, params.merge({:tag => row.value})) %></span>
		          <% end %>
		        </div>
		    </div>
			<div id="member_list_wrap">
				<%= render partial: 'results' %>
			</div>

			<%= will_paginate @results, class: 'display_none' %>

			<% if @results.total_pages != @results.current_page %>
				<div id="loading"></div>
				<%= link_to("#", class: "com_show_wrap load_arrow") do %>
		        	<div class="com_show">
		        		Show More
		        	</div>
		        <% end %>
			<% end %>
		<% end %>
	</div>
</div>
