<% title "LLF x Discover" %>

<%= render :partial => "banner" %>

<div class="scroll2">
	<div id="results_wrap">
		<% if @query == nil && @facet == nil && @tag_facet == nil %>
			<div id="sb_wrap" class="se_wrap">
				<% if member_signed_in? %>
					<div class="sb_text">
			            Start looking by the most popular cities & pursuits.</br>
			            Or enter something in the bar.
			        </div>
		        <% end %>
		        <div class="elocs">             
		            <% for row in @search.facet(:city).rows %>
		                <span class="eloc"><%= link_to(row.value.titleize, params.merge({:city => row.value})) %></span>
		            <% end %>           
		        </div>

		        <div class="btags">
		          <% for row in @search.facet(:pursuit_list).rows %>
		              <span class="btag"><%= link_to(row.value.titleize, params.merge({:pursuit => row.value})) %></span>
		          <% end %>
		        </div>
		    </div>

		    <div id="m_wrap">
			    <div id="media_query_follow">
				    <div id="member_list_wrap">
						<%= render partial: 'members', :collection => @members, :as => :member %>
					</div>
				</div>
			</div>
		<% else %>	
			<div id="sb_wrap" class="se_wrap">
				<div id="bc_wrap">
	    			<div class="breadcrumbs">
	    				<span><%= link_to "Discover", search_path %></span> &raquo; <span>Results</span>
	    			</div>
	            </div>
				<div class="sb_text">
		            Start looking by the most popular cities & pursuits.</br>
		            Or enter something in the top menu.
		        </div>
		        <div class="elocs">             
		            <% for row in @search.facet(:city).rows %>
		                <span class="eloc"><%= link_to(row.value, params.merge({:city => row.value})) %></span>
		            <% end %>           
		        </div>

		        <div class="btags">
		          <% for row in @search.facet(:pursuit_list).rows %>
		              <span class="btag"><%= link_to(row.value.titleize, params.merge({:pursuit => row.value})) %></span>
		          <% end %>
		        </div>
		    </div>

		    <div id="m_wrap">
				<div id="media_query_follow">
					<div id="member_list_wrap">
						<%= render partial: 'results', :collection => @results, :as => :member %>
					</div>
				</div>

				<%= will_paginate @results, class: 'display_none' %>

				<% if @results.total_pages != @results.current_page %>
					<div id="loading"></div>
					<%= link_to("#", class: "com_show_wrap load_arrow") do %>
			        	<div class="com_show">
			        		Show More
			        	</div>
			        <% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
