<div id="receipt_<%= receipt.message.id %>_<%= receipt.message.sender.id %>" class="mess_wrap">
	<span class="comment_av">
		<%= avatar_profile receipt.message.sender, :class => "pr_av", title: receipt.message.sender.full_name, alt: receipt.message.sender.full_name  %>
	</span>
	<span>
		<div class="comment_name2">
			<%= link_to receipt.message.sender.user_name, profile_path(receipt.message.sender) %>
		</div>	
		<div class="com_con">
			<%= sanitize(Rinku.auto_link(receipt.message.body), :tags => %w(a)) %>
			<div class="meta"><%= receipt.message.created_at.strftime("%a, %m/%d %I:%M%P") %></div>
		</div>
	</span>	
</div>	 
