<div id="conv_<%= conversation.id %>_<%= current_member.id %>" class="conversation" data-id="<%= conversation.id %>">
	<% if conversation.is_unread?(current_member) %>
		<div id="conv_wrap2">
	<% else %>
		<div id="conv_wrap">
	<% end %>
		    <div class="conv_subj">
		  		<%= link_to conversation.subject, conversation_path(conversation) %>
		    </div>

		    <div> 
			    <% conversation.recipients.each do |recipient| %>
				    <span><%= list_av recipient, :class => "pr_av", title: recipient.full_name, alt: recipient.full_name  %></span>
				<% end %>
		  	</div>

		  	<div class="conv_body">
			    <%= conversation.last_message.body %>
		  	</div>

		    <div class="conv_time">
		  		<%= conversation.updated_at.localtime.strftime("%a, %m/%e %I:%M%P") %>
		    </div>

		    <div class="conv_actions">
		    	<span class="c_actions">
		    		<%= link_to(conversation_path(conversation), class: '') do %>
		    			<i class="icon-share-alt icon-grey"></i> Reply
		    		<% end %>
		    	</span>
		    	<span class="conv_del c_actions">
		    		<%= link_to({:controller => "conversations", :action => "trash", :id => conversation.id}, :title=> "Move to Trash", remote: true, :method=>'post') do %>
		    			<i class="icon-trash icon-grey"></i> Move to Trash
		    		<% end %>
		    	</span>
		    </div>
		</div>
</div>
