<% title "Conversations"  %>

<div id="mquery">

	<div id="main_wrap">

		<div class="convos_wrap">
			<div>
				<ul class="nav nav-tabs" id="">
			      <li class="active">
			        <%= link_to("#inbox", :data => {:toggle=>"tab"}, class: '') do %>
			        	Inbox <span id="conv_ct">(<%= current_member.mailbox.inbox({:read => false}).count %>)</span>
			        <% end %>
			      </li>
			      <li>
			        <%= link_to "Sentbox", "#sentbox", :data => {:toggle=>"tab"}, class: '' %>
			      </li>
			      <li>
			        <%= link_to "Trash", "#trash", :data => {:toggle=>"tab"}, class: '' %>
			      </li>
			    </ul>
			</div>

			<div class="tab-content">
	    		<div id="inbox" class="tab-pane active">
	    			<div class="add_more">
		                <%= link_to "#message", title: 'New Conversation', alt: 'New Conversation', :data => {:toggle => "modal"} do %>
			              <i class="fa fa-comments"></i>New Conversation
			            <% end %>
		            </div>
	    			<div class="refresh"><%= link_to '<i class="fa fa-refresh"></i>Refresh'.html_safe, :controller => :conversations, :action => :index, remote: true %></div>
	    			<%= content_tag :div, class: "inbox_wrap", data: {url: polling_conversations_url} do %>
	    				<%= render partial: "conversations/conversation", :collection => @conversations, :as => :conversation %>
					<% end %>

					<%= will_paginate @conversations, class: 'display_none' %>

					<% if @conversations.total_pages != @conversations.current_page %>
					    <div id="loading"></div>
					    <%= link_to("#", class: "com_show_wrap load_arrow") do %>
					      <div class="com_show">
					        Show More
					      </div>
					    <% end %>
					<% end %>
				</div>

				<div id="sentbox" class="tab-pane">
					<div class="add_more">
		                <%= link_to "#message", title: 'New Conversation', alt: 'New Conversation', :data => {:toggle => "modal"} do %>
			              <i class="fa fa-comments"></i>New Conversation
			            <% end %>
		            </div>

					<div class="sentbox_wrap">
						<%= render partial: "conversations/sent", :collection => @sent, :as => :conversation %>
					</div>

					<%= will_paginate @sent, class: 'display_none' %>

					<% if @sent.total_pages != @sent.current_page %>
					    <div id="st_loading"></div>
					    <%= link_to("#", class: "com_show_wrap st_load_arrow") do %>
					      <div class="com_show">
					        Show More
					      </div>
					    <% end %>
					<% end %>
				</div>

				<div id="trash" class="tab-pane">
					<div class="add_more">
		                <%= link_to( {:controller => "conversations", :action => "empty_trash"}, remote: true, :method => 'post', data: { confirm: 'Are you sure?' },  title: 'Empty Trash', alt: 'Empty Trash') do %>
			              <i class="fa fa-trash-o"></i>Empty Trash
			            <% end %>
		            </div>

					<div class="trash_wrap">
						<%= render partial: "conversations/trash", :collection => @trash, :as => :conversation %>
					</div>

					<%= will_paginate @trash, class: 'display_none' %>

					<% if @trash.total_pages != @trash.current_page %>
					    <div id="tr_loading"></div>
					    <%= link_to("#", class: "com_show_wrap tr_load_arrow") do %>
					      <div class="com_show">
					        Show More
					      </div>
					    <% end %>
					<% end %>
				</div>

			</div>

			<div id="message" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">

			  	<div class="mod_close">
	            	<%= link_to '&times;'.html_safe, "javascript:void(0);", :data => {:dismiss => "modal"} %>
	          	</div>

	          	<div class="modal-dialog" role="document">
	            	<div class="modal-content">

					  	<div class="modal-body pi">
					    	<%= render :partial => "form" %>
					  	</div>

					</div>
				</div>

			</div>

		</div>

	</div>

</div>