<div class="list_act_wrap market_fil">

	<div class="act_market_top">
		<span class="">
			<%= avatar_profile_link activity.member, :class => "act_av", title: activity.member.full_name, alt: activity.member.full_name %>
		</span>

		<span class="act_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %>
		</span>

		<span class="meta"> 
			<%= time_ago_in_words(activity.targetable.created_at) %>
		</span>

		<span class="act_title mrk">
			created a new <%= link_to 'Brand', profile_market_path(activity.member) %>
		</span>
	</div>

	<div class="act_m_title">
		<%= link_to activity.targetable.name, brand_path(activity.targetable_id) %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to m.titleize, :controller => "brands", :action => "index", :search => m }.join(' ').html_safe %>
	</div>

	<div class="act_p_av">
	    <%= activity_brand_link activity.targetable, class: '' %>
	</div>

	<% if member_signed_in? %> 
		<div id="act_btn_wrap">
			<span id="comment_act_btn">

				<% if activity.votes.size > 0 && activity.votes.size <= 99 && current_member.voted_up_on?(activity) %>
					<%= link_to favorite_activity_path(activity), method: :put, title: "Unfavorite", alt: "Unfavorite", :class => "btn favorite" do %>
						  <%= image_tag("Favorite 3.png", class: "act_actions") %><%= activity.votes.size %>
					<% end %>
				<% elsif activity.votes.size > 99 && current_member.voted_up_on?(activity) %>
					<%= link_to image_tag("Favorite 3.png", class: "act_actions") +'99+', favorite_activity_path(activity), method: :put, title: "Unfavorite", alt: "Unfavorite", :class => "btn favorite" %>
				<% elsif activity.votes.size > 0 && activity.votes.size <= 99 %>
					<%= link_to favorite_activity_path(activity), method: :put, title: "Favorite", alt: "Favorite", :class => "btn favorite" do %>
						  <%= image_tag("Favorite 5.png", class: "act_actions") %><%= activity.votes.size %>
					<% end %>
				<% elsif activity.votes.size > 99 %>
					<%= link_to image_tag("Favorite 5.png", class: "act_actions") +'99+', favorite_activity_path(activity), method: :put, title: "Favorite", alt: "Favorite", :class => "btn favorite" %>
				<% else %>
					<%= link_to image_tag("Favorite 5.png", class: "act_actions"), favorite_activity_path(activity), method: :put, title: "Favorite", alt: "Favorite", :class => "btn favorite" %>
				<% end %>

				<%= link_to image_tag("Share 3.png", class: "act_actions"), "#", title: "Share", alt: "Share", :class => "btn share" %>

				<% if activity.member == current_member %>
					<span class="ad">
						<%= link_to image_tag("Trash.png",  class: "act_actions"), activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete", :class => "btn more" %>
					</span>
				<% end %>
				
			</span>
		</div>
	<% end %>

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Project URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= project_url(activity.targetable_id) %>" />
	    </div>
	</div>

</div> 