<% title "LLF | Market" %>

<%= render :partial => "banner" %>

<div id="mk_wrap">

    <div id="mk_head" >
        <div>
            <span class="h pl">
                POPULAR
            </span>
        </div>
    </div>

    <div id="li_index">
        <div id="pop_lstgs">
            <%= render partial: 'listings/pop_listings' %>
        </div>
    </div>

    <div id="mk_head" >
        <div>
            <span class="h mk">
                <%= link_to(listings_path, class: "") do %>
                    MARKET
                <% end %>
            </span>
            <span class="mk_l v_a">
                <%= link_to(listings_path, class: "") do %>
                    view all &raquo;
                <% end %>
            </span>
        </div>
    </div>

    <div id="li_index">
        <div id="lstgs" class="">
            <%= render partial: 'listings/listings' %>
        </div>
    </div>

</div>