<% title "LLF x Market" %>

<%= render :partial => "banner" %>

<div id="lstgs_wrap">

    <div id="sb_wrap">
        <div id="bc_wrap">
            <div class="breadcrumbs">
                <span>Market</span> &raquo; <span class="lstgs"><%= link_to "Listings", listings_path %></span>
            </div>
        </div>

        <div class="sb_text">
            Look up a listing name or tag
        </div>

        <div class="sb">
          <%= render :partial => "listings/search" %>
        </div>
    </div>

    <div id="mk_wrap">

        <div id="mk_head" >
            <div>
                <span class="h pl">
                    <%= link_to(popular_listings_path, class: "") do %>
                        POPULAR
                    <% end %>       
                </span>
                <span class="pl_l v_a">
                    <%= link_to(popular_listings_path, class: "") do %>
                        View more
                    <% end %>
                </span>
            </div>
        </div>

        <div id="li_index">
            <div id="pop_lstgs">
                <%= render partial: 'listings/pop_listings' %>
            </div>
        </div>

        <div id="mk_head" class="mk_2">
            <div>
                <span class="h mk">
                    <%= link_to(listings_path, class: "") do %>
                        MARKET
                    <% end %>
                </span>
                <span class="mk_l v_a">
                    <%= link_to(listings_path, class: "") do %>
                        View more
                    <% end %>
                </span>
            </div>
        </div>

        <div id="li_index">
            <div id="lstgs" class="">
                <%= render partial: 'listings/listings' %>
            </div>
        </div>

    </div>

</div>