<div class="list_act_wrap">

	<div class="act_media_top">
		<span class="">
			<%= avatar_profile_link activity.member, :class => "act_av" %>
		</span>

		<span class="act_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %> 
		</span>

		<% if activity.member == current_member %>
			<div class="act_delete">
			    <%= link_to image_tag("delete-6-icon.png"), activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		<% end %> 

		<span class="meta"> 
			<%= time_ago_in_words(activity.targetable.created_at) %>
		</span>

		<span class="act_title med">
			uploaded new <%= link_to 'Media', profile_media_path(activity.member) %>
		</span>
	</div>

	<div class="act_media_content">
		<%= link_to image_tag(activity.targetable.asset.url(:activity), class: ''), activity.targetable.asset.url(:large), class: 'fancybox' %>
	</div>

	<% if activity.targetable.caption? %>
		<div class="media_act_cap">
			<%= activity.targetable.caption %>
		</div> 
	<% end %>

	<% if member_signed_in? %>
		<div class="actions_act">
			<span id="comment_act_btn">

				<% if activity.targetable.comments.count > 0 && activity.targetable.comments.count <= 99 %>
					<%= link_to medium_path(activity.targetable_id), :class => "btn comment" do %>
						<%= image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") %><%= activity.targetable.comments.count %>
					<% end %>
				<% elsif activity.targetable.comments.count > 99 %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") + '99+', status_path(activity.targetable_id), :class => "btn comment" %>
				<% else %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment"), medium_path(activity.targetable_id), :class => "btn comment" %>
				<% end %>

				<% if activity.votes.size > 0 && activity.votes.size <= 99 && current_member.voted_up_on?(activity) %>
					<%= link_to favorite_activity_path(activity), method: :put, :class => "btn favorite" do %>
						  <%= image_tag("Favorite 3.png", class: "act_actions", title: "Unfavorite", alt: "Unfavorite") %><%= activity.votes.size %>
					<% end %>
				<% elsif activity.votes.size > 99 && current_member.voted_up_on?(activity) %>
					<%= link_to image_tag("Favorite 3.png", class: "act_actions", title: "Unfavorite", alt: "Unfavorite") +'99+', favorite_activity_path(activity), method: :put, :class => "btn favorite" %>
				<% elsif activity.votes.size > 0 && activity.votes.size <= 99 %>
					<%= link_to favorite_activity_path(activity), method: :put, :class => "btn favorite" do %>
						  <%= image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite") %><%= activity.votes.size %>
					<% end %>
				<% elsif activity.votes.size > 99 %>
					<%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite") +'99+', favorite_activity_path(activity), method: :put, :class => "btn favorite" %>
				<% else %>
					<%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite"), favorite_activity_path(activity), method: :put, :class => "btn favorite" %>
				<% end %>

				<%= link_to image_tag("Re-Stream 3.png", class: "act_actions", title: "Restream", alt: "Restream"), "#", :class => "btn restream" %>
			</span>
		</div>
	<% end %>

</div>