<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap media_fil">

	<div id="a_top">

		<div class="a_av"><%= act_profile_link activity.targetable.member, :class => "pr_av", title: activity.targetable.member.full_name, alt: activity.targetable.member.full_name %>
		</div>

		<div class="a_info at_m">
			<ul>
				<li>
					<%= link_to profile_media_path(activity.targetable.member) do %>
					 <span class="a_action">added new</span> media
					<% end %>
				</li>
				<li class="a_time">
					<span class="a_t"><span class="m"><%= time_ago_in_words(activity.targetable.created_at) %></span></span>
				</li>
			</ul>
		</div>

	</div>

	<% if activity.targetable.link? %>
		<%= render :partial => "activities/medium/md_vd", :locals => {:activity => activity} %>
	<% else %>
		<%= render :partial => "activities/medium/md_att", :locals => {:activity => activity} %>
	<% end %>

	<% if activity.targetable.caption? %>
		<div class="media_act_cap">
			<%= sanitize(Rinku.auto_link(media_with_mentions(activity.targetable)), :tags => %w(a)) %>
		</div> 
	<% end %>

	<% if activity.targetable.marker_list %>
      <div class="t_s">
      	<%= activity.targetable.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "media", :action => "index", :media => m}, title: m, alt: m }.join(' ').html_safe %>
      </div>
    <% end %>

	
		<div id="act_btn_wrap">
			<span id="comment_act_btn">

				<%= render :partial => "activities/medium/comment_button", :locals => {:activity => activity} %>

				<% if member_signed_in? %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
					</span>

				<% else %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/fav_logged_out.html", :locals => {:activity => activity} %>	
					</span>

				<% end %>

				<% if member_signed_in? %>

					<% if activity.member == current_member %>
						<span class="">
							<%= render :partial => "activities/medium/edit_button", :locals => {:activity => activity} %>
						</span>


						<span class="ad">
							<%= render :partial => "activities/delete_button", :locals => {:activity => activity} %>
						</span>
					<% end %>

				<% end %>
				
			</span>
		</div>
	

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Project URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= medium_url(activity.targetable) %>" />
	    </div>
	</div>
	
</div>