<% title "LLF | Password Reset" %>

<div class="login_bg">

	<div class="login_wrap">
		<div class="login_form">

				<%= simple_form_for(resource, :as => resource_name, :url => password_path, :html => { :method => :post, class: "" }) do |f| %>
				  	<%= devise_error_messages! %>

				  	<div>
					  <%= f.input :email, :autofocus => true, label: false, placeholder: 'Email', input_html: { class: 'forms account sign_in'} %>
					</div>

					<div><%= f.button :submit, "Send Reset Instructions", class: 'btn btn-info btn-large' %></div>

				<% end %>

				<div class="links">
					<%= render "devise/shared/links" %>
				</div>

		</div>
	</div>

</div>

<!--/main_wrap-->
