<div id="comm_form_wrap">

	<%= simple_form_for [@commentable, @comment], :html => { :id => 'comment_form' }, remote: true do |f| %>

		<div class="c_f_labels">
	        <div id="custom-input">
	            <div class="input-group col-md-12 single_row">
	                <%= f.input :content, label: false, placeholder: 'Leave a comment...', input_html: { class: 'forms act_comment', id: 'comment_box', rows: '1', maxlength: '280' } %>
	            </div>
	        </div>
      	</div>

		<%= f.submit "Comment", :class => 'btn' %>

		<span id="spinner" class="spinner">
			<%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
		</span>

		<span id="comment_length" style="display:none;"></span>
		
		<span id="comm_counter" class="comm_counter">Comments &#8226; <%= @commentable.comments.count %></span>
		<div class="btn_alt">or press enter</div>	

	<% end %>

</div>