<%= simple_form_for [@uploadable, @upload] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asset, label: false, error: false, as: :file %>
    <%= bootstrap_paperclip_uploads f, :asset %>
    <div class="cover_art">(Optional) Audio Cover Art</div>
    <%= f.input :cover, label: false, error: false, as: :file %>
    <div class="cap">
    	<span id="cap_count"></span> <span class="cap_remain">characters remaining</span> <span class="cap_opt">(Optional)</span>
    </div> 
    <%= f.input :caption, label: false, error: false, input_html: { rows: '1', maxlength: '280', class: 'input-xlarge', id: 'cap_box', autocomplete: 'off' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Upload', :class => "btn btn-warning" %>
  </div>
<% end %>