<%= simple_form_for [@uploadable, @upload], :html => { :multipart => true, :id => 'upload_form' }, remote: true do |f| %>

  <div class="form-inputs">

    <div class="md_hd pa">PHOTOS/AUDIO</div>

    <div class="med_instructions">
      <ul>
        <li>
          &raquo; Maximum file size of 15MB
        </li>
        <li>
          &raquo; Accepted file formats: (jpeg, png, mp3)
        </li>
        <li>
          &raquo; (Optional) Attach audio cover art
        </li>
      </ul>
    </div>

    <div>
      <span class="custom-file-upload fu1_wrap">
        <label for="file-upload" class="cfu_label"><i class="fa fa-arrow-up"></i>Browse
          <%= f.input :asset, label: false, error: false, as: :file, :input_html => { id: 'file-upload', class: 'cfu' } %>
        </label>
      </span>

      <span class="custom-file-upload fu2_wrap">
        <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Cover Art
          <%= f.input :cover, label: false, error: false, as: :file, :input_html => { id: 'file-upload2', class: 'cfu' } %>
        </label>
      </span>
    </div>

    <div class="md_hd vd">VIDEO/AUDIO LINK</div>

    <div class="med_instructions">
      <ul>
        <li>
          &raquo; We support YouTube, Vimeo, and Soundcloud
        </li>
      </ul>
    </div>

    <div class="c_f_labels">
      <div id="custom-input">
          <div class="input-group col-md-12 single_row">
              <%= f.input :link, label: false, error: false, input_html: { cols: '40', rows: '1', class: ' input-xlarge', autocomplete: 'off' }, placeholder: 'http://' %>
          </div>
      </div>
    </div>

    <div class="cap">
    	<span id="cap_count"></span> <span class="cap_remain">CHARACTERS REMAINING
    </div> 

    <%= f.input :caption, label: false, error: false, placeholder: 'Write a short description...', input_html: { rows: '1', class: 'input-xlarge txt_a_size', id: 'upl_cap', autocomplete: 'off' } %>

  </div>

  <div class="form-actions">

    <%= f.button :submit, 'Add Media', :class => "btn btn-grey" %>
    <span id="spinner" class="spinner">
      <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
    </span>

  </div>

<% end %>