<%= simple_form_for [@uploadable, @upload], :html => { :multipart => true, :id => 'upload_form' }, remote: true do |f| %>

  <div class="form-inputs">

    <div class="med_instructions">
      <ul>
        <li>
          &raquo; Maximum file size of 15MB
        </li>
        <li>
          &raquo; Accepted file formats: (jpeg, png, mp3)
        </li>
      </ul>
    </div>

    <div class="custom-file-upload fu1_wrap">
      <label for="file-upload" class="cfu_label"><i class="fa fa-arrow-up"></i>Browse*
        <%= f.input :asset, label: false, error: false, as: :file, :input_html => { id: 'file-upload', class: 'cfu' } %>
      </label>
    </div>
    <%= bootstrap_paperclip_uploads f, :asset %>

    <div class="cover_art">(Optional) Audio Cover Art</div>

    <div class="custom-file-upload fu2_wrap">
      <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Browse
        <%= f.input :cover, label: false, error: false, as: :file, :input_html => { id: 'file-upload2', class: 'cfu' } %>
      </label>
    </div>

    <div class="cap">
    	<span id="cap_count"></span> <span class="cap_remain">characters remaining</span> <span class="cap_opt">(Optional)</span>
    </div> 

    <%= f.input :caption, label: false, error: false, placeholder: 'Write a short description...', input_html: { rows: '1', maxlength: '280', class: 'input-xlarge', id: 'cap_box', autocomplete: 'off' } %>

  </div>

  <div class="form-actions">

    <%= f.button :submit, 'Upload', :class => "btn btn-warning" %>
    <span id="spinner" class="spinner">
      <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
    </span>

  </div>

<% end %>