<%= simple_form_for [@uploadable, @upload], :html => { :multipart => true, :id => 'upload_form' }, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="custom-file-upload fu1_wrap">
      <label for="file-upload" class="cfu_label"><i class="icon-arrow-up icon-white"></i> Browse
        <%= f.input :asset, label: false, error: false, as: :file, :input_html => { id: 'file-upload', class: 'cfu' } %>
      </label>
    </div>
    <%= bootstrap_paperclip_uploads f, :asset %>

    <div class="cover_art">(Optional) Audio Cover Art</div>

    <div class="custom-file-upload fu2_wrap">
      <label for="file-upload2" class="cfu_label"><i class="icon-arrow-up icon-white"></i> Browse
        <%= f.input :cover, label: false, error: false, as: :file, :input_html => { id: 'file-upload2', class: 'cfu' } %>
      </label>
    </div>

    <div class="cap">
    	<span id="cap_count"></span> <span class="cap_remain">characters remaining</span> <span class="cap_opt">(Optional)</span>
    </div> 

    <%= f.input :caption, label: false, error: false, placeholder: 'Write a short description...', input_html: { rows: '1', maxlength: '280', class: 'input-xlarge', id: 'cap_box', autocomplete: 'off' } %>

  </div>

  <div class="form-actions">

    <%= f.button :submit, 'Upload', :class => "btn btn-warning" %>

  </div>

<% end %>