<div id="update_<%= update.updateable.id %>_<%= update.id %>" class="update_wrap">
	<div id="u_top">
		<div class="u_tit">
			<%= update.title %>
		</div>
		<% if update.member == current_member %>
			<span class="u_del">
				<span class="u_edt">
					<%= link_to "Edit", polymorphic_url([@updateable, update], action: :edit), class: '' %>
				</span> &#8226;
				<%= link_to "Delete", [@updateable, update], remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
			</span>
		<% end %>
		<div style="clear:both;"></div>
	</div>
	<div class="u_time">
		<%= update.created_at.strftime("%b %d %Y") %>
	</div>

	<div id="u_bottom">
		<%= raw Rinku.auto_link(update.content) %>
	</div>
</div>
