<div class="list_act_wrap">

	<div class="act_status_top">
		<span class="">
			<%= avatar_profile_link activity.member, :class => "act_av" %>
		</span>

		<span class="act_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %>
		</span>

		<span class="meta"> 
			<%= time_ago_in_words(activity.targetable.created_at) %>
		</span>

		<span class="act_title stat">
			wrote a new <%= link_to 'Status', status_path(activity.targetable_id) %>
		</span>
	</div>

	<div class="act_content">
		<%= Rinku.auto_link(activity.targetable.content).html_safe %>
	</div>

	<div class="act_attachment">
	    <%= status_document_link activity.targetable %>
	</div>

	<% if member_signed_in? %> 
		<div class="actions_act">
			<span id="comment_act_btn">

				<% if activity.targetable.comments.count > 0 && activity.targetable.comments.count <= 99 %>
					<%= link_to status_path(activity.targetable_id), :class => "btn comment" do %>
						<%= image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") %><%= activity.targetable.comments.count %>
					<% end %>
				<% elsif activity.targetable.comments.count > 99 %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment") + '99+', status_path(activity.targetable_id), :class => "btn comment" %>
				<% else %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comment", alt: "Comment"), status_path(activity.targetable_id), :class => "btn comment" %>
				<% end %>

				<% if activity.votes.size > 0 && activity.votes.size <= 99 && current_member.voted_up_on?(activity) %>
					<%= link_to favorite_activity_path(activity), method: :put, :class => "btn favorite" do %>
						  <%= image_tag("Favorite 3.png", class: "act_actions", title: "Unfavorite", alt: "Unfavorite") %><%= activity.votes.size %>
					<% end %>
				<% elsif activity.votes.size > 99 && current_member.voted_up_on?(activity) %>
					<%= link_to image_tag("Favorite 3.png", class: "act_actions", title: "Unfavorite", alt: "Unfavorite") +'99+', favorite_activity_path(activity), method: :put, :class => "btn favorite" %>
				<% elsif activity.votes.size > 0 && activity.votes.size <= 99 %>
					<%= link_to favorite_activity_path(activity), method: :put, :class => "btn favorite" do %>
						  <%= image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite") %><%= activity.votes.size %>
					<% end %>
				<% elsif activity.votes.size > 99 %>
					<%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite") +'99+', favorite_activity_path(activity), method: :put, :class => "btn favorite" %>
				<% else %>
					<%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Favorite", alt: "Favorite"), favorite_activity_path(activity), method: :put, :class => "btn favorite" %>
				<% end %>

				<span class="btn-group">
					<%= link_to image_tag("More.png", class: "act_actions", title: "More", alt: "More"), "#", :class => "btn more dropdown-toggle", :data => {:toggle => "dropdown"} %>
					<ul class="dropdown-menu">						
						<% if activity.member == current_member %>
							<li class="del">
							    <%= link_to "Delete", activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
							    </li>
						<% end %>
						<li>
							<%= link_to "Copy Link", "#", class: '' %>
						</li>
					</ul>
				</span>
			</span>
		</div>
	<% end %>

</div> 