<div class="list_act_wrap">

	<div class="act_status_top">
		<span class="">
			<%= avatar_profile_link activity.member, :class => "act_av" %>
		</span>

		<span class="act_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %>
		</span>

		<% if activity.member == current_member %>
			<div class="act_delete">
			    <%= link_to image_tag("delete-6-icon.png"), activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		<% end %>

		<span class="meta"> 
			<%= time_ago_in_words(activity.targetable.created_at) %>
		</span>

		<span class="act_title stat">
			wrote a new <%= link_to 'Post', status_path(activity.targetable_id) %>
		</span>
	</div>

	<div class="act_content">
		<%= activity.targetable.content %>
	</div>

	<div class="act_attachment">
	    <%= status_document_link activity.targetable %>
	</div>

	<div class="actions_act">
		<span id="comment_act_btn">
			<%= link_to image_tag("Comment 3.png", class: "act_actions", title: "Comments", alt: "Comments") + 'Comment', status_path(activity.targetable_id), :class => "btn comment" %>
			<%= link_to image_tag("Favorite 5.png", class: "act_actions", title: "Comments", alt: "Comments") + 'Favorite', "#", :class => "btn favorite" %>
			<%= link_to image_tag("Re-Stream 3.png", class: "act_actions", title: "Comments", alt: "Comments") + 'Re-Stream', "#", :class => "btn restream" %>
		</span>
	</div>

</div>