<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap status_fil">

	<div id="<%= activity.id %>_<%= activity.targetable.id %>" class="share-body none">
      <input class="pr_in forms" value="<%= status_url(activity.targetable) %>" onclick="this.select()" />
    </div>

	<div id="a_top">

		<div class="a_av"><%= avatar_profile activity.targetable.member, :class => "pr_av", title: activity.targetable.member.full_name, alt: activity.targetable.member.full_name %>
		</div>

		<div class="a_info at_s">
			<ul>
				<li>
					<%= link_to status_path(activity.targetable) do %>
					 <span class="a_action">wrote a</span> status
					<% end %>
				</li>
				<li class="a_time">
					<span class="a_t"><span class="m"><%= time_ago_in_words(activity.targetable.created_at) %></span></span>
				</li>
			</ul>
		</div>

		<% if member_signed_in? %>
	        <% if current_member == activity.targetable.member %>
	        	<%= render :partial => "activities/status/dropdown_toggle", :locals => {:activity => activity} %>
	        <% end %>
      	<% end %>

	</div>

	<div class="act_content">
		<%= sanitize(Rinku.auto_link(statuses_with_mentions(activity.targetable)), :tags => %w(a)) %>
	</div>
 
		<div id="act_btn_wrap">
			<span id="comment_act_btn">

				<%= render :partial => "activities/status/comment_button", :locals => {:activity => activity} %>

				<% if member_signed_in? %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
					</span>

				<% else %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/fav_logged_out.html", :locals => {:activity => activity} %>	
					</span>

				<% end %>

				<i class="fa fa-paper-plane act_actions btn share" title="Share" alt="Share" data-ovly="<%= activity.id %>_<%= activity.targetable.id %>"></i>
				
			</span>
		</div>

</div> 