<% title "LLF x Events" %>

<%= render :partial => "banner" %>

<div class="evts_wrap">

    <div id="sb_wrap" class="se_wrap">

        <div id="bc_wrap">
            <div class="popular">
              <%= link_to popular_events_path, title: 'Popular Events', alt: 'Popular Events' do %>
                <i class="fa fa-heart"></i>Popular
              <% end %>
            </div>

            <% if member_signed_in? %>
                <div class="add_evt">
                  <%= link_to new_event_path, title: 'Create Event', alt: 'Create Event' do %>
                    <i class="fa fa-plus"></i>Create Event
                  <% end %>
                </div>
            <% end %>
        </div>

        <div class="sb_text">
            Look up a current event name, tag, or location
        </div>
        <div class="sb">
          <%= render :partial => "search" %>
        </div>

    </div>

    <div id="p_index">

            <div id="prs_wrap">

                <% if @current.count > 0 %>
                    <div id="media_query_prev">
                        <div class="ev_sep">
                            <span class="ev_hd">
                                Current Events
                            </span>
                            <span class="ev_vm">
                                <%= link_to(current_events_path, class: "") do %>
                                    View more
                                <% end %>
                            </span>
                        </div>

                        <div id="prs">
                            <%= render partial: 'current' %>
                        </div>
                    </div>
                <% else %>
                    <div class="none_message">
                        No Current Events
                    </div>
                <% end %>

                <% if @past.count > 0 %>
                    <div id="media_query_prev">
                        <div class="ev_sep">
                            <span class="ev_hd">
                                Past Events
                            </span>
                            <span class="ev_vm">
                                <%= link_to(past_events_path, class: "") do %>
                                    View more
                                <% end %>
                            </span>
                        </div>

                        <div id="prs2">
                            <%= render partial: 'past' %> 
                        </div>
                    </div>
                <% end %>

            </div>
            
    </div>

</div>