<% title "THE COLLECTIVV &#215; Popular Events".html_safe %>

<%= render :partial => "banner" %>

<div class="scroll2">

    <div id="sb_wrap" class="se_wrap">

        <% if @facet != nil || @query != nil || @tag_facet != nil || @location_facet != nil %>
            <div id="bc_wrap" class="q_bc e7">
                <div class="breadcrumbs">
                    <span class="evts"><%= link_to "Events &raquo;".html_safe, events_path %></span> <span class="evts"><%= link_to "Current &raquo;".html_safe, current_events_path %></span> <span class="evts"><%= link_to "Popular &raquo;".html_safe, popular_events_path %></span> <span>Discover</span>
                </div>

                <div class="add_more">
                  <%= link_to new_event_path, title: 'Create Event', alt: 'Create Event' do %>
                    <i class="fa fa-plus"></i>Create Event
                  <% end %>
                </div>

                <%= render :partial => "pop_search" %>
            </div>
        <% else %>
            <div id="bc_wrap" class="q_bc e6">
                <div class="breadcrumbs">
                    <span class="evts"><%= link_to "Events &raquo;".html_safe, events_path %></span> <span class="evts"><%= link_to "Current &raquo;".html_safe, current_events_path %></span> <span>Popular</span>
                </div>

                <div class="add_more">
                  <%= link_to new_event_path, title: 'Create Event', alt: 'Create Event' do %>
                    <i class="fa fa-plus"></i>Create Event
                  <% end %>
                </div>

                <%= render :partial => "pop_search" %>
            </div>
        <% end %>

        <div class="elocs top">             
            <% for row in @search.facet(:event_month).rows %>
                <span class="eloc"><%= link_to(row.value, params.merge({:month => row.value})) %></span>
            <% end %>           
        </div>

        <div class="loc_nm">             
            <% for row in @search.facet(:location).rows %>
                <span class="eloc"><%= link_to(row.value.titleize, params.merge({:locations => row.value})) %></span>
            <% end %>           
        </div>

        <div class="btags">
          <% for row in @search.facet(:marker_list).rows %>
              <span class="btag"><%= link_to('+ ' + row.value, params.merge({:tag => row.value})) %></span>
          <% end %>
        </div>

    </div>

    <div id="p_index">

            <%= render :partial => "shared/evpj_filters" %>

            <div id="prs_wrap">

                <div id="media_query_prev">

                    <div id="prs">
 
                        <% if @facet == nil && @query == nil && @tag_facet == nil && @location_facet == nil %>
                            <%= render partial: 'events' %>
                        <% else %>
                            <%= render partial: 'search_events' %>
                        <% end %>

                    </div>

                </div>

                <% if @facet == nil && @query == nil && @tag_facet == nil && @location_facet == nil %>
                    <%= will_paginate @events, class: 'display_none' %>

                    <% if @events.total_pages != @events.current_page %>
                    <div id="loading"></div>
                    <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                          <div class="com_show">
                            Show More
                          </div>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= will_paginate @results, class: 'display_none' %>

                    <% if @results.total_pages != @results.current_page %>
                    <div id="loading"></div>
                    <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                          <div class="com_show">
                            Show More
                          </div>
                        <% end %>
                    <% end %>
                <% end %>

            </div>
            
    </div>

</div>