<% title "LLF | Events" %>

<%= render :partial => "banner" %>

<div id="main_wrap">

    <div id="p_index">
        <div id="sleft">
            <div class="swrap">
                <div class="shead">
                    <i class="icon-search"></i> Search Events
                </div>
                <div class="sbody">
                    <%= render :partial => "search" %>
                </div>
                <div class="shead">
                    <i class="icon-calendar"></i> Dates
                </div>
                <div class="sbody">
                    <ul>
                        <% for row in @search.facet(:event_month).rows %>
                          <li>
                            <% if params[:month].blank? %>
                              <%= link_to row.value, :month => row.value %> (<%= row.count %>)
                            <% else %>
                              <strong><%= row.value %></strong> (<%= link_to "remove", :month => nil %>)
                            <% end %>
                          </li>
                        <% end %>
                    </ul>
                </div>
                <div class="shead">
                    <i class="icon-tags"></i> Popular Tags
                </div>
                <div class="sbody">
                    <ul>
                        <% @tags.each do |tag| %>
                            <li>
                                <%= link_to(:controller => "events", :action => "search", :search => tag.name) do %>
                                    <i class="icon-tag icon-white"></i> <%= tag.name.titleize %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="shead">
                    <i class="icon-map-marker"></i> Popular Locations
                </div>
                <div class="sbody">

                </div>
            </div>
        </div>
        <div id="pright">
            <div id="stream_filters" class="form-inline">
                <span class="filters all">
                    <label for="filter__">
                    <%= radio_button_tag(:filter, "*", :checked => 'checked') %> All
                    </label>
                </span>
                <span class="filters art_filter">
                    <label for="filter_.art_fil">
                    <%= radio_button_tag(:filter, ".art_fil") %> Arts
                    </label>
                </span>
                <span class="filters biz_filter">
                    <label for="filter_.biz_fil">
                    <%= radio_button_tag(:filter, ".biz_fil") %> Entrepreneurial
                    </label>
                </span>
                <span class="filters music_filter">
                    <label for="filter_.music_fil">
                    <%= radio_button_tag(:filter, ".music_fil") %> Music
                    </label>
                </span>
                <span class="filters sports_filter">
                    <label for="filter_.sports_fil">
                    <%= radio_button_tag(:filter, ".sports_fil") %> Sports & Rec
                    </label>
                </span>
                <span class="filters other_filter">
                    <label for="filter_.other_fil">
                    <%= radio_button_tag(:filter, ".other_fil") %> Other
                    </label>
                </span>
            </div>

            <div id="prs">
                <%= render partial: 'events' %>
            </div>
        </div>
    <div style="clear:both;"></div>
    </div>

</div>