<% title @event.name %>

<div id="banner" style="background-image: url(<%= @event.banner.url(:large) %>)">
  <div id="pb">
    <div id="proj_av"><%= image_tag @event.avatar.url(:av), class: 'p_av' %></div>
    <div id="info">
      <ul>
        <% if member_signed_in? %>
          <li class='but p_f_but'>
            <%= render :partial => "shared/follow_event", :locals => {:event => @event} %>
          </li>
        <% end %>
        <li class='sub'>
          <span class='acct' id='p_f_ct'>
               Followers (<%= @event.followers_count %>)
          </span>
        </li>
        <% if @event.tag_list %>
          <li class='sub'>
            <span class='acct'><%= @event.tag_list.map { |t| link_to t.titleize, :controller => "events", :action => "search", :search => t }.join(' ').html_safe %></span>
          </li> 
        <% end %> 
        <% if @event.website? %>  
          <li class='sub w'>
            <span class='acct'><%= link_to '<i class="icon-globe icon-white"></i> Event Website'.html_safe, @event.website  %></span>
          </li>
        <% end %>
        <% if @event.location? %>  
          <li class='sub w'>
            <span class='acct'><%= link_to '<i class="icon-map-marker icon-white"></i> '.html_safe + @event.location, :controller => "projects", :action => "search", :search => @event.location  %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>

<div id="main_wrap" class="ev_wrap">

  <div id="proj_info">
    <span class="l">
      <%= avatar_profile_link @event.member, :class => "pr_av", title: @event.member.full_name, alt: @event.member.full_name  %>
      <% if @event.category == 'Arts' %>
        <%= image_tag("/assets/Arts Category.png", class: 'ims', title: 'Arts') %>
      <% end %>
      <% if @event.category == 'Entrepreneurial' %>
        <%= image_tag("/assets/Biz Category.png", class: 'ims', title: 'Entrepreneurial') %>
      <% end %>
      <% if @event.category == 'Sports' %>
        <%= image_tag("/assets/Sports Category.png", class: 'ims', title: 'Sports') %>
      <% end %>
      <% if @event.category == 'Music' %>
        <%= image_tag("/assets/Music Category.png", class: 'ims', title: 'Music') %>
      <% end %>
      <% if @event.category == 'Other' %>
        <%= image_tag("/assets/Other Category.png", class: 'ims', title: 'Other') %>
      <% end %>
    </span>
    <span class="proj_title"><%= @event.name.titleize %></span>
    <span class="r">

      <% if member_signed_in? %>
        <span id="p_fav_but">
          <%= render :partial => "fav_button", :locals => {:event => @event} %>
        </span>

        <%= link_to image_tag("/assets/Share.png", class: 'ims sh', title: 'Share'), "#share", :data => {:toggle => "modal"} %>
        <% if current_member == @event.member %>
          <span class="btn-group">
            <%= link_to image_tag("/assets/More 2.png", class: 'ims m', title: 'Options'), "/page.html", :class => "dropdown-toggle", :data => {:toggle => "dropdown", :target=>"#"} %>
              <ul class="dropdown-menu">            
                <li>
                  <%= link_to "Edit", edit_event_path(@event), class: '' %>
                </li>
                <li class="del">
                  <%= link_to "Delete", @event, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              </ul>
          </span>
        <% end %>
      <% end %>

    </span>

    <div style="clear:both;"></div>
  </div>

  <% if @event.video? %>
    <div id="proj_video">
      <%= @event.video_html %>
    </div>
  <% end %>

  <div id="">
    <ul class="nav nav-tabs" id="">
      <li class="active">
        <%= link_to "Details", "#details", :data => {:toggle=>"tab"}, class: '' %>
      </li>
      <li>
        <%= link_to("#media", :data => {:toggle=>"tab"}) do %>
          Media <span class="nav_p_ct"><%= @uploadable.uploads.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to("#updates", :data => {:toggle=>"tab"}) do %>
          Updates <span class="nav_p_ct"><%= @updateable.updates.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to("#comments", :data => {:toggle=>"tab"}) do %>
          Comments <span class="nav_p_ct"><%= @commentable.comments.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to("#followers", :data => {:toggle=>"tab"}) do %>
          Followers <span class="nav_p_ct"><%= @event.followers_count %></span>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="details">
      <div id ="proj_about">
        <%= raw Rinku.auto_link(@event.details) %>
      </div>
    </div>

    <div class="tab-pane" id="media">
      <div class="p_u_btn">
        <% if @event.member == current_member %>
          <%= link_to "Upload", "#upload", class: 'btn btn-warning', :data => {:toggle => "modal"} %>
        <% end %>
      </div>

      <div id="p_m_list_wrap">
        <%= render :partial => "shared/media" %>       
      </div>

      <%= will_paginate @uploads, class: 'display_none' %>

      <% if @uploads.total_pages != @uploads.current_page %>
          <div id="p_med_loading"></div>
          <%= link_to("#", class: "com_show_wrap p_m_load_arrow") do %>
              <div class="com_show">
                  Show More
              </div>
          <% end %>
      <% end %>
    </div>

    <div class="tab-pane" id="updates">
      <div class="u_btn">
        <% if @event.member == current_member %>
          <%= link_to "Post Update", "#update", class: 'btn btn-event', :data => {:toggle => "modal"} %>
        <% end %>
      </div>

      <div id="u_list_wrap">
        <%= render :partial => "shared/updates" %>       
      </div>

      <div id="p_m_list_wrap">
               
      </div>

    </div>

    <div class="tab-pane" id="comments">
      <div id="proj_comm">
        <% if member_signed_in? && current_member.following?(@event) || current_member == @event.member %>
          <%= render "shared/comment_form" %>
          <% else %>
            <div class="c_message">Must be following event to leave a comment.</div>
        <% end %>
        <div id="comments_wrap">
          <%= render "shared/comments" %>
        </div>

        <%= will_paginate @comments, class: 'display_none' %>

          <% if @comments.total_pages != @comments.current_page %>
            <div id="loading"></div>  
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                  <div class="com_show">
                    Show More
                  </div>
                <% end %>
          <% end %>
      </div>
    </div>

    <div class="tab-pane" id="followers">
      <div id="proj_fol">
        <%= render "shared/followers" %>
      </div>

        <%= will_paginate @followers, class: 'display_none' %>

        <% if @followers.total_pages != @followers.current_page %>
            <div id="p_fol_loading"></div>
            <%= link_to("#", class: "com_show_wrap p_f_load_arrow") do %>
              <div class="com_show">
                Show More
              </div>
            <% end %>
        <% end %>
    </div>
  </div>
    
  <div class="s_modal">
    <div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="sharemodallabel">Copy Event URL</h3>
      </div>
      <div class="modal-body pi">
        <input class="pr_in forms" value="<%= event_url %>" />
      </div>
    </div>
  </div>

  <% if @event.member == current_member %>
    <div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="sharemodallabel">Upload Event Media</h3>
      </div>
      <div class="modal-body pi">
        <div class="med_instructions">
          <ul>
            <li>
              &raquo; Maximum file size of 15MB
            </li>
            <li>
              &raquo; Accepted file formats: (jpeg, png, gif, mp3)
            </li>
          </ul>
        </div>

        <%= render :partial => "shared/media_form" %>
      </div>
    </div>
  <% end %>

  <% if @event.member == current_member %>
    <div id="update" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
      
      <div class="modal-body pi">
        <%= render :partial => "update_form" %>
      </div>
    </div>
  <% end %>

</div>