<% title @event.name %>

<% if @event.banner? %>
  <div id="banner" style="background-image: url(<%= @event.banner.url(:large) %>)">
<% elsif @event.member.banner? %>
  <div id="banner" style="background-image: url(<%= @event.member.banner.url(:large) %>)">
<% else %>
  <div id="banner" style="background-image: url('/assets/Events Banner Default.png')">
<% end %>

  <div id="pb">
    <div id="proj_av"><%= image_tag @event.avatar.url(:av), class: 'p_av' %></div>
    <% if !member_signed_in? || @event.member == current_member %>
      <div id="info2">
    <% else %>
      <div id="info">
    <% end %>
      <ul>
        <% if member_signed_in? && @event.member != current_member %>
          <li class='but p_f_but'>
            <%= render :partial => "shared/follow_event", :locals => {:event => @event} %>
          </li>
        <% end %>
        <% if @event.marker_list %>
          <li class='sub'>
            <span class='acct'><%= @event.marker_list.map { |m| link_to truncate_tag('+ ' + m.titleize), {:controller => "events", :action => "index", :events => m}, title: m.titleize, alt: m.titleize }.join(' ').html_safe %></span>
          </li> 
        <% end %> 
        <% if @event.website? %>  
          <li class='sub w'>
            <span class='acct'><%= link_to '<i class="fa fa-globe"></i>Event Website'.html_safe, "http://#{@event.website.sub(/^https?\:\/\//, '')}" %></span>
          </li>
        <% end %>
        <% if @event.location? %>  
          <li class='sub w'>
            <span class='acct'><%= link_to '<i class="fa fa-map-marker"></i> '.html_safe + @event.location.titleize, :controller => "events", :action => "index", :events => @event.location  %></span>
          </li>
        <% end %>
          <li class='sub'>
            <span class='acct dt'>
              <%= @event.start_date.strftime("%b %d") %> <% unless @event.end_date == @event.start_date %> - <%= @event.end_date.strftime("%b %d") %><% end %>
            </span>
            <span class='acct dt t1'>
              <% if @event.start_time.strftime("%I:%M %p") == '12:00 AM' && @event.end_time.strftime("%I:%M %p") == '12:00 AM' %>
                All Day
              <% else %>
                <%= @event.start_time.strftime("%I:%M %p") %> - <%= @event.end_time.strftime("%I:%M %p") %>
              <% end %>
            </span>
          </li>
      </ul>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>

<div id="pr_ev">
  <div id="main_wrap" class="ev_wrap">

    <div id="ev_title">
      <span class="proj_title"><%= @event.name %></span>
    </div>

    <div id="ev_info">
      <span class="l">
        <%= avatar_profile_link @event.member, :class => "pr_av", title: @event.member.full_name, alt: @event.member.full_name  %>
        <% if @event.category == 'Arts' %>
          <%= image_tag("/assets/Arts Category 2.png", class: 'ims', title: 'Arts') %>
        <% end %>
        <% if @event.category == 'Entrepreneurial' %>
          <%= image_tag("/assets/Biz Category 2.png", class: 'ims', title: 'Entrepreneurial') %>
        <% end %>
        <% if @event.category == 'Sports' %>
          <%= image_tag("/assets/Sports Category 2.png", class: 'ims', title: 'Sports') %>
        <% end %>
        <% if @event.category == 'Music' %>
          <%= image_tag("/assets/Music Category 2.png", class: 'ims', title: 'Music') %>
        <% end %>
        <% if @event.category == 'Other' %>
          <%= image_tag("/assets/Other Category 2.png", class: 'ims', title: 'Other') %>
        <% end %>
      </span>

      <span class="r">
        <% if member_signed_in? %>
          <span id="evt_sh_fav_<%= @event.id %>_<%= @event.member.id %>">
            <%= render :partial => "events/fav_button", :locals => {:event => @event} %>
          </span>

          <%= link_to image_tag("/assets/Share.png", class: 'ims sh', title: 'Share'), "#share", :data => {:toggle => "modal"} %>
          <% if current_member == @event.member %>
            <span class="btn-group">
              <%= link_to image_tag("/assets/More 2.png", class: 'ims m', title: 'Options'), "/page.html", :class => "dropdown-toggle", :data => {:toggle => "dropdown", :target=>"#"} %>
                <ul class="dropdown-menu">            
                  <li>
                    <%= link_to "Edit", edit_event_path(@event), class: '' %>
                  </li>
                  <li class="del">
                    <%= link_to "Delete", @event, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </li>
                </ul>
            </span>
          <% end %>
        <% end %>
      </span>
    </div>

    <div class="evt_fav_ct">
      <span>
        <%= link_to profile_events_path(@event.member), title: "View All Events", alt: "View All Events" do %>
          Events: <%= @event.member.events.count %>
        <% end %>
      </span>
      &nbsp;
      <span id="ev_sh_fav_<%= @event.id %>_<%= @event.member.id %>">
        <%= render :partial => "events/fav_count", :locals => {:event => @event} %>
      </span>
    </div>

    <div id="e_adr">
      <div class="e_adr1">
        <%= link_to "http://maps.google.com/maps?daddr=#{@event.address}+#{@event.city}+#{@event.zipcode}", title: "Get Directions", alt: "Get Directions", :class => "" do %>
            <span class=""><%= @event.address %></span>
            <p>
              <span class="">
                <%= @event.city %><% if @event.state? %>, <%= @event.state %><% end %> <%= @event.zipcode %>
              </span>
            </p>
            <% if @event.country? %>
              <p><span class=""><%= @event.country %></span></p>
            <% end %>
        <% end %>
      </div>
    </div>

    <% if @event.video? %>
      <div id="proj_video">
        <%= @event.video_html %>
      </div>
    <% end %>

    <div id="">
      <ul class="nav nav-tabs" id="">
        <li class="active">
          <%= link_to("#updates", :data => {:toggle=>"tab"}) do %>
            Updates <span id="ut_pe_ct" class="nav_p_ct"><%= @updateable.updates.count %></span>
          <% end %>
        </li>
        <li>
          <%= link_to "Details", "#details", :data => {:toggle=>"tab"}, class: '' %>
        </li>
        <li>
          <%= link_to("#media", :data => {:toggle=>"tab"}) do %>
            Media <span id="up_pe_ct" class="nav_p_ct"><%= @uploadable.uploads.count %></span>
          <% end %>
        </li>
        <li>
          <%= link_to("#comments", :data => {:toggle=>"tab"}) do %>
            Comments <span id="c_pe_ct" class="nav_p_ct"><%= @commentable.comments.count %></span>
          <% end %>
        </li>
        <li>
          <%= link_to("#followers", :data => {:toggle=>"tab"}) do %>
            Followers <span class="nav_p_ct"><%= @event.followers_count %></span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="tab-content">

      <div class="tab-pane active" id="updates">
        <div class="u_btn">
          <% if @event.member == current_member %>
            <%= link_to "Post Update", "#update", class: 'btn btn-event', :data => {:toggle => "modal"} %>
          <% end %>
        </div>

        <div id="update_<%= @updateable.id %>" class="u_list_wrap">
          <%= render :partial => "shared/updates", :collection => @updates, :as => :update %>       
        </div>

        <%= will_paginate @updates, class: 'display_none' %>

        <% if @updates.total_pages != @updates.current_page %>
            <div id="p_upd_loading"></div>
            <%= link_to("#", class: "com_show_wrap p_u_load_arrow") do %>
                <div class="com_show">
                    Show More
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="tab-pane" id="details">
        <div id ="proj_about">
          <%= raw Rinku.auto_link(@event.details_html) %>
        </div>
      </div>

      <div class="tab-pane" id="media">
        <div class="p_u_btn">
          <% if @event.member == current_member %>
            <%= link_to "Upload", "#upload", class: 'btn btn-warning', :data => {:toggle => "modal"} %>
          <% end %>
        </div>

        <div id="media_query_media">
          <div id="upload_<%= @uploadable.id %>" class="p_m_list_wrap">
            <%= render :partial => "shared/media", :collection => @uploads, :as => :upload %>       
          </div>
        </div>

        <%= will_paginate @uploads, class: 'display_none' %>

        <% if @uploads.total_pages != @uploads.current_page %>
            <div id="p_med_loading"></div>
            <%= link_to("#", class: "com_show_wrap p_m_load_arrow") do %>
                <div class="com_show">
                    Show More
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="tab-pane" id="comments">
        <div id="proj_comm">
          <% if member_signed_in? && current_member.following?(@event) || current_member == @event.member %>
            <div id="c_form_wrap">
              <%= render "shared/comment_form" %>
            </div>
            <% else %>
              <div id="c_form_wrap">
                <div class="c_message">
                  <span>Must be following event to leave a comment.</span>
                </div>
              </div>
          <% end %>
          <div id="comments_<%= @commentable.id %>" class="">
            <%= render partial: "shared/comments", :collection => @comments, :as => :comment %>
          </div>

          <%= will_paginate @comments, class: 'display_none' %>

            <% if @comments.total_pages != @comments.current_page %>
              <div id="loading"></div>  
                  <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                    <div class="com_show">
                      Show More
                    </div>
                  <% end %>
            <% end %>
        </div>
      </div>

      <div class="tab-pane" id="followers">
        <div id="media_query_follow">
          <div id="proj_fol">
            <%= render "shared/followers" %>
          </div>
        </div>

          <%= will_paginate @followers, class: 'display_none' %>

          <% if @followers.total_pages != @followers.current_page %>
              <div id="p_fol_loading"></div>
              <%= link_to("#", class: "com_show_wrap p_f_load_arrow") do %>
                <div class="com_show">
                  Show More
                </div>
              <% end %>
          <% end %>
      </div>

    </div>
      
    <div class="s_modal">
      <div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="sharemodallabel">Copy Event URL</h3>
        </div>
        <div class="modal-body pi">
          <input class="pr_in forms" value="<%= event_url %>" onclick="this.select()" />
        </div>
      </div>
    </div>

    <% if @event.member == current_member %>
      <div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="sharemodallabel">Upload Event Media</h3>
        </div>
        <div class="modal-body pi">
          <div class="med_instructions">
            <ul>
              <li>
                &raquo; Maximum file size of 15MB
              </li>
              <li>
                &raquo; Accepted file formats: (jpeg, png, gif, mp3)
              </li>
            </ul>
          </div>

          <%= render :partial => "shared/media_form" %>
        </div>
      </div>
    <% end %>

    <% if @event.member == current_member %>
      <div id="update" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="sharemodallabel">Post An Update</h3>
        </div>
        
        <div class="modal-body pi">
          <%= render :partial => "shared/update_form" %>
        </div>
      </div>
    <% end %>

  </div>

</div>