<% title "LLF x FAQ's" %>

	<%= render :partial => "info_banner" %>

	<div id="faqs_wrap">

		<div id="ue_nav">
		    <ul class="nav nav-tabs" id="">
		      <li class="active">
		        <%= link_to "Basics", "#basics", :data => {:toggle=>"tab"}, class: '' %>
		      </li>
		      <li>
		        <%= link_to "Community", "#community", :data => {:toggle=>"tab"}, class: '' %>
		      </li>
		      <li>
		        <%= link_to "Media", "#media", :data => {:toggle=>"tab"}, class: '' %>
		      </li>
		      <li>
		        <%= link_to "Events", "#events", :data => {:toggle=>"tab"}, class: '' %>
		      </li>
		      <li>
		        <%= link_to "Projects", "#projects", :data => {:toggle=>"tab"}, class: '' %>
		      </li>
		      <li>
		        <%= link_to "Market", "#market", :data => {:toggle=>"tab"}, class: '' %>
		      </li>
		    </ul>
		</div>

		<div id="content_wrap">

			<div class="tab-content">
    			<div id="basics" class="tab-pane active">
					<%= render 'faq_basic' %>
				</div>

    			<div id="community" class="tab-pane">
					<%= render 'faq_community' %>
				</div>

    			<div id="media" class="tab-pane">
					<%= render 'faq_media' %>
				</div>

    			<div id="events" class="tab-pane">
					<%= render 'faq_events' %>
				</div>

    			<div id="projects" class="tab-pane">
					<%= render 'faq_projects' %>
				</div>

    			<div id="market" class="tab-pane">
					<%= render 'faq_market' %>
				</div>
			</div>

		</div>

	</div>

<!--/faq_wrap-->