<% title "COLLECTIVV &#215; Terms of Service".html_safe %>

<div id="banner" style="background-image: url('/assets/Page Banner.jpg');">
      <div id="pg_ban">
            <div class="b_title">TERMS</div>
            <div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
      </div>
</div>

<div id="content_wrap" class="scroll2">

	<div class="p_h_wrap">
		<div class="p_head">Terms of Service</div>
		<div class="p_head_tx">
			<p>	These Terms of Service govern your access to and use of the services of living.life.fearless (LLF), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on this site. Your access to and use of these services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the services you agree to be bound by these Terms.</p>
		</div>
	</div>

<!--/header--> 	

	<div id="accordion" class="accordion in_pgs">

      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Basic Terms</span>
                        <i class="fa fa-tasks fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You are responsible for your use of the services, for any content you post to this site, and for any consequences thereof. The content you submit, post, or display will be able to be viewed by other users of the services and through third party services and websites. You should only provide content that you are comfortable sharing with others under these Terms.</p>

      		        <p>You may use the services only if you can form a binding contract with LLF and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You may use the services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.</p>
      		        
      		        <p>The services that LLF provides are constantly changing and the form and nature of the services that LLF provides may change from time to time without prior notice to you. In addition, LLF may stop (permanently or temporarily) providing the services (or any features within the services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Privacy</span>
                        <i class="fa fa-user-secret fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Any information that you provide to LLF is subject to our <%= link_to "Privacy Policy", privacy_path %>, which governs our collection and use of your information. You understand that through your use of the services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by LLF. As part of providing you the services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the services and your account, which you may not be able to opt-out from receiving.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Passwords</span>
                        <i class="fa fa-lock fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You are responsible for safeguarding the password that you use to access the services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. LLF cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Content on the Services</span>
                        <i class="fa fa-music fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>All content is the sole responsibility of the person who originated such content. We may not monitor or control the content posted and, we cannot take responsibility for such content. Any use or reliance on any content or materials posted via the services or obtained by you through the services is at your own risk.</p>

      				<p>We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any content or communications posted via the services or endorse any opinions expressed via the services. You understand that by using this, you may be exposed to content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will LLF be liable in any way for any content, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted or otherwise made available via the services or broadcast elsewhere.</p>

      				<p>LLF is a community of creative individuals who craft their brand and image through original content. Therefore, all content posted, whether images, audio, or otherwise, must be within your sole rights to distribute. Failing to comply may subject you to liability.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Events</span>
                        <i class="fa fa-dot-circle-o fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Event listing is a core service on LLF and all events listed must be within a user's full rights to list. Event dates, times, and details must be as accurate as possible, and must not mislead potential attendees. All associated content created for said event must adhere to our previously laid out terms as well as the additional <%= link_to "rules", rules_path %>.</p>

                  	<p>Failing to comply with these terms may subject you to liability.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Projects</span>
                        <i class="fa fa-rocket fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Project listing is a core service on LLF and all projects listed must be within a user's full rights to list. Project details must be as accurate as possible, and must not mislead users. All associated content created for said project must adhere to our previously laid out terms as well as the additional <%= link_to "rules", rules_path %>.</p>

                  	<p>Failing to comply with these terms may subject you to liability.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Listings</span>
                        <i class="fa fa-th fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Market listings are a core service on LLF and all listings must be within a user's full rights to list. Listing details must be as accurate as possible, and must not mislead users. All associated content created for said listing must adhere to our previously laid out terms as well as the additional <%= link_to "rules", rules_path %> and must accurately represent the product/service being offered. Listing links must be to the appropiate product/service page and must not mislead potential buyers.</p>

                  	<p>To preserve the nature of LLF, all listings must be of your own original design and reselling of items is strictly prohibited. Services must be only for the creation of a unique end product.</p>

                  	<p>Failing to comply with these terms may subject you to liability. In addition, any listing we feel does not fall within these guidelines will be removed without prior notice.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Your Rights</span>
                        <i class="fa fa-user fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You retain your rights to any content you submit, post, or display on or through this site. By submitting, posting or displaying content on or through the services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such content in any and all media or distribution methods (now known or later developed).</p>

      	        	<p>You agree that this license includes the right for LLF to make such content available to other companies, organizations or individuals who partner with LLF for the syndication, broadcast, distribution or publication of such content on other media and services, subject to our terms and conditions for such content use.</p>
      	        
      	        	<p>Such additional uses by LLF, or other companies, organizations or individuals who partner with us, may be made with no compensation paid to you with respect to the content that you submit, post, transmit or otherwise make available through the services.</p>
      	        
      	        	<p>We may modify or adapt your content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your content as are necessary to conform and adapt that content to any requirements or limitations of any networks, devices, services or media.</p>
      	        
      	        	<p>You are responsible for your use of the services, for any content you provide, and for any consequences thereof, including the use of your content by other users and our third party partners. You understand that your content may be rebroadcasted by our partners and if you do not have the right to submit content for such use, it may subject you to liability. LLF will not be responsible or liable for any use of your content by LLF in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any content that you submit.</p>
      	        
      	        	<p>LLF gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by LLF as part of the services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the services as provided by LLF, in the manner permitted by these Terms.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">LLF Rights</span>
                        <i class="fa fa-comment fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>All right, title, and interest in and to the services (excluding content provided by users) are and will remain the exclusive property of LLF and its licensors. Nothing in the Terms gives you a right to use the LLF name or any of the LLF trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding LLF, or the services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>

      	        	<p><span style="text-decoration: underline; font-weight: bold;">Restrictions on Content and Use of the Services</span></p>
      	        
      	        	<p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any content on the services and to terminate users or reclaim usernames. Please review the <%= link_to "LLF Rules", rules_path %> (which are part of these Terms) to better understand what is prohibited on the Service. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe  is necessary to (1) satisfy any applicable law, regulation, legal process or governmental request, (2) enforce the Terms, including investigation of potential violations hereof, (3) detect, prevent, or otherwise address fraud, security or technical issues, (4) respond to user support requests, or (5) protect the rights, property or safety of LLF, its users and the public.</p>
      	        
      	        	<p>You may not do any of the following while accessing or using the services: (1) access, tamper with, or use non-public areas of the services, LLF’s computer systems, or the technical delivery systems of LLF’s providers; (2) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (3) access or search or attempt to access or search the services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by LLF (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with LLF (NOTE: crawling the services is permissible if done in accordance with the provisions of the robots.txt file, however, scraping the services without the prior consent of LLF is expressly prohibited); (4) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the services to send altered, deceptive or false source-identifying information; or (5) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the services, or by scripting the creation of content in such a manner as to interfere with or create an undue burden on the services.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Copyright Policy</span>
                        <i class="fa fa-asterisk fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>LLF respects the intellectual property rights of others and expects users of the services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your content has been copied in a way that constitutes copyright infringement, please provide us with the following information: (1) an electronic signature of the copyright owner or a person authorized to act on their behalf; (2) identification of the copyrighted work claimed to have been infringed; (3) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (4) your contact information, including your address, telephone number, and an email address; (5) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (6) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>

      				<p>We reserve the right to remove content alleged to be infringing without prior notice and at our sole discretion. In appropriate circumstances, LLF will also terminate a user’s account if the user is determined to be a repeat infringer.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Links</span>
                        <i class="fa fa-magnet fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>The services may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (1) the availability or accuracy of such websites or resources; or (2) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by LLF of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Limitation of Liability</span>
                        <i class="fa fa-legal fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, LLF AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (1) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (2) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (3) ANY CONTENT OBTAINED FROM THE SERVICES; AND (4) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT LLF HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Exclusions</span>
                        <i class="fa fa-filter fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Waiver and Severability</span>
                        <i class="fa fa-file fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>The failure of LLF to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, the remaining provisions of these Terms will remain in full force and effect.</p>

      	        	<p>We may revise these Terms from time to time, the most current version will always be at <%= link_to "http://l-l-f.co/terms", terms_path %>. If the revision, in our sole discretion, is material we will notify you via an update or e-mail to the email associated with your account. By continuing to access or use the services after those revisions become effective, you agree to be bound by the revised Terms.</p>
      	        
      	        	<p>If you have any questions about these Terms, please <%= link_to "Contact Us", "#contact", :data => {:toggle => "modal"} %>.</p>
                  </div>
      	</div>

	</div>

<!--/accordion-->
			    
</div> 
	  
<!--/content_wrap-->
