<%= simple_form_for(@project, remote: true, :html => { class: 'form-horizontal ' }) do |f| %>
  <%= render 'errors' %>

  <div class="rq">
    * = required field
  </div>

  <div class="tab-content">
      <div id="name" class="tab-pane active">
        <fieldset>
          <legend class="leg">Name Your Project</legend>
          <div class="c_f_labels">
            <span class="custom-labels">* Name</span>
            <div id="custom-input">
                <div class="input-group col-md-12 single_row">
                    <%= f.input :name, label: false, error: false, input_html: { class: '', id: 'p_cap_tit', cols: '55', rows: '1', tabindex: '1', maxlength: '100', autocomplete: 'off'} %>
                </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="images" class="tab-pane">
        <fieldset>
          <legend class="descriptors">Upload Some Images</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Recommended avatar dimensions of 200x200
              </li>
              <li>
                &raquo; Recommended banner dimensions of 1400x600
              </li>
              <li>
                &raquo; Maximum file size of 10MB
              </li>
              <li>
                &raquo; Accepted file formats: (jpeg, png)
              </li>
            </ul>
          </div>
          <div class="custom-file-upload fu1_wrap">
            <label for="file-upload" class="cfu_label ed"><i class="fa fa-arrow-up"></i>Upload Avatar
              <%= f.input :avatar, as: :file, label: false, error: false, input_html: { id: 'file-upload', class: 'account pr_upload'} %>
            </label>
          </div>
          <div class="edit_av_f">
            <% if f.object.avatar? %>
              <%= image_tag f.object.avatar.url(:av) %>
              <%= f.input :remove_avatar, as: :boolean, label: "Remove avatar?", :label_html => {:class => "cbx_lbl"} %>
            <% end %>
          </div>
          <div class="custom-file-upload fu2_wrap">
            <label for="file-upload2" class="cfu_label ed"><i class="fa fa-arrow-up"></i>Upload Banner
              <%= f.input :banner, as: :file, label: false, error: false, input_html: { id: 'file-upload2', class: 'account pr_upload'} %>
            </label>
          </div>
          <div class="edit_av_f">
            <% if f.object.banner? %>
              <%= image_tag f.object.banner.url(:preview) %>
              <%= f.input :remove_banner, as: :boolean, label: "Remove banner?", :label_html => {:class => "cbx_lbl"} %>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div id="basics" class="tab-pane">
        <fieldset>
          <legend class="descriptors">Choose Your Category & Tags</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Select the appropriate category for your project
              </li>
              <li>
                &raquo; Provide up to 3 of the project's most relevant tags
              </li>
              <li>
                &raquo; Comma separated, 30 characters per
              </li>
              <li>
                &raquo; Alphanumeric, no special characters
              </li>
            </ul>
          </div>
          <div id="custom-select" class="c_f_labels dr-down">
            <span class="custom-labels">* Category</span>
            <%= f.input :category, collection: ['Arts', 'Entrepreneurial', 'Music', 'Sports & Rec', 'Other'], label: false, error: false, input_html: { class: 'cat_select', tabindex: '2' } %>
          </div>

          <div id="custom-select" class="c_f_labels">
            <span class="custom-labels">* Tags</span>
            <%= f.input :marker_list, label: false, error: false, input_html: { cols: '55', rows: '1', class: 'custom-tags', tabindex: '3', autocomplete: 'off'} %>
          </div>
        </fieldset>

        <fieldset>
          <legend class="descriptors">Provide Some Links</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Paste or type the full url's (i.e. https://livinglifefearless.co/)
              </li>
              <li>
                &raquo; Specify a video to feature prominently
              </li>
            </ul>
          </div>
          <div class="c_f_labels">
            <span class="custom-labels">Website</span>
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <%= f.input :website, as: :url, label: false, error: false, input_html: { cols: '52', rows: '1', class: '', tabindex: '4', autocomplete: 'off' }, placeholder: 'http://' %>
                </div>
            </div>
          </div>

          <div class="c_f_labels">
            <span class="custom-labels">Feature Media</span>
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <%= f.input :video, as: :url, label: false, error: false, input_html: { cols: '52', rows: '1', class: '', tabindex: '5', autocomplete: 'off' }, placeholder: 'Link for YouTube or Vimeo' %>
                </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend class="leg">Where are you located?</legend>
          <div class="c_f_labels">
            <span class="custom-labels">* Project City</span>
            <div id="custom-input">
                <div class="input-group col-md-12 single_row">
                    <%= f.input :city, label: false, error: false, input_html: { cols: '52', rows: '1', class: '', tabindex: '6', maxlength: '100' } %>
                </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="story" class="tab-pane">
        <fieldset>
          <legend class="descriptors">Tell Us the Story</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Let the world know what's so awesome about your project (Required)
              </li>
            </ul>
          </div>
          <%= f.input :blurb, label: false, error: false, placeholder: 'Give us the short version...', input_html: { cols: '55', rows: '1', class: 'bl_in auto txt_a_size', id: 'p_cap_blb', tabindex: '7', autocomplete: 'off' } %>
            <div class="p_blb_ct"><span class="p_ct_blb">140</span> <span class="p_ct_text">characters remaining</span></div>
          <%= f.input :about, label: 'Details', error: false, placeholder: 'Now the long version...', input_html: { cols: '52', rows: '10', class: 'forms account settings', tabindex: '8', id: 'p_about' } %>
        </fieldset>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-grey' %>
        <span id="spinner" class="spinner">
          <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
        </span>
        <%= link_to 'Back to project', @project, class: 'btn btn-black pull-right' %>
      </div>
  </div>

<% end %>