<%= simple_form_for(@project, remote: true, :html => { class: 'form-horizontal ' }) do |f| %>
  <%= render 'errors' %>

  <div class="rq">
    * = required field
  </div>

  <div class="tab-content">
      <div id="name" class="tab-pane active">
        <fieldset>
          <legend class="leg">Name Your Project</legend>
          <%= f.input :name, label: 'Name', error: false, input_html: { class: 'forms settings t_in', id: 'p_cap_tit', cols: '55', rows: '1', tabindex: '1', maxlength: '100', autocomplete: 'off'} %>
        </fieldset>
      </div>

      <div id="images" class="tab-pane">
        <fieldset>
          <legend class="descriptors">Upload Some Images</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Recommended avatar dimensions of 200x200
              </li>
              <li>
                &raquo; Recommended banner dimensions of 1400x200
              </li>
              <li>
                &raquo; Maximum file size of 10MB
              </li>
              <li>
                &raquo; Accepted file formats: (jpeg, png)
              </li>
            </ul>
          </div>
          <div class="custom-file-upload fu1_wrap">
            <label for="file-upload" class="cfu_label"><i class="fa fa-arrow-up"></i>Upload Avatar
              <%= f.input :avatar, as: :file, label: false, error: false, input_html: { id: 'file-upload', class: 'account pr_upload'} %>
            </label>
          </div>
          <div class="custom-file-upload fu2_wrap">
            <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Upload Banner
              <%= f.input :banner, as: :file, label: false, error: false, input_html: { id: 'file-upload2', class: 'account pr_upload'} %>
            </label>
          </div>
        </fieldset>
      </div>

      <div id="basics" class="tab-pane">
        <fieldset>
          <legend class="descriptors">Choose Your Category & Tags</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Select the appropriate category for your project
              </li>
              <li>
                &raquo; Provide up to 3 of the project's most relevant tags
              </li>
              <li>
                &raquo; Comma separated, 30 characters per
              </li>
              <li>
                &raquo; Alphanumeric, no special characters
              </li>
            </ul>
          </div>
          <%= f.input :category, collection: ['Arts', 'Entrepreneurial', 'Music', 'Sports & Rec', 'Other'], label: 'Category', error: false, input_html: { class: 'forms account settings', tabindex: '2' } %>
          <%= f.input :marker_list, label: 'Tags', error: false, input_html: { cols: '55', rows: '1', class: 'forms account settings', tabindex: '3', autocomplete: 'off'} %>
        </fieldset>

        <fieldset>
          <legend class="descriptors">Provide Some Links</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Paste or type the full url's (i.e. http://beboldbefearless.co/)
              </li>
              <li>
                &raquo; We only support YouTube/Vimeo
              </li>
              <li>
                &raquo; Include the http://
              </li>
            </ul>
          </div>
          <%= f.input :website, as: :url, label: 'Website', error: false, input_html: { cols: '52', rows: '1', class: 'forms account settings w_in', tabindex: '4', autocomplete: 'off' }, placeholder: 'http://' %>
          <%= f.input :video, as: :url, label: 'Video URL', error: false, input_html: { cols: '52', rows: '1', class: 'forms account settings vid_in', tabindex: '5', autocomplete: 'off' }, placeholder: 'http://' %>
        </fieldset>

        <fieldset>
          <legend class="leg">Where are you located?</legend>
          <%= f.input :city, label: 'Project City', error: false, input_html: { cols: '52', rows: '1', class: 'forms settings p_city', tabindex: '6', maxlength: '100' } %>
        </fieldset>
      </div>

      <div id="story" class="tab-pane">
        <fieldset>
          <legend class="descriptors">Tell Us the Story</legend>
          <div class="edit_instructions">
            <ul>
              <li>
                &raquo; Let the world know what's so awesome about your project (Required)
              </li>
            </ul>
          </div>
          <%= f.input :blurb, label: false, error: false, placeholder: 'Give us the short version...', input_html: { cols: '52', rows: '1', class: 'forms bl_in', id: 'p_cap_blb', tabindex: '7', maxlength: '140', autocomplete: 'off' } %>
            <div class="p_blb_ct"><span class="p_ct_blb">140</span> <span class="p_ct_text">characters remaining</span></div>
          <%= f.input :about, label: 'Details', error: false, placeholder: 'Now the long version...', input_html: { cols: '52', rows: '10', class: 'forms account settings', tabindex: '8', id: 'p_about' } %>
        </fieldset>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-danger' %>
          <span id="spinner" class="spinner">
            <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
          </span>
        </div>
      </div>
  </div>

<% end %>