<% @results.each do |project| %>
	
	<% if project.category == 'Arts' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap art_fil">
	<% elsif project.category == 'Entrepreneurial' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap biz_fil">
	<% elsif project.category == 'Sports & Rec' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap sports_fil">
	<% elsif project.category == 'Music' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap music_fil">
	<% elsif project.category == 'Other' %>
		<div id="project_<%= project.id %>_<%= project.member.id %>" class="p_list_wrap other_fil">
	<% end %>

		<div id="<%= project.id %>" class="share-body none">
          <input class="pr_in forms" value="<%= project_url(project) %>" onclick="this.select()" />
        </div>
		
		<div id="p_list_top">
			<span class="l">
		      <%= avatar_profile project.member, :class => "pr_av", title: project.member.full_name, alt: project.member.full_name %>
		    </span>

		    <span class="r">

		    	<% if member_signed_in? %>
		    		<% if project.member != current_member %>
			    		<span id="prj_fol_<%= project.id %>_<%= project.member.id %>">
						    <%= render :partial => "shared/follow_project2", :locals => {:project => project} %>
						</span>
					<% end %>
			    	<span id="prj_fav_<%= project.id %>_<%= project.member.id %>">
					    <%= render :partial => "projects/fav_button_stream", :locals => {:project => project} %>
					</span>
				<% else %>
					<%= render :partial => "projects/logged_out_buttons", :locals => {:project => project} %>
				<% end %>

				<i class="fa fa-paper-plane ims-act share" title="Share" alt="Share" data-ovly="<%= project.id %>"></i>

				<% if member_signed_in? %>
			        <% if current_member == project.member %>
			        	<%= render :partial => "projects/dropdown_toggle", :locals => {:project => project} %>
			        <% end %>
		      	<% end %>

		    </span>
		    <div style="clear:both;"></div>
		</div>

		<div class="p-av">
			<%= avatar_project_link project, class: "p_ev_av", title: project.title, alt: project.title %>
		</div>

		<div id="pl_middle">
			<div id="pl_info">
				<div class="pl_t">
					<%= link_to project.name, project_path(project) %>
				</div>

				<div class="pl_ts">
					<%= project.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "projects", :action => "index", :projects => m}, title: m, alt: m }.join(' ').html_safe %>
				</div>
			</div>

			<div class="pl_bl">
				<%= project.blurb %>
			</div>
		</div>

		<% if project.city? %>
			<div class="e_loc">
				<%= link_to(:controller => "projects", :action => "index", :projects => project.city) do %>
	                <i class="fa fa-map-marker"></i><%= project.city.titleize %>
	            <% end %>
			</div>
		<% end %>

		<div class="pl_tm">
			<%= project.created_at.strftime("%b %d %Y") %>
		</div>

	</div>

<% end %>