<% title "LLF x Projects" %>

<%= render :partial => "banner" %>

<div id="">

    <div id="sb_wrap">
        <% if @facet != nil || @query != nil || @city_facet != nil %>
            <div id="bc_wrap">
                <div class="breadcrumbs">
                    <span><%= link_to "Projects", projects_path %></span> &raquo; <span>Discover</span>
                </div>
            </div>
        <% end %>

        <div class="sb_text">
            Look up a project name, tag, or city
        </div>
        <div class="sb">
          <%= render :partial => "search" %>
        </div>

        <div class="btags">
            <div class="loc_nm">             
                <% for row in @search.facet(:city).rows %>
                    <span class="eloc"><%= link_to(row.value.titleize, params.merge({:city => row.value})) %></span>
                <% end %>           
            </div>

            <% for row in @search.facet(:marker_list).rows %>
              <span class="btag"><%= link_to('+ ' + row.value.titleize, params.merge({:tag => row.value})) %></span>
            <% end %>
        </div>
    </div>

    <div id="p_index">

        <div id="stream_filters" class="form-inline">
            <span class="filters all">
                <label for="filter__">
                <%= radio_button_tag(:filter, "*", :checked => 'checked') %> All
                </label>
            </span>
            <span class="filters art_filter">
                <label for="filter_.art_fil">
                <%= radio_button_tag(:filter, ".art_fil") %> Arts
                </label>
            </span>
            <span class="filters biz_filter">
                <label for="filter_.biz_fil">
                <%= radio_button_tag(:filter, ".biz_fil") %> Entrepreneurial
                </label>
            </span>
            <span class="filters music_filter">
                <label for="filter_.music_fil">
                <%= radio_button_tag(:filter, ".music_fil") %> Music
                </label>
            </span>
            <span class="filters sports_filter">
                <label for="filter_.sports_fil">
                <%= radio_button_tag(:filter, ".sports_fil") %> Sports
                </label>
            </span>
            <span class="filters other_filter">
                <label for="filter_.other_fil">
                <%= radio_button_tag(:filter, ".other_fil") %> Other
                </label>
            </span>
        </div>

        <div id="prs_wrap">
            <div id="media_query_prev">
                <div id="prs">
                    <% if @facet == nil && @query == nil && @city_facet == nil %>
                        <%= render partial: 'projects' %>
                    <% else %>
                        <%= render partial: 'search_projects' %>
                    <% end %>
                </div>
            </div>

            <% if @facet == nil && @query == nil && @city_facet == nil %>
                <%= will_paginate @projects, class: 'display_none' %>

                <% if @projects.total_pages != @projects.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                      <div class="com_show">
                        Show More
                      </div>
                    <% end %>
                <% end %>
            <% else %>
                <%= will_paginate @results, class: 'display_none' %>

                <% if @results.total_pages != @results.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                      <div class="com_show">
                        Show More
                      </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        
    </div>

</div>