<% title "LLF | Projects" %>

<%= render :partial => "banner" %>

<div id="main_wrap">

    <div id="p_index">
        <div id="sleft">
            <div class="swrap">
                <div class="shead">
                    <i class="icon-tags"></i> Search Tags
                </div>
                <div class="sbody">
                    <%= render :partial => "search" %>
                </div>
                <div class="shead">
                    <i class="icon-fire"></i> Popular Tags
                </div>
                <div class="sbody">
                    <ul>
                        <% @tags.each do |tag| %>
                            <li>
                                <%= link_to(:controller => "projects", :action => "index", :search => tag.name) do %>
                                    <i class="icon-tag icon-white"></i> <%= tag.name.titleize %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div id="pright">
            <div id="prs">
                <%= render partial: 'projects' %>
            </div>
        </div>
    <div style="clear:both;"></div>
    </div>

</div>