<% title "THE COLLECTIVV &#215; Popular Projects".html_safe %>

<%= render :partial => "banner" %>

<div class="scroll2">

    <div id="sb_wrap">

        <% if @facet != nil || @query != nil || @city_facet != nil %>
            <div id="bc_wrap" class="q_bc p4">
                <div class="breadcrumbs">
                    <span class="pjts"><%= link_to "Projects &raquo;".html_safe, projects_path %></span> <span class="pjts"><%= link_to "Popular &raquo;".html_safe, popular_projects_path %></span> <span>Discover</span>
                </div>

                <div class="add_more">
                  <%= link_to new_project_path, title: 'Create Project', alt: 'Create Project' do %>
                    <i class="fa fa-plus"></i>Create Project
                  <% end %>
                </div>

                <%= render :partial => "pop_search" %>
            </div>
        <% else %>
            <div id="bc_wrap" class="q_bc p3">
                <div class="breadcrumbs">
                    <span class="pjts"><%= link_to "Projects &raquo;".html_safe, projects_path %></span> <span>Popular</span>
                </div>

                <div class="add_more">
                  <%= link_to new_project_path, title: 'Create Project', alt: 'Create Project' do %>
                    <i class="fa fa-plus"></i>Create Project
                  <% end %>
                </div>

                <%= render :partial => "pop_search" %>
            </div>
        <% end %>

        <div class="btags top">
            <div class="loc_nm">             
                <% for row in @search.facet(:city).rows %>
                    <span class="eloc"><%= link_to(row.value.titleize, params.merge({:city => row.value})) %></span>
                <% end %>           
            </div>
        </div>

        <div class="btags">
            <% for row in @search.facet(:marker_list).rows %>
              <span class="btag"><%= link_to('+ ' + row.value, params.merge({:tag => row.value})) %></span>
            <% end %>
        </div>

    </div>

    <div id="p_index">

        <%= render :partial => "shared/evpj_filters" %>

        <div id="prs_wrap">

            <div id="media_query_prev">

                <div id="prs">             
                    <% if @facet == nil && @query == nil && @city_facet == nil %>
                        <%= render partial: 'projects' %>
                    <% else %>
                        <%= render partial: 'search_projects' %>
                    <% end %>
                </div>

            </div>

            <% if @facet == nil && @query == nil && @city_facet == nil %>
                <%= will_paginate @projects, class: 'display_none' %>

                <% if @projects.total_pages != @projects.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                      <div class="com_show">
                        Show More
                      </div>
                    <% end %>
                <% end %>
            <% else %>
                <%= will_paginate @results, class: 'display_none' %>

                <% if @results.total_pages != @results.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                      <div class="com_show">
                        Show More
                      </div>
                    <% end %>
                <% end %>
            <% end %>

        </div>
        
    </div>

</div>