<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap event_fil">

	<div id="a_top">

		<div class="a_av"><%= act_profile_link activity.targetable.member, :class => "pr_av", title: activity.targetable.member.full_name, alt: activity.targetable.member.full_name %>
		</div>

		<div class="a_info at_e">
			<ul>
				<li>
					<%= link_to status_path(activity.targetable) do %>
					 <span class="a_action">created an</span> event
					<% end %>
				</li>
				<li class="a_time">
					<span class="a_t"><span class="e"><%= time_ago_in_words(activity.targetable.created_at) %></span></span>
				</li>
			</ul>
		</div>

	</div>

	<div class="act_e_av">
	    <%= activity_event_link activity.targetable, title: activity.targetable.name, alt: activity.targetable.name %>
	</div>

	<div class="act_e_title">
		<%= link_to activity.targetable.name, event_path(activity.targetable) %>
	</div>

	<div class="act_ep_content">
		<%= activity.targetable.blurb %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "events", :action => "index", :events => m}, title: m, alt: m }.join(' ').html_safe %>
	</div>

	<% if activity.targetable.location? %>
		<div class='act_loc'>
			<%= link_to(:controller => "events", :action => "index", :events => activity.targetable.location) do %>
	            <i class="fa fa-map-marker"></i><%= activity.targetable.location.titleize %>
	        <% end %>
		</div>
	<% end %>

	<div class="act_tm">
		<%= activity.targetable.start_date.strftime("%b %d %Y") %>
	</div>

	<div class="act_tm2">
		<% if activity.targetable.start_time.strftime("%I:%M %p") == '12:00 AM' && activity.targetable.end_time.strftime("%I:%M %p") == '12:00 AM' %>
	    	All Day
	  	<% else %>
	    	<%= activity.targetable.start_time.strftime("%I:%M %p") %> - <%= activity.targetable.end_time.strftime("%I:%M %p") %>
	  	<% end %>
	</div>

	 
	<div id="act_btn_wrap">
		<span id="comment_act_btn">

			<%= render :partial => "activities/event/comment_button", :locals => {:activity => activity} %>

				<% if member_signed_in? %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
					</span>

				<% else %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/fav_logged_out.html", :locals => {:activity => activity} %>	
					</span>

				<% end %>

				<% if member_signed_in? %>

					<% if activity.member == current_member %>
						<span class="">
							<%= render :partial => "activities/event/edit_button", :locals => {:activity => activity} %>
						</span>


						<span class="ad">
							<%= render :partial => "activities/delete_button", :locals => {:activity => activity} %>
						</span>
				<% end %>

			<% end %>
			
		</span>
	</div>
	

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Event URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= event_url(activity.targetable) %>" />
	    </div>
	</div>

</div> 