<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap event_fil">

	<div class="act_event_top">
		<span class="">
			<%= avatar_profile_link activity.member, :class => "act_av", title: activity.member.full_name, alt: activity.member.full_name %>
		</span>

		<span class="act_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %>
		</span>

		<span class="meta"> 
			<%= time_ago_in_words(activity.targetable.created_at) %>
		</span>

		<span class="act_title eve">
			created a new <%= link_to 'Event', profile_events_path(activity.member) %>
		</span>
	</div>

	<div class="act_e_av">
	    <%= activity_event_link activity.targetable, title: activity.targetable.name, alt: activity.targetable.name %>
	</div>

	<div class="act_e_title">
		<%= link_to activity.targetable.name, event_path(activity.targetable_id) %>
	</div>

	<div class="act_content">
		<%= Rinku.auto_link(activity.targetable.blurb.titleize).html_safe %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to m.titleize, :controller => "events", :action => "index", :search => m }.join(' ').html_safe %>
	</div>

	<div class='act_loc'>
		<%= link_to(:controller => "events", :action => "index", :search => activity.targetable.location) do %>
            <i class="icon-map-marker icon-blue"></i> <%= activity.targetable.location.titleize %>
        <% end %>
	</div>

	<div class="act_tm">
		<%= activity.targetable.start_date.strftime("%b %d %Y") %>
	</div>

	<div class="act_tm2">
		<% if activity.targetable.start_time.strftime("%I:%M %p") == '12:00 AM' && activity.targetable.end_time.strftime("%I:%M %p") == '12:00 AM' %>
	    	All Day
	  	<% else %>
	    	<%= activity.targetable.start_time.strftime("%I:%M %p") %> - <%= activity.targetable.end_time.strftime("%I:%M %p") %>
	  	<% end %>
	</div>

	<% if member_signed_in? %> 
		<div id="act_btn_wrap">
			<span id="comment_act_btn">

				<% if activity.targetable.comments.count > 0 && activity.targetable.comments.count <= 99 %>
					<%= link_to event_path(activity.targetable_id), title: "Comment", alt: "Comment", :class => "btn comment" do %>
						<%= image_tag("Comment 3.png", class: "act_actions") %><%= activity.targetable.comments.count %>
					<% end %>
				<% elsif activity.targetable.comments.count > 99 %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions") + '99+', event_path(activity.targetable_id), title: "Comment", alt: "Comment", :class => "btn comment" %>
				<% else %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions"), event_path(activity.targetable_id), title: "Comment", alt: "Comment", :class => "btn comment" %>
				<% end %>

				<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
					<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
				</span>

				<% if activity.member == current_member %>
					<span class="ad">
						<%= link_to image_tag("Trash.png",  class: "act_actions"), activity_path(activity), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete", :class => "btn more" %>
					</span>
				<% end %>
				
			</span>
		</div>
	<% end %>

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Event URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= event_url(activity.targetable_id) %>" />
	    </div>
	</div>

</div> 