<% title "LLF x Community" %>

<%= render :partial => "banner" %>

<%= render :partial => "newsticker" %>

<div id="community_wrap">

    <div id ="main_wrap">

        <div id="cm_nav">
            Community Stream
        </div>

        <div id="stream_filters" class="form-inline">
            <span class="filters all">
                <label for="filter__">
                <%= radio_button_tag(:filter, "*", :checked => 'checked') %> All
                </label>
            </span>
            <span class="filters stat_filter">
                <label for="filter_.status_fil">
                <%= radio_button_tag(:filter, ".status_fil") %> Statuses
                </label>
            </span>
            <span class="filters media">
                <label for="filter_.media_fil">
                <%= radio_button_tag(:filter, ".media_fil") %> Media
                </label>
            </span>
            <span class="filters market">
                <label for="filter_.market_fil">
                <%= radio_button_tag(:filter, ".market_fil") %> Market
                </label>
            </span>
            <span class="filters event">
                <label for="filter_.event_fil">
                <%= radio_button_tag(:filter, ".event_fil") %> Events
                </label>
            </span>
            <span class="filters project">
                <label for="filter_.project_fil">
                <%= radio_button_tag(:filter, ".project_fil") %> Projects
                </label>
            </span>
        </div>

        <div id="media_query_stream">
            <div class="act_rfrsh">
                <div class="refresh"><%= link_to '<i class="fa fa-refresh"></i>Refresh'.html_safe, :controller => :community, :action => :community, remote: true %></div>
            </div>
        </div>
        
        <div id="ac_wrap">
            <div id="media_query_stream">
                <div id="activity_stream_wrap">
                   <%= render :partial => "activities/activities", :collection => @activities, :as => :activity %>
                </div>
            </div>             

            <%= will_paginate @activities, class: 'display_none' %>

            <% if @activities.total_pages != @activities.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                    <div class="com_show">
                        Show More
                    </div>
                <% end %>
            <% end %>
        </div>

        <!--/activity_wrap-->

    </div>

    <!--/main_wrap-->

</div>

<!--/community_wrap-->