<% title "LIVING X LIFE X FEARLESS" %>

<div id="cty_cta">
    <span class="a">What's your passion?</span> <span class="b">We're a community of people and brands doing and creating inspiring things.</span> <span><%= link_to "Learn More", faqs_path, title: "Learn More", alt: "Learn More", :class => "btn btn-success" %></span> <span><%= link_to "Join!", join_path, title: "Join!", alt: "Join!", :class => "btn btn-info" %></span>
</div>



<%= render :partial => "newsticker" %>

<div id="community_wrap">

    <div id ="main_wrap">

        <%= render :partial => "shared/stream_filters" %>
        
        <div id="ac_wrap">
            <div id="media_query_stream">
                <div id="activity_stream_wrap">
                   <%= render :partial => "activities/activities", :collection => @activities, :as => :activity %>
                </div>
            </div>             

            <%= will_paginate @activities, class: 'display_none' %>

            <% if @activities.total_pages != @activities.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                    <div class="com_show">
                        Show More
                    </div>
                <% end %>
            <% end %>
        </div>

        <!--/activity_wrap-->

    </div>

    <!--/main_wrap-->

</div>

<!--/community_wrap-->