<% title "COLLECTIVV by L&#215;L&#215;F".html_safe %>

<%= render :partial => "banner" %>

<%= render :partial => "newsticker" %>

<div id="community_wrap" class="scroll2">

    <div id ="main_wrap">

        <%= render :partial => "shared/stream_filters" %>
        
        <div id="ac_wrap">
            <div id="media_query_stream">
                <div id="activity_stream_wrap">
                   <%= render :partial => "activities/activities", :collection => @activities, :as => :activity %>
                </div>
            </div>             

            <%= will_paginate @activities, class: 'display_none' %>

            <% if @activities.total_pages != @activities.current_page %>
                <div id="loading"></div>
                <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                    <div class="com_show">
                        Show More
                    </div>
                <% end %>
            <% end %>
        </div>

        <!--/activity_wrap-->

    </div>

    <!--/main_wrap-->

</div>

<!--/community_wrap-->