<% title "LLF | Community" %>

<%= render :partial => "banner" %>

<%= render :partial => "newsticker" %>

<div id="main_wrap">

	<div id="cty_menu">
		<%= link_to "Community Stream", community_stream_path, class: 'cty_str_1' %>
		<%= link_to "Community Media", community_media_path, class: 'cty_med_1' %>
	</div>

    <span id="community">
        <div id="stream_filters">
            <span class="filters all">
                <%= radio_button_tag(:filter, "*", :checked => 'checked') %>
                <label for="filter__">All</label>
            </span>
            <span class="filters status">
                <%= radio_button_tag(:filter, ".status_fil") %>
                <label for="filter__">Statuses</label>
            </span>
            <span class="filters media">
                <%= radio_button_tag(:filter, ".media_fil") %>
                <label for="filter__">Media</label>
            </span>
        </div>
    </span>

    <div id="activity_stream_wrap">
	   <%= render :partial => "activities/activities" %>
    </div>          

    <%= will_paginate @activities, class: 'display_none' %>

    <% if @activities.total_pages != @activities.current_page %>
        <div id="loading"></div>
        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
            <div class="com_show">
                Show More
            </div>
        <% end %>
    <% end %>
	
</div>