<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap project_fil">

	<div id="<%= activity.id %>_<%= activity.targetable.id %>" class="share-body none">
      <input class="pr_in forms" value="<%= project_url(activity.targetable) %>" onclick="this.select()" />
    </div>
	
	<div id="a_top">

		<div class="a_av"><%= avatar_profile activity.targetable.member, :class => "pr_av", title: activity.targetable.member.full_name, alt: activity.targetable.member.full_name %>
		</div>

		<div class="a_info at_p">
			<ul>
				<li>
					<%= link_to profile_projects_path(activity.targetable.member) do %>
					 <span class="a_action">created a</span> project
					<% end %>
				</li>
				<li class="a_time">
					<span class="a_t"><span class="p"><%= time_ago_in_words(activity.targetable.created_at) %></span></span>
				</li>
			</ul>
		</div>

		<% if member_signed_in? %>
	        <% if current_member == activity.targetable.member %>
	        	<%= render :partial => "activities/project/dropdown_toggle", :locals => {:activity => activity} %>
	        <% end %>
      	<% end %>

	</div>

	<div class="act_p_av">
	    <%= avatar_project_link activity.targetable, class: "p_ev_av2", title: activity.targetable.title, alt: activity.targetable.title %>
	</div>

	<div class="act_p_title">
		<%= link_to activity.targetable.name, project_path(activity.targetable) %>
	</div>

	<% if member_signed_in? %>
		<% if activity.targetable.member != current_member %>
			<div class="ep_act_fl">
				<div class='p_f_but'>
					<%= render :partial => "shared/follow_project", :locals => {:project => activity.targetable} %>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="ep_act_fl">
			<%= render :partial => "activities/fol_logged_out.html" %>
		</div>
	<% end %>

	<div class="act_ep_content">
		<%= activity.targetable.blurb %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "projects", :action => "index", :projects => m}, title: m, alt: m }.join(' ').html_safe %>
	</div>

	<% if activity.targetable.city? %>
		<div class='act_loc'>
			<%= link_to(:controller => "projects", :action => "index", :projects => activity.targetable.city) do %>
	            <i class="fa fa-map-marker"></i><%= activity.targetable.city.titleize %>
	        <% end %>
		</div>
	<% end %>

	<div class="act_tm1">
		<%= activity.targetable.created_at.strftime("%b %d %Y") %>
	</div>
 
	<div id="act_btn_wrap">
		<span id="comment_act_btn">

			<%= render :partial => "activities/project/comment_button", :locals => {:activity => activity} %>

				<% if member_signed_in? %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
					</span>

				<% else %>

					<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
						<%= render :partial => "activities/fav_logged_out.html", :locals => {:activity => activity} %>	
					</span>

				<% end %>

			<i class="fa fa-paper-plane act_actions btn share" title="Share" alt="Share" data-ovly="<%= activity.id %>_<%= activity.targetable.id %>"></i>
			
		</span>
	</div>

</div> 