<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap project_fil">
	
	<div id="a_top">
		<span class="at_p"><%= link_to 'project', profile_projects_path(activity.targetable.member) %></span>
	</div>

	<div class="act_p_av">
	    <%= activity_project_link activity.targetable, title: activity.targetable.title, alt: activity.targetable.title %>
	</div>

	<div class="act_p_title">
		<%= link_to activity.targetable.name, project_path(activity.targetable) %>
	</div>

	<div class="act_ep_content">
		<%= Rinku.auto_link(activity.targetable.blurb).html_safe %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to truncate_tag('+ ' + m.titleize), {:controller => "projects", :action => "index", :projects => m}, title: m.titleize, alt: m.titleize }.join(' ').html_safe %>
	</div>

	<% if activity.targetable.city? %>
		<div class='act_loc'>
			<%= link_to(:controller => "projects", :action => "index", :projects => activity.targetable.city) do %>
	            <i class="fa fa-map-marker"></i><%= activity.targetable.city.titleize %>
	        <% end %>
		</div>
	<% end %>

	<div class="act_tm1">
		<%= activity.targetable.created_at.strftime("%b %d %Y") %>
	</div>
 
	<div id="act_btn_wrap">
		<span id="comment_act_btn">

			<span><%= list_profile_link activity.targetable.member, :class => "pr_av", title: activity.targetable.member.full_name, alt: activity.targetable.member.full_name %></span>

			<% if member_signed_in? %>

				<% if activity.targetable.comments.count > 0 && activity.targetable.comments.count <= 99 %>
					<%= link_to project_path(activity.targetable), title: "Comment", alt: "Comment", :class => "btn comment" do %>
						<%= image_tag("Comment 3.png", class: "act_actions") %><%= activity.targetable.comments.count %>
					<% end %>
				<% elsif activity.targetable.comments.count > 99 %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions") + '99+', project_path(activity.targetable), title: "Comment", alt: "Comment", :class => "btn comment" %>
				<% else %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions"), project_path(activity.targetable), title: "Comment", alt: "Comment", :class => "btn comment" %>
				<% end %>

				<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
					<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
				</span>

				<% if activity.member == current_member %>
					<span class="ad">
						<%= link_to image_tag("Trash.png",  class: "act_actions"), activity_path(activity), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete", :class => "btn more" %>
					</span>
				<% end %>

			<% end %>

			<span class="a_t"><span class="p"><%= time_ago_in_words(activity.targetable.created_at) %></span></span>
			
		</span>
	</div>

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Project URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= project_url(activity.targetable) %>" />
	    </div>
	</div>

</div> 