<% title "THE COLLECTIVV &#215; Login".html_safe %>

<div id="banner" style="background-image: url('/assets/Community Banner Image.jpeg');text-align:left;">
  	<div class="login_wrap">
    	<div class="login_form">

				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "" }) do |f| %>

					<div class="s_l_in">
			            <div id="custom-input">
			                <div class="input-group col-md-12">
			                    <%= f.input :login, label: false, hint: false, error: false, :autofocus => true, placeholder: 'Username or Email', input_html: { class: 'forms'} %>
			                </div>
			            </div>      
					</div>

					<div class="s_l_in">
			            <div id="custom-input">
			                <div class="input-group col-md-12">
			                    <%= f.input :password, label: false, hint: false, error: false, placeholder: 'Password', input_html: { class: 'forms'} %>
			                </div>
			            </div>      		  		
					</div>

					<div><%= f.button :submit, "Login", :class => "btn btn-baby-blue btn-large" %></div> 

					<% if devise_mapping.rememberable? -%>
					  	<label for="member_remember_me">
					    	<div><%= f.input :remember_me, as: :boolean, label: 'Keep me logged in', :label_html => {:class => "act_img_lb"}, input_html:{ :checked => 'checked', value: '1' }  %></div>
						</label>
				  	<% end -%>

				<% end %>

				<div class="links">
					<%= render "devise/shared/links" %>
				</div>

		</div>
  	</div>
</div>

<div class="" style="padding-bottom:500px;"></div>

<!--/main_wrap-->