<% title "LLF x Login" %>

<div class="login_bg">

	<div class="login_wrap">
		<div class="login_form">

				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "" }) do |f| %>

					<div class="s_l_in">
			            <div id="custom-input">
			                <div class="input-group col-md-12">
			                    <%= f.input :login, label: false, hint: false, error: false, :autofocus => true, placeholder: 'Username or Email', input_html: { class: 'forms'} %>
			                </div>
			            </div>      
					</div>

					<div class="s_l_in">
			            <div id="custom-input">
			                <div class="input-group col-md-12">
			                    <%= f.input :password, label: false, hint: false, error: false, placeholder: 'Password', input_html: { class: 'forms'} %>
			                </div>
			            </div>      		  		
					</div>

					<div><%= f.button :submit, "Login", :class => "btn btn-info btn-large" %></div> 

					<% if devise_mapping.rememberable? -%>
					  	<label for="member_remember_me">
					    	<div><%= f.input :remember_me, as: :boolean, label: 'Keep me logged in', input_html:{ :checked => 'checked', value: '1' } %></div>
						</label>
				  	<% end -%>

				<% end %>

				<div class="links">
					<%= render "devise/shared/links" %>
				</div>

		</div>
	</div>

</div>

<!--/main_wrap-->