<% unless member == current_member %>

  <% if current_member.following?(member) %>

    <div class="btn-group">
        <%= link_to("Following", member_follow_path(member.to_param, current_member.get_follow(member).id), :method => :delete, :remote => true, :class => "btn btn-follow") %>
        <%= link_to "Message", "#", :class => "btn" %>
        <%= link_to "Mention", "#", :class => "btn" %>
         <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            More
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-ban-circle"></i> Block</a></li>
          </ul>
     </div>


    <% else %>

      <div class="btn-group">
        <%= link_to("Follow", member_follows_path(member.to_param), :method => :post, :class => "btn") %>
        <%= link_to "Message", "#", :class => "btn" %>
        <%= link_to "Mention", "#", :class => "btn" %>
         <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            More
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Block <%= @member.first_name %></a></li>
            <li><a href="#">Report for Spam</a></li>
          </ul>
      </div>

  <% end %>

<% end %>