<% unless member == current_member %>

  <% if current_member.following?(member) %>

    <div class="btn-group">
        <%= link_to("Following", member_follow_path(member.id, current_member.get_follow(member).id), :method => :delete, :remote => true, :class => "btn btn-follow") %>
        <%= link_to "Message", "#", :class => "btn" %>
        <%= link_to "Mention", "#", :class => "btn" %>
     </div>


    <% else %>

      <div class="btn-group">
        <%= link_to("Follow", member_follows_path(member.id), :method => :post, :remote => true, :class => "btn") %>
        <%= link_to "Message", "#", :class => "btn" %>
        <%= link_to "Mention", "#", :class => "btn" %>
      </div>

  <% end %>

<% end %>