<%= simple_form_for(@medium, :html => { :id => 'media_form', :multipart => true }, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asset, label: false, error: false, as: :file %>
    <%= bootstrap_paperclip_media f, :asset %>
    <div class="cover_art">(Optional) Audio Cover Art</div>
    <%= f.input :cover, label: false, error: false, as: :file %>
    <div class="cap">
    	<span id="cap_count"></span> <span class="cap_remain">Characters Remaining</span> <span class="cap_opt">(Optional)</span>
    </div> 
    <%= f.input :caption, label: false, error: false, placeholder: 'Write a short description...', input_html: { rows: '1', maxlength: '280', class: 'input-xlarge', id: 'cap_box', autocomplete: 'off' } %>
  </div>

  <div class="med_instructions">
    <ul class="m_ts">
      <li>
        &raquo; Provide up to 5 of the most relevant tags
      </li>
      <li>
        &raquo; Comma separated, 15 characters per
      </li>
    </ul>
  </div>
  <%= f.input :marker_list, label: false, error: false, placeholder: 'Tags (Optional)', input_html: { rows: '1', class: 'forms input-xlarge', autocomplete: 'off'} %>

  <div class="form-actions">
    <%= f.button :submit, 'Upload', :class => "btn btn-warning" %>
    <%= link_to 'Cancel', {:controller => :profiles, :action => :media_cancel}, remote: true, :class => "btn btn-danger pull-right" %>
  </div>
<% end %>