<%= simple_form_for(@medium) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asset, label: false, error: false, as: :file %>
    <%= bootstrap_paperclip_media f, :asset %>
    <div class="cap">
    	<span id="cap_count"></span> <span class="cap_remain">Characters Remaining</span> <span class="cap_opt">(Optional)</span>
    </div> 
    <%= f.input :caption, label: false, error: false, input_html: { rows: '9', maxlength: '280', class: 'input-xlarge', id: 'cap_box' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit', :class => "btn btn-warning" %>
  </div>
<% end %>