<% if medium.link =~ /^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be|vimeo\.com)\/.+$/ %>
  <div id="media_<%= medium.id %>_<%= medium.member.id %>" class="list_act_wrap video_fil">
<% elsif medium.link =~ /^(https?\:\/\/)?(www\.)?(soundcloud\.com)\/.+$/ %>
  <div id="media_<%= medium.id %>_<%= medium.member.id %>" class="list_act_wrap audio_fil">
<% end %>
  
  <% if member_signed_in? %>
    <% if current_member == medium.member %>
      <div class="md_drpdw">
        <%= render :partial => "media/dropdown_toggle", :locals => {:medium => medium} %>
      </div>
    <% end %>
  <% end %>

  <div class="act_media_content emb_cta_wrap">
    <div id="<%= medium.id %>" class="share-body none">
      <input class="pr_in forms" value="<%= medium_url(medium) %>" onclick="this.select()" />
    </div>
    <%= render :partial => "media/media_embeds", :locals => {:medium => medium} %>
  </div>

  <% if medium.caption? %>
    <div class="media_act_cap">
      <%= sanitize(Rinku.auto_link(media_with_mentions(medium)), :tags => %w(a)) %>
    </div> 
  <% end %>

  <% if medium.marker_list %>
    <div class="t_s">
      <%= medium.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "media", :action => "index", :media => m}, title: m, alt: m }.join(' ').html_safe %>
    </div>
  <% end %>

  <div id="act_btn_wrap">

    <span id="comment_act_btn">

      <%= render :partial => "media/comment_button", :locals => {:medium => medium} %>

      <% if member_signed_in? %>
        <span id="med_fav_<%= medium.id %>_<%= medium.member.id %>">
          <%= render :partial => "media/favorite", :locals => {:medium => medium} %>
        </span>
      <% else %>
        <span id="med_fav_<%= medium.id %>_<%= medium.member.id %>">
          <%= render :partial => "media/fav_logged_out.html", :locals => {:medium => medium} %>  
        </span>
      <% end %>

      <i class="fa fa-paper-plane act_actions btn share" title="Share" alt="Share" data-ovly="<%= medium.id %>"></i>
      
    </span>

  </div>

</div>