<% if medium.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
  <div id="media_<%= medium.id %>_<%= medium.member.id %>" class="list_act_wrap audio_fil">
  <% end %>

<% if medium.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
  <div id="media_<%= medium.id %>_<%= medium.member.id %>" class="list_act_wrap photo_fil">
<% end %>  

    <% if member_signed_in? %>
      <% if current_member == medium.member %>
        <div class="md_drpdw">
          <%= render :partial => "media/dropdown_toggle", :locals => {:medium => medium} %>
        </div>
      <% end %>
    <% end %>

    <% if medium.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
      <div class="act_media_content">
        <% if medium.cover? %>
          <div id='med_art' style="background-image: url(<%= medium.cover.url(:large) %>)">
        <% else %>
          <div id='med_art' style="background-image: url('/assets/Default-Audio.jpg')">
        <% end %>
            <div id="<%= medium.id %>" class="share-body none">
              <input class="pr_in forms" value="<%= medium_url(medium) %>" onclick="this.select()" />
            </div>
            <div class="med_play_btn">
              <%= link_to '<i class="fa fa-play-circle-o"></i>'.html_safe, medium.asset.url, target: '_self', class: 'sm2_button', title: 'Play/Pause', alt: 'Play/Pause' %>
            </div>
          </div>
      </div>
    <% end %>

    <% if medium.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
      <div class="act_media_content">
        <div id="<%= medium.id %>" class="share-body none">
          <input class="pr_in forms" value="<%= medium_url(medium) %>" onclick="this.select()" />
        </div>
        <% if medium.caption? %>
          <%= link_to image_tag(medium.asset.url, class: ''), medium.asset.url(:fancy), :data => { :fancybox => 'gallery',:caption => Rinku.auto_link(media_with_mentions(medium)), :tags => %w(a) } %>
        <% else %>
          <%= link_to image_tag(medium.asset.url, class: ''), medium.asset.url(:fancy), :data => { :fancybox => 'gallery' } %>
        <% end %>
      </div>
    <% end %>

    <% if medium.caption? %>
      <div class="media_act_cap">
        <%= sanitize(Rinku.auto_link(media_with_mentions(medium)), :tags => %w(a)) %>
      </div> 
    <% end %>

    <% if medium.marker_list %>
      <div class="t_s">
          <%= medium.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "media", :action => "index", :media => m}, title: m, alt: m }.join(' ').html_safe %>
      </div>
    <% end %>

    <div id="act_btn_wrap">

      <span id="comment_act_btn">

        <span><%= avatar_profile medium.member, :class => "pr_av", title: medium.member.full_name, alt: medium.member.full_name %></span>

        <%= render :partial => "media/comment_button", :locals => {:medium => medium} %>

        <% if member_signed_in? %>
          <span id="med_fav_<%= medium.id %>_<%= medium.member.id %>">
            <%= render :partial => "media/favorite", :locals => {:medium => medium} %>
          </span>
        <% else %>
          <span id="med_fav_<%= medium.id %>_<%= medium.member.id %>">
            <%= render :partial => "media/fav_logged_out", :locals => {:medium => medium} %>  
          </span>
        <% end %>

        <i class="fa fa-paper-plane act_actions btn btn-default share" title="Share" alt="Share" data-ovly="<%= medium.id %>"></i>
        
      </span>

    </div>
        
  </div>
    