<% if medium.link =~ /^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$/ %>
	<div class="emb_cta">Click to play</div>
	<% if medium.cover? %>
		<%= link_to image_tag(medium.cover.url), "#" %>
	<% else %>
		<%= link_to image_tag('/assets/Default-Youtube.jpg'), "#" %>
	<% end %>
<% elsif medium.link =~ /^(https?\:\/\/)?(www\.)?(vimeo\.com)\/.+$/ %>
	<div class="emb_cta">Click to play</div>
	<% if medium.cover? %>
		<%= link_to image_tag(medium.cover.url), "#" %>
	<% else %>
		<%= link_to image_tag('/assets/Default-Vimeo.jpg'), "#" %>
	<% end %>
<% elsif medium.link =~ /^(https?\:\/\/)?(www\.)?(soundcloud\.com)\/.+$/ %>
	<div class="emb_cta">Click to play</div>
	<% if medium.cover? %>
		<%= link_to image_tag(medium.cover.url), "#" %>
	<% else %>
		<%= link_to image_tag('/assets/Default-Soundcloud.jpg'), "#" %>
	<% end %>
<% end %>