<% title @medium.member.full_name + " x Edit Media"%>

	<div id="main_wrap">

		<div id="edit_show">

			<div class="t"> 
				Last updated: <%= @medium.updated_at.localtime.strftime("%A, %m/%d/%y %I:%M%P") %> &#8226; 
				<%= link_to "View", medium_path(@medium), title: 'View Media', alt: 'View Media' %> 
				&#8226; <%= link_to "Cancel Edit", profile_media_path(@medium.member), title: 'Cancel Edit', alt: 'Cancel Edit' %>
				<% if current_member == @medium.member %>
					<span class="dl"><%= link_to image_tag("/assets/Delete.png", title: 'Delete', alt: 'Delete'), @medium, method: :delete, data: { confirm: 'Are you sure?' } %></span>
				<% end %>
			</div>

			<div>

				<% if @medium.link? %>
					<%= render :partial => "media/edit_video", :locals => {:medium => @medium} %>
				<% else %>
					<%= render :partial => "media/edit_attachment", :locals => {:medium => @medium} %>
		        <% end %>

		        <% if @medium.caption? %>
			        <div class="view_caption">
			        	<%= sanitize(Rinku.auto_link(media_with_mentions(@medium)), :tags => %w(a)) %>
			        </div>
			    <% end %>

		    </div>

		        <%= render 'edit_form' %>

		    </div>
			

		</div>

<!--/edit_show-->

	</div>

<!--/main_wrap-->