<div id="main_wrap">

  <% if signed_in? %>
      <div id="add_new">
        <%= link_to 'Add New Media', profile_media_new_path(current_member), :class => "btn btn-warning add_media" %>
      </div>
  <% end %>

  <div id="media_list_wrap">

   <% @media.each do |medium| %>
      <div class="media">

        <%= link_to image_tag(medium.asset.url(:list)), medium %>

        <% if medium.caption? %>
          <div class="media_cap">
            <%= medium.caption %>
          </div>
        <% end %> 

        <% if can_edit_medium?(medium) %>
          <div>
            <%= link_to "Delete", medium, method: :delete, data: { confirm: "Are you sure?" }, class: 'label label-important delete_label' %>
          </div>
        <% end %>

      </div>
  <% end %>

</div>

<div class="load_more">
    <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
</div>

<!--/activity_wrap-->

</div>

<!--/main_wrap-->