<% title "LLF x Media" %>

<%= render :partial => "banner" %>

<div id="md_wrap" class="md_index">

  <div id="sb_wrap" class="">

      <% if @facet != nil || @query != nil %>

            <div id="bc_wrap" class="q_bc m1">

                <div class="breadcrumbs">
                    <span class="mda"><%= link_to "Media", media_path %></span> &raquo; <span>Discover</span>
                </div>
            
                <div class="popular">
                  <%= link_to popular_media_path, title: 'Popular Media', alt: 'Popular Media' do %>
                    <i class="fa fa-heart"></i>Popular
                  <% end %>
                </div>

                <% if member_signed_in? %>
                  <div class="add_md">
                    <%= link_to "#media_index", :data => {:toggle => "modal"}, title: 'Add Media', alt: 'Add Media' do %>
                      <i class="fa fa-plus"></i>Add Media
                    <% end %>
                  </div>
                <% end %>

                <% if member_signed_in? %>
                  <%= render :partial => "search" %>
                <% else %>
                  <span class="l_o"><%= render :partial => "search" %></span>
                <% end %>

            </div>
      <% else %>
            <div id="bc_wrap" class="q_bc m0">

                <div class="popular">
                  <%= link_to popular_media_path, title: 'Popular Media', alt: 'Popular Media' do %>
                    <i class="fa fa-heart"></i>Popular
                  <% end %>
                </div>

                <% if member_signed_in? %>
                  <div class="add_md">
                    <%= link_to "#media_index", :data => {:toggle => "modal"}, title: 'Add Media', alt: 'Add Media' do %>
                      <i class="fa fa-plus"></i>Add Media
                    <% end %>
                  </div>
                <% end %>

                <% if member_signed_in? %>
                  <%= render :partial => "search" %>
                <% else %>
                  <span class="l_o"><%= render :partial => "search" %></span>
                <% end %>

            </div>
      <% end %>

       <div class="btags top">
          <% for row in @search.facet(:marker_list).rows %>
              <span class="btag"><%= link_to('+ ' + row.value, params.merge({:tag => row.value}), title: row.value, alt: row.value) %></span>
          <% end %>
        </div>

  </div>

  <%= render :partial => "shared/media_filters" %>

  <div id="media_query_media">
      <div id="m_fav_list_wrap">

        <% if @facet == nil && @query == nil %>

          <%= render partial: 'media', :collection => @media, :as => :medium %>

        <% else %>

          <%= render partial: 'results', :collection => @results, :as => :medium %>

        <% end %>

      </div>
  </div>

  <% if @facet != nil || @query != nil %>
      <%= will_paginate @results, class: 'display_none' %>

      <% if @results.total_pages != @results.current_page %>
        <div id="loading"></div>
        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
              <div class="com_show">
                Show More
              </div>
            <% end %>
      <% end %>
  <% else %>
      <%= will_paginate @media, class: 'display_none' %>

        <% if @media.total_pages != @media.current_page %>
            <div id="loading"></div>
            <%= link_to("#", class: "com_show_wrap load_arrow") do %>
                <div class="com_show">
                    Show More
                </div>
            <% end %>
        <% end %>
  <% end %>

  <% if member_signed_in? %>
    <div id="md_form_<%= current_member.id %>">
        <%= render :partial => "media/index_modal" %>
    </div>
  <% end %>

</div>