<% title @medium.member.full_name + " | Media" %>

<div id="main_wrap" class="m_show_wrap">

 <div class="act_media_top med_top">
    <span class="">
      <%= avatar_profile_link @medium.member, :class => "act_av", title: @medium.member.full_name, alt: @medium.member.full_name %>
    </span>

    <span class="act_name">
      <%= link_to @medium.member.user_name, profile_path(@medium.member) %> 
    </span>

    <% if current_member == @medium.member %>
      <span class="act_delete">
        <%= link_to image_tag("/assets/Delete 2.png", title: 'Delete'), @medium, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    <% end %>

    <span class="meta">
      <%= time_ago_in_words(@medium.created_at) %>
    </span>

    <% if member_signed_in? %>
      <span class="media_btns">
          <span id="med_sh_fav_<%= @medium.id %>_<%= @medium.member.id %>">
            <%= render :partial => "media/fav_button", :locals => {:medium => @medium} %>
          </span>

          <%= link_to image_tag("/assets/Share 4.png", class: 'ims sh', title: 'Share'), "#share", :data => {:toggle => "modal"} %>
      </span>
    <% end %>
  </div>

	<div id="media_show_wrap">

    <% if @medium.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
      <div class="sh_aud">
        <div id='med_art' style="background-image: url('/assets/Default Audio 1.png')">
          <div class="ui360 ui360-vis">
            <%= link_to '', @medium.asset.url %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @medium.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
		  <%= image_tag(@medium.asset.url(:large), class: 'thumbnail show_media') %>
    <% end %>

		<p class="view_caption">
		  <%= Rinku.auto_link(@medium.caption).html_safe %>
		</p>

	</div>

<!--/media_show_wrap-->

	<div class="media_comment_wrap">
    <% if member_signed_in? %>
      <div id="c_form_wrap">
		    <%= render "shared/comment_form" %>
      </div>
    <% else %>
        <div class="c_message">Must be logged in to leave a comment.</div>
    <% end %>

    <div id="comments_<%= @commentable.id %>" class="act_cmts">
      <%= render partial: "shared/comments", :collection => @comments, :as => :comment %>
    </div>

    <%= will_paginate @comments, class: 'display_none' %>

    <% if @comments.total_pages != @comments.current_page %>
      <div id="loading"></div>  
          <%= link_to("#", class: "com_show_wrap load_arrow") do %>
            <div class="com_show">
              Show More
            </div>
          <% end %>           
    <% end %>
	</div>

  <div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="sharemodallabel">Copy Media URL</h3>
    </div>
    <div class="modal-body pi">
      <input class="pr_in forms" value="<%= medium_url %>" autofocus />
    </div>
  </div>

</div>

<!--/main_wrap-->