<% title "LLF | Brands" %>

<%= render :partial => "market/banner" %>

<div id="main_wrap">

  <div id="sb_wrap">
    <div class="sb">
      <%= render :partial => "search" %>
    </div>

    <div class="btags">
      <% for row in @search.facet(:marker_list).rows %>
          <span class="btag"><%= link_to row.value, :tag => row.value %></span>
      <% end %>
    </div>
  </div>

  <div id="b_index">
    <% if @facet == nil && @query == nil %>
      <%= render partial: 'brands' %>
    <% else %>
        <%= render partial: 'search_brands' %>
    <% end %>
  </div>

  <%= will_paginate @brands, class: 'display_none' %>

  <% if @brands.total_pages != @brands.current_page %>
    <div id="loading"></div>
    <%= link_to("#", class: "com_show_wrap load_arrow") do %>
          <div class="com_show">
            Show More
          </div>
        <% end %>
  <% end %>

</div>