<% title @brand.name %>

	<div id="banner" style="background-image: url(<%= @brand.banner.url(:large) %>)">
	  <div id="bb">
	   	<div class="bs_av"><%= image_tag @brand.logo.url(:av), class: 'p_av' %></div>
	  </div>
	</div>

	<div id="main_wrap" class="">

		<div id="b_info">
		  	<div id="" class="bn_wrap">
		    	<span class="bn"><%= @brand.name %></span>
		  	</div>

		  	<div id="" class="b_mk">
		  		<span class='b_mks'><%= @brand.marker_list.map { |m| link_to m.titleize, :controller => "brands", :action => "index", :search => m }.join(' ').html_safe %></span>
		  	</div>

		  	<div id="" class="">
		    	<span class=""><%= avatar_profile_link @brand.member, :class => "pr_av", title: @brand.member.full_name, alt: @brand.member.full_name  %></span>
		    	<% if member_signed_in? %>
			        <span id="p_fav_but">
			          <%= render :partial => "fav_button", :locals => {:brand => @brand} %>
			        </span>

			        <%= link_to image_tag("/assets/Share.png", class: 'ims sh', title: 'Share'), "#share", :data => {:toggle => "modal"} %>
			        <% if current_member == @brand.member %>
			          <span class="btn-group">
			            <%= link_to image_tag("/assets/More 2.png", class: 'ims m', title: 'Options'), "/page.html", :class => "dropdown-toggle", :data => {:toggle => "dropdown", :target=>"#"} %>
			              <ul class="dropdown-menu">            
			                <li>
			                  <%= link_to "Edit", edit_brand_path(@brand), class: '' %>
			                </li>
			                <li class="del">
			                  <%= link_to "Delete", @brand, method: :delete, data: { confirm: 'Are you sure?' } %>
			                </li>
			              </ul>
			          </span>
			        <% end %>
			     <% end %>
		  	</div>

		  	<div id="">
		    	<div class="bd"><%= raw Rinku.auto_link(@brand.description) %></div>
		  	</div>

		  	<% if current_member == @brand.member %>
			  	<div class="cl_btn">
			  		<%= link_to 'Create Listing', new_listing_path, class: 'btn btn-market' %>
			  	</div>
		  	<% end %>
		</div>
	  	
	</div>

	<div class="s_modal">
	    <div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="sharemodallabel">Copy Brand URL</h3>
	      </div>
	      <div class="modal-body pi">
	        <input class="pr_in forms" value="<%= brand_url %>" />
	      </div>
	    </div>
	</div>