<%= simple_form_for [@uploadable, @upload], :html => { :multipart => true, :id => 'upload_form' }, remote: true do |f| %>
  <% if @upload.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
    <% if @upload.cover? %>
      <div class="edit_md_cover">
        <%= image_tag @upload.cover.url(:media) %>
      </div>
      <%= f.input :remove_cover, as: :boolean, label: "Remove cover?", :label_html => {:class => "md_cover_label"} %>
    <% end %>

    <div class="med_instructions">
      <ul>
        <li>
          &raquo; Maximum file size of 15MB
        </li>
        <li>
          &raquo; Accepted file formats: (jpeg, png, mp3)
        </li>
        <li>
          &raquo; (Optional) Attach audio cover art
        </li>
      </ul>
    </div>

    <div class="custom-file-upload fu2_wrap">
      <label for="file-upload2" class="cfu_label"><i class="fa fa-arrow-up"></i>Cover Art
        <%= f.input :cover, label: false, error: false, as: :file, :input_html => { id: 'file-upload2', class: 'cfu' } %>
      </label>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="cap">
      <span id="cap_count"></span> <span class="cap_remain">CHARACTERS REMAINING
    </div> 
    <%= f.input :caption, label: false, error: false, placeholder: 'Write a short description...', input_html: { rows: '1', maxlength: '280', class: 'input-xlarge txt_a_size', id: 'edit_cap_box', autocomplete: 'off' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Update Media', :class => "btn btn-orange" %>
    <span id="spinner" class="spinner">
      <%= image_tag '/assets/ajax-loader-(7).gif', id: 'img-spinner', alt: 'Loading' %>
    </span>
  </div>

<% end %>