<% title @upload.uploadable.name + " x Edit Media"%>

	<div id="main_wrap">

		<div id="edit_show">

			<div class="t"> 
				Last updated: <%= @upload.updated_at.localtime.strftime("%A, %m/%d %I:%M%P") %> 
				&#8226; <%= link_to "Cancel Edit", @upload.uploadable, title: 'Cancel Edit', alt: 'Cancel Edit' %>
				<% if current_member == @upload.member %>
					<span class="dl"><%= link_to image_tag("Delete.png", title: 'Delete'), [@upload.uploadable, @upload], method: :delete, data: { confirm: 'Are you sure?' } %></span>
				<% end %>
			</div>

			<div>

				<% if @upload.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
					<div class="sh_aud">
					  <% if @upload.cover? %>
					    <div id='med_art' style="background-image: url(<%= @upload.cover.url(:media) %>)">
					  <% else %>
					    <div id='med_art' style="background-image: url('/assets/Default Audio 1.png')">
					  <% end %>
					    <div class="ui360 ui360-vis">
					      <%= link_to '', @upload.asset.url %>
					    </div>
					  </div>
					</div>
				<% end %>

				<% if @upload.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
					<%= image_tag(@upload.asset.url(:medium), class: 'show_media') %>
				<% end %>

		        <% if @upload.caption? %>
			        <div class="view_caption">
			        	<%= sanitize(Rinku.auto_link(uploads_with_mentions(@upload)), :tags => %w(a)) %>
			        </div>
			    <% end %>

		    </div>

			<%= render 'form' %>

		</div>

<!--/edit_show-->

	</div>

<!--/main_wrap-->