<% title (@upload.uploadable.name + " &#215; Edit Media").html_safe %>

	<div id="main_wrap">

		<div id="edit_show">

			<div class="t"> 
				Last updated: <%= @upload.updated_at.localtime.strftime("%A, %m/%d %I:%M%P") %> 
				&#8226; <%= link_to "Cancel Edit", @upload.uploadable, title: 'Cancel Edit', alt: 'Cancel Edit' %>
				<% if current_member == @upload.member %>
					<span class="dl"><%= link_to image_tag("Delete.png", title: 'Delete'), [@upload.uploadable, @upload], method: :delete, data: { confirm: 'Are you sure?' } %></span>
				<% end %>
			</div>

			<div>

				<% if @upload.link? %>
					<%= render :partial => "uploads/edit_video", :locals => {:upload => @upload} %>
				<% else %>
					<%= render :partial => "uploads/edit_attachment", :locals => {:upload => @upload} %>
		        <% end %>

		        <% if @upload.caption? %>
			        <div class="view_caption">
			        	<%= sanitize(Rinku.auto_link(uploads_with_mentions(@upload)), :tags => %w(a)) %>
			        </div>
			    <% end %>

		    </div>

			<%= render 'form' %>

		</div>

<!--/edit_show-->

	</div>

<!--/main_wrap-->