<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap market_fil lst_wrap">

	<div id="a_top">

		<div class="a_av"><%= act_profile_link activity.targetable.member, :class => "pr_av", title: activity.targetable.member.full_name, alt: activity.targetable.member.full_name %>
		</div>

		<div class="a_info at_l">
			<ul>
				<li>
					<%= link_to status_path(activity.targetable) do %>
					 <span class="a_action">posted a</span> listing
					<% end %>
				</li>
				<li class="a_time">
					<span class="a_t"><span class="l"><%= time_ago_in_words(activity.targetable.created_at) %></span></span>
				</li>
			</ul>
		</div>

	</div>

	<div class="act_m_title">
		<%= link_to activity.targetable.title, listing_path(activity.targetable) %>
	</div>

	<div class="act_l_pr">
		<% if activity.targetable.price == 0 %>
            Free
        <% else %>
			<%= number_to_currency(activity.targetable.price) %>
		<% end %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to truncate_tag('+ ' + m), {:controller => "listings", :action => "index", :listings => m}, title: m, alt: m }.join(' ').html_safe %>
	</div>

	<div class="act_l_av">
		<div>
			<% if activity.targetable.embed? %>
				<div class="lst_emb">
		            <%= render :partial => "listings/list_embed", :locals => {:listing => activity.targetable} %>
		        </div>
	        <% elsif activity.targetable.feature? %>
	            <%= render :partial => "listings/list_attachment", :locals => {:listing => activity.targetable} %>
	        <% else %>
	            <div class="feature">
	              <%= image_tag('Listings-List-Default-2.png') %>
	            </div>
	        <% end %> 
	    </div>
	</div>
 
	<div id="act_btn_wrap">
		<span id="comment_act_btn">

			<% if activity.targetable.comments.count > 0 && activity.targetable.comments.count <= 99 %>
				<%= link_to listing_path(activity.targetable), title: "Comment", alt: "Comment", :class => "btn comment" do %>
					<%= image_tag("Comment 3.png", class: "act_actions") %><%= activity.targetable.comments.count %>
				<% end %>
			<% elsif activity.targetable.comments.count > 99 %>
				<%= link_to image_tag("Comment 3.png", class: "act_actions") + '99+', listing_path(activity.targetable), title: "Comment", alt: "Comment", :class => "btn comment" %>
			<% else %>
				<%= link_to image_tag("Comment 3.png", class: "act_actions"), listing_path(activity.targetable), title: "Comment", alt: "Comment", :class => "btn comment" %>
			<% end %>

			<% if member_signed_in? %>

				<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
					<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
				</span>

			<% else %>

				<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
					<%= render :partial => "activities/fav_logged_out.html", :locals => {:activity => activity} %>	
				</span>

			<% end %>

			<% if member_signed_in? %>

				<% if activity.member == current_member %>
					<span class="">
						<%= link_to image_tag("Edit 4.png",  class: "act_actions"), edit_listing_path(activity.targetable), title: "Edit Listing", alt: "Edit Listing", :class => "btn more" %>
					</span>

					<span class="ad">
						<%= link_to image_tag("Trash.png",  class: "act_actions"), activity_path(activity), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete", :class => "btn more" %>
					</span>
				<% end %>

			<% end %>
			
		</span>
	</div>

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Listing URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= project_url(activity.targetable) %>" />
	    </div>
	</div>

</div> 