<div id="activity_<%= activity.id %>_<%= activity.member.id %>" class="list_act_wrap market_fil">

	<div class="act_market_top">
		<span class="">
			<%= avatar_profile_link activity.member, :class => "act_av", title: activity.member.full_name, alt: activity.member.full_name %>
		</span>

		<span class="act_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %>
		</span>

		<span class="meta"> 
			<%= time_ago_in_words(activity.targetable.created_at) %>
		</span>

		<span class="act_title mrk">
			created a new <%= link_to 'Listing', profile_market_path(activity.member) %>
		</span>
	</div>

	<div class="act_m_title">
		<%= link_to activity.targetable.title, listing_path(activity.targetable_id) %>
	</div>

	<div class="act_l_pr">
		<% if activity.targetable.price == 0 %>
            Free
        <% else %>
			<%= number_to_currency(activity.targetable.price) %>
		<% end %>
	</div>

	<div class="act_ts">
		<%= activity.targetable.marker_list.map { |m| link_to m.titleize, :controller => "listings", :action => "index", :search => m }.join(' ').html_safe %>
	</div>

	<div class="act_l_av">
		<% if activity.targetable.feature.content_type =~ /^image\/(png|gif|jpeg)/ %>
		    	<%= link_to image_tag(activity.targetable.feature.url(:index)), activity.targetable, title: activity.targetable.title, alt: activity.targetable.title %>
	    <% end %>

	    <% if activity.targetable.feature.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
	    	<% if activity.targetable.cover? %>
	          	<div id='lstgs_art' style="background-image: url(<%= activity.targetable.cover.url(:cover) %>)">
	        <% else %>
	        	<div id='lstgs_art' style="background-image: url('/assets/Listing Audio Activity.png')">
	        <% end %>
	          <div class="ui360 ui360-vis lstgs">
	            <%= link_to '', activity.targetable.feature.url %>
	          </div>
	        </div>
	    <% end %>
	</div>

	<% if member_signed_in? %> 
		<div id="act_btn_wrap">
			<span id="comment_act_btn">

				<% if activity.targetable.comments.count > 0 && activity.targetable.comments.count <= 99 %>
					<%= link_to listing_path(activity.targetable_id), title: "Comment", alt: "Comment", :class => "btn comment" do %>
						<%= image_tag("Comment 3.png", class: "act_actions") %><%= activity.targetable.comments.count %>
					<% end %>
				<% elsif activity.targetable.comments.count > 99 %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions") + '99+', listing_path(activity.targetable_id), title: "Comment", alt: "Comment", :class => "btn comment" %>
				<% else %>
					<%= link_to image_tag("Comment 3.png", class: "act_actions"), listing_path(activity.targetable_id), title: "Comment", alt: "Comment", :class => "btn comment" %>
				<% end %>

				<span id="act_fav_<%= activity.id %>_<%= activity.member.id %>">
					<%= render :partial => "activities/favorite", :locals => {:activity => activity} %>	
				</span>

				<% if activity.member == current_member %>
					<span class="ad">
						<%= link_to image_tag("Trash.png",  class: "act_actions"), activity_path(activity), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", alt: "Delete", :class => "btn more" %>
					</span>
				<% end %>
				
			</span>
		</div>
	<% end %>

	<div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="sharemodallabel">Copy Listing URL</h3>
	    </div>
	    <div class="modal-body pi">
	      <input class="pr_in forms" value="<%= project_url(activity.targetable_id) %>" />
	    </div>
	</div>

</div> 