<div id="nav_bar">  
   <div class="nav_container">

        <% unless member_signed_in? %>
            <div class="nav_links">
                <%= link_to "Login", sign_in_path, :class => "member_links l_out" %>
                <%= link_to "Join!", join_path, :class => "member_links l_out" %>
            </div>
        <% end %>

        <% if member_signed_in? %>
            <div class="nav_links2">

                <%= link_to search_path, title: "Discover", alt: "Discover", :class => "" do %>
                    <i class="fa fa-compass nav_icons discover"></i>
                <% end %>

                <%= link_to conversations_path, title: "Conversations", alt: "Conversations", :class => "" do %>
                    <% if current_member.mailbox.inbox({:read => false}).count == 0 %>
                        <i class="fa fa-comments nav_icons convos"></i>
                    <% else %>
                        <i class="fa fa-comments nav_icons convos unread"></i>
                    <% end %>    
                <% end %> 

                <span id="ntfs">
                    <%= link_to notifications_path, title: "Notifications", alt: "Notifications", :class => "" do %>
                        <% if current_member.mailbox.notifications({:read => false}).count == 0 %>
                            <i class="fa fa-bell nav_icons notifications"></i>
                        <% else %>
                            <i class="fa fa-bell nav_icons notifications unread"></i>
                        <% end %>
                    <% end %>
                </span>
                


                <span class="mem_drop">
                    <span class="btn-group">
                        <%= link_to image_tag(current_member.avatar.url(:av), :class => "nav_av ", title: current_member.full_name, id: ""), "#member-menu", :data => {:toggle => "modal"} %>
                        <ul class="dropdown-menu member">
                            <li>
                                <%= link_to 'View My Profile', profile_path(current_member), class: 'menu_name' %>
                            </li>
                            <li class="">
                                <%= link_to 'Account Settings'.html_safe, edit_member_path, class: 'top_links a' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-arrow-circle-right fw"></i>Following'.html_safe, profile_following_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-arrow-circle-left fw"></i>Followers'.html_safe, profile_followers_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-th fw"></i>Stream'.html_safe, profile_stream_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-music fw"></i>Media'.html_safe, profile_media_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-th-list fw"></i>Market'.html_safe, profile_market_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-dot-circle-o fw"></i>Events'.html_safe, profile_events_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l grey_bottom">
                                <%= link_to '<i class="fa fa-rocket fw"></i>Projects'.html_safe, profile_projects_path(current_member), class: 'bottom_links' %>
                            </li>
                            <li class="fa_l s_out">
                                <%= link_to '<i class="fa fa-power-off fw"></i>Logout'.html_safe, sign_out_path, class: 'top_links sign_out' %>
                            </li>
                        </ul>
                    </span>
                </span>

                
            </div>
        <% end %>

        <div class="primary_nav">
            <span class="txt">
                <%= link_to "Media", media_path, alt: 'Media', class: "#{cp(media_path)}" %>
            </span>
            <span class="txt">
                <%= link_to "Market", market_path, alt: 'Market', class: "#{cp(market_path)}" %>
            </span>
            <span class="txt">
                <%= link_to "Events", events_path, alt: 'Events', class: "#{cp(events_path)}" %>
            </span>
            <span class="txt">
                <%= link_to "Projects", projects_path, alt: 'Projects', class: "#{cp(projects_path)}" %>
            </span>
        </div>

        <div class="primary_nav2">
            <span class="txt">
                <%= link_to "Mkt", market_path, title: 'Market', alt: 'Market', class: "#{cp(market_path)}" %>
            </span>
            <span class="txt">
                <%= link_to "Mda", media_path, title: 'Media', alt: 'Media', class: "#{cp(media_path)}" %>
            </span>
            <span class="txt">
                <%= link_to "Evt", events_path, title: 'Events', alt: 'Events', class: "#{cp(events_path)}" %>
            </span>
            <span class="txt">
                <%= link_to "Pjt", projects_path, title: 'Projects', alt: 'Projects', class: "#{cp(projects_path)}" %>
            </span>
        </div>

        <% if member_signed_in? %>
            <div class='nav_search'>
                <%= render partial: 'search/search' %>
            </div>
        <% else %>
            <div class='nav_search l_o'>
                <%= render partial: 'search/search' %>
            </div>
        <% end %>

    </div>

    <div style="clear:both;"></div>
</div>