<div class="query_menu">
    <span class="">
        <%= link_to image_tag("Menu.png", :class => "nav_icon_menu", title: "Menu", alt: "Menu", id: ""), "/page.html", :data => { :toggle=>"dropdown", :target=>"#" } %>
        <ul class="dropdown-menu">
        	<li>
        		<% if member_signed_in? %>
                    <%= link_to(profile_path(current_member)) do %>
                    	<i class="icon-home icon-grey"></i> Home
                    <% end %>
                <% else %>
                    <%= link_to(root_path) do %>
                    	<i class="icon-home icon-grey"></i> Home
                    <% end %>
                <% end %>
        	</li>
        	<li>
        		<%= link_to(community_path) do %>
        			<i class="icon-globe icon-grey"></i> Community
        		<% end %>	
        	</li>
        	<li>
        		<%= link_to(market_path) do %>
        			<i class="icon-th-list icon-grey"></i> Market
        		<% end %>
        	</li>
        	<li>
        		<%= link_to(events_path) do %>
        			<i class="icon-calendar icon-grey"></i> Events
        		<% end %>
        	</li>
        	<li>
        		<%= link_to(projects_path) do %>
        			<i class="icon-bullhorn icon-grey"></i> Projects
        		<% end %>
        	</li>
        </ul>
    </span>
</div>