<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "LLF | Haven for the Bold" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon 2.ico' %>
</head>
<body>

<%= render :partial => "layouts/menu" %>
 
<div id="pagewrap" style="padding-top:54px;">
	<% unless notice.blank? && alert.blank? %>
		<% flash.each do |type, message| %>
		  <div class="alert <%= flash_class type %>">
		    <button class="close" data-dismiss="alert">x</button>
		    <%= message %>
		  </div>
		<% end %>
	<% end %>

	<%= yield %>		

	<div id="footer_wrap">
		
		<div id="footer_top" class="box_font"> 
			<%= link_to "FAQ's", faqs_path %> &#8226; 
			<%= link_to "Contact Us", contact_us_path %> &#8226; 
			<%= link_to "Terms", terms_path %> &#8226; 
			<%= link_to "Privacy", privacy_path %> &#8226; 
			<a href="http://livinglifefearless.com/blog">BLOG</a> &#8226; 
			<a href="http://havenforthebold.tv/" class="bold_tv">BOLD.TV</a>	
		</div>
	  
		<div id="footer_bottom" class="box_font">
			LLF &copy; 2014 
		</div>

	</div>

<!--/footer-->

	<a href="#" class="scrollup">Scroll</a>

</div>

<!--/pagewrap-->

</body>
</html>
