<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "LLF | Haven for the Bold" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>



    <div id="nav_bar">  
       <div class="primary_nav">
            <% if member_signed_in? %>
                <%= link_to "Home", profile_path(current_member) %>
            <% else %>
                <%= link_to "Home", root_path %>
            <% end %>
            <a href="#">Community</a>
            <a href="#">Events</a>
            <a href="#">Projects</a>
            <a href="#">Market</a>
        </div> 

        <div class="nav_links">
            <% if member_signed_in? %>
                <div id="member_menu_wrap">
                    <%= avatar_profile_link current_member, :class => "nav_av" %>
                    <%= link_to current_member.full_name, profile_path(current_member), :class => "member_links" %>
                </div>
                <%= link_to image_tag("Notification 2.png", :class => "nav_icons notifications"), "#" %>
                <%= link_to image_tag("Messages.png", :class => "nav_icons messages"), "#" %>
            <% else %>
                <%= link_to "Sign In", sign_in_path, :class => "member_links" %>
                <%= link_to "Join!", join_path, :class => "member_links" %>
            <% end %>
        </div>

        <div style="clear:both;"></div>
    </div>

    <% if member_signed_in? %>
        <%= render :partial => "profiles/member_menu" %>
    <% end %>
 
<div id="pagewrap" style="padding-top:60px;">
    <% unless notice.blank? && alert.blank? %>
        <% flash.each do |type, message| %>
          <div class="alert <%= flash_class type %>">
            <button class="close" data-dismiss="alert">x</button>
            <%= message %>
          </div>
        <% end %>
    <% end %>

    <%= render partial: 'profiles' %>

    <div id="footer_wrap">
        
        <div id="footer_top" class="box_font">
            <%= link_to "Spotlights", spotlights_path %> &#8226; 
            <%= link_to "Contests", contests_path %> &#8226; 
            <%= link_to "FAQ's", faqs_path %> &#8226; 
            <%= link_to "Contact Us", contact_us_path %> &#8226; 
            <%= link_to "Terms", terms_path %> &#8226; 
            <%= link_to "Privacy", privacy_path %> &#8226; 
            <a href="http://livinglifefearless.com/blog">BLOG</a> &#8226; 
            <a href="http://havenforthebold.tv/" class="bold_tv">BOLD.TV</a>    
        </div>
      
        <div id="footer_bottom" class="box_font">
            LLF &copy; 2014 
        </div>

    </div>

<!--/footer-->

    <a href="#" class="scrollup">Scroll</a>

</div>

<!--/pagewrap-->

</body>
</html>
<!--/main_wrap-->
