<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %>
    <script src="http://cdn.embed.ly/jquery.embedly-3.1.2.min.js" type="text/javascript"></script>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </head>

  <body>

  <div id="site_header">
    <div class="header_logo">
      <%= link_to "THE COLLECTIVV", root_path, :class => "" %>
    </div>
  </div>

  <%= render :partial => "layouts/menu" %>
   
  <div id="pagewrap">
      <% unless notice.blank? && alert.blank? %>
          <% flash.each do |type, message| %>
            <div class="alert <%= flash_class type %>">
              <button class="close" data-dismiss="alert">x</button>
              <%= message %>
            </div>
          <% end %>
      <% end %>

      <%= render partial: 'profiles' %>

      <div id="footer_wrap">
        <div id="footer_logo">
          <%= link_to image_tag("Site-Icon-TP-White-2.png", class: ""), root_path, :class => "" %>
        </div>
          
        <div id="footer_top" class="box_font"> 
          <span class="bottom_links"><%= link_to "FAQ'S", faqs_path %></span>
          <span class="bottom_links">/</span>
          <span class="bottom_links"><%= link_to "CONTACT US", "#contact", :data => {:toggle => "modal"} %></span>
          <span class="bottom_links">/</span>
          <span class="bottom_links"><%= link_to "TERMS", terms_path %></span>
          <span class="bottom_links">/</span>
          <span class="bottom_links"><%= link_to "PRIVACY", privacy_path %></span>
          <span class="bottom_links">/</span>
          <span class="bottom_links"><a href="https://livinglifefearless.co/">LIVING LIFE FEARLESS</a></span> 
        </div>
        
        <div id="footer_bottom" class="box_font">
          COPYRIGHT 2017 LIVING LIFE FEARLESS
        </div>

      </div>

  <!--/footer-->

      <a href="#" class="scrollup" title="Top" alt="Top">Scroll</a>

  </div>

  <div class="s_modal">
      <div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
        <div class="mod_close">
            <%= link_to '<i class="fa fa-times"></i>'.html_safe, "javascript:void(0);", :data => {:dismiss => "modal"} %>
        </div>
        <div class="modal-body pi">
          <div class="contact_links">
            <%= link_to image_tag("LLF-3.png", class: "acct_imgs", title: "LIVING LIFE FEARLESS".html_safe, alt: "LIVING LIFE FEARLESS"), "https://livinglifefearless.co" %>
            <%= link_to image_tag("FB-4.png", class: "acct_imgs", title: "Facebook", alt: "Facebook"), "https://www.facebook.com/livinglifefearless" %>
            <%= link_to image_tag("Twitter-4.png", class: "acct_imgs", title: "Twitter", alt: "Twitter"), "https://twitter.com/llfofficial" %>
            <%= link_to image_tag("Youtube-4.png", class: "acct_imgs", title: "YouTube", alt: "YouTube"), "https://youtube.com/c/livinglifefearless" %>
            <%= link_to image_tag("Instagram-4.png", class: "acct_imgs", title: "Instagram", alt: "Instagram"), "http://instagram.com/livinglifefearless/" %>
          </div>
          
          <div class="contact_email">
            <div id="custom-input">
                <div class="input-group col-md-12">
                    <input class="pr_in forms" value="support@livinglifefearless.co" onclick="this.select()" />
                </div>
            </div>      
          </div>
          
        </div>
      </div>
  </div>

  <% if member_signed_in? %>
    <div class="">
        <div id="member-menu" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
          <div class="mod_close">
            <%= link_to '<i class="fa fa-times"></i>'.html_safe, "javascript:void(0);", :data => {:dismiss => "modal"} %>
          </div>
          <div class="modal-body mem_modalb">
            <div class="modal_av">
              <%= link_to image_tag(current_member.avatar.url(:large2), id: "", :class => " ", title: "View My Profile", alt: "View My Profile"), profile_path(current_member) %>
            </div>
            <div class="">
              <div class="mem_acct">
                  <%= link_to 'ACCOUNT SETTINGS', edit_member_path, class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'FOLLOWING', profile_following_path(current_member), class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'FOLLOWERS', profile_followers_path(current_member), class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'STREAM', profile_stream_path(current_member), class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'MEDIA', profile_media_path(current_member), class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'MARKET', profile_market_path(current_member), class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'EVENTS', profile_events_path(current_member), class: '' %>
              </div>
              <div class="mem_links">
                  <%= link_to 'PROJECTS', profile_projects_path(current_member), class: '' %>
              </div>
              <div class="s_out">
                  <%= link_to 'LOG OUT', sign_out_path, class: '' %>
              </div>
            </div>
            
          </div>
        </div>
    </div>
  <% end %>

  <!--/pagewrap-->

  <% if member_signed_in? %>
    <%= javascript_tag do %>
      window.messageCount = <%= current_member.mailbox.inbox({:read => false}).count %>
    <% end %>

    <%= javascript_tag do %>
      window.notificationCount = <%= current_member.mailbox.notifications({:read => false}).count %>
    <% end %>
  <% else %>
    <%= javascript_tag do %>
      window.messageCount = 0
    <% end %>

    <%= javascript_tag do %>
      window.notificationCount = 0
    <% end %>
  <% end %>

  <% if member_signed_in? %>
  
    <%= javascript_tag do %>

      data = <%= raw current_member.following_members.pluck(:user_name).sort_by{rand}.compact.to_json %>;

      $('#update_box').atwho({at:"@", 'data':data, limit: 25});
      $('#comment_box').atwho({at:"@", 'data':data, limit: 25});
      $('#cap_box').atwho({at:'@', 'data':data, limit: 25});

    <% end %>

  <% end %>

  </body>
</html>