<% title "LLF | Members" %>

<div id ="main_wrap">

	<%= form_tag members_path, :method => :get do %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>

<% if @members.empty? || query == nil %>
	<span>No results found.</span>
<% elsif !query.empty? %>
	<div><%= query %></div>	
	<div id="member_list_wrap">
		<%= render partial: 'members' %>
	</div>
<% end %>

</div>